Repository open-telemetry/opentelemetry.io, pull requests merged in 2022-12, with the labels that each got.

#2076 add tabbed content to instrumentation in js
  content/en/docs/instrumentation/js/instrumentation.md
Labels: sig:javascript

#2030 Manual setup example in Java is incomplete
  content/en/docs/instrumentation/java/manual.md
Labels: sig:java

#2096 Add blog post: Running the OpenTelemetry Demo App on Nomad
  content/en/blog/2022/otel-demo-app-nomad/consul-service-health.png
  content/en/blog/2022/otel-demo-app-nomad/docker-desktop-resources-config.png
  content/en/blog/2022/otel-demo-app-nomad/featureflag.png
  content/en/blog/2022/otel-demo-app-nomad/grafana-1.png
  content/en/blog/2022/otel-demo-app-nomad/grafana-2.png
  content/en/blog/2022/otel-demo-app-nomad/hashiqube-startup-sequence.png
  content/en/blog/2022/otel-demo-app-nomad/index.md
  content/en/blog/2022/otel-demo-app-nomad/jaeger-service-list.png
  content/en/blog/2022/otel-demo-app-nomad/jaeger.png
  content/en/blog/2022/otel-demo-app-nomad/loadgen.png
  content/en/blog/2022/otel-demo-app-nomad/nomad-jobs-startup.png
  content/en/blog/2022/otel-demo-app-nomad/nomad-started.png
  content/en/blog/2022/otel-demo-app-nomad/otel-demo-app-ui.jpg
  content/en/blog/2022/otel-demo-app-nomad/phoebe-basket.jpg
  content/en/blog/2022/otel-demo-app-nomad/toronto-cityscape.jpg
Labels: blog

#2112 adjust-spec: process img paths of schemas index page
  .vscode/cspell.json
  scripts/adjust-spec-pages.pl
Labels: infrastructure

#2100 Adding eBay enduser migration to OTEL blog post
  content/en/blog/2022/why-and-how-ebay-pivoted-to-opentelemetry/cluster-local.jpeg
  content/en/blog/2022/why-and-how-ebay-pivoted-to-opentelemetry/config.jpeg
  content/en/blog/2022/why-and-how-ebay-pivoted-to-opentelemetry/daemonset.jpeg
  content/en/blog/2022/why-and-how-ebay-pivoted-to-opentelemetry/header.jpeg
  content/en/blog/2022/why-and-how-ebay-pivoted-to-opentelemetry/index.md
Labels: blog

#2119 Hugo 0.108.0 upgrade
  package.json
Labels: infrastructure
