Repository open-telemetry/opentelemetry.io, pull requests merged in 2022-10, with the labels that each got.

#1780 Community Manager Announcement Post
  content/en/blog/2022/announcing-community-manager.md
Labels: blog

#1810 Create OTel Unplugged Blog
  content/en/blog/2022/otel-unplugged-kubecon-na.md
Labels: blog

#1828 Move end-user.md to end-user/index.md
  content/en/community/end-user/_index.md
Labels: cleanup/refactoring, sig:enduser

#1831 Hugo and deps upgrade
  package.json
Labels: dependencies, infrastructure

#1826 Initial content for demo page
  .github/CODEOWNERS
  content/en/community/demo.md
  content/en/community/demo/_index.md
Labels: docs, sig:demo

#1814 Create blog post on OpenTelemetry at Kubecon NA
  .vscode/cspell.json
  content/en/blog/2022/kubecon-na.md
Labels: blog

#1825 Move mission page to community
  content/en/_index.md
  content/en/community/mission.md
Labels: cleanup/refactoring

#1723 Consolidate and remove duplicate tracing JS content
  content/en/docs/concepts/signals/traces.md
  content/en/docs/instrumentation/js/api/tracing.md
  content/en/docs/instrumentation/js/instrumentation.md
Labels: sig:javascript

#1858 Add status values for ruby to yaml
  data/instrumentation.yaml
Labels: sig:ruby

#1857 Add initial version of C++ Getting Started, Manual & Exporters
  content/en/docs/instrumentation/cpp/_index.md
  content/en/docs/instrumentation/cpp/exporters.md
  content/en/docs/instrumentation/cpp/getting-started.md
  content/en/docs/instrumentation/cpp/manual.md
Labels: docs, sig:cpp

#1778 [blog] Collector builder sample repo from GCP
  content/en/blog/2022/collector-builder-sample/index.md
Labels: blog

#1869 Add metrics to cpp docs
  content/en/docs/instrumentation/cpp/manual.md
Labels: docs, sig:cpp

#1876 Fix dates for KubeCon NA
  content/en/blog/2022/kubecon-na.md
Labels: p1-high, blog

#1847 opamp-usage blog
  content/en/blog/2022/opamp/index.md
  content/en/blog/2022/opamp/opamp_server_agent_config.png
  content/en/blog/2022/opamp/opamp_server_no_agents.png
  content/en/blog/2022/opamp/opamp_server_supervisor_agent_relations.png
Labels: blog

#1870 Add prometheus exporter to c++ docs
  content/en/docs/instrumentation/cpp/exporters.md
Labels: sig:cpp

#1860 started maunal doc for swift sdk
  content/en/docs/instrumentation/swift/manual.md
Labels: sig:swift

#1871 Add a note about ootb metrics to python getting started.
  content/en/docs/instrumentation/python/getting-started.md
Labels: sig:python

#1926 Start all alias paths with a slash
  content/en/docs/instrumentation/java/automatic/_index.md
  content/en/docs/instrumentation/java/manual.md
Labels: cleanup/refactoring

#1868 Add independent and root span section to .NET shim
  content/en/docs/instrumentation/net/shim.md
Labels: sig:dotnet
