Repository open-telemetry/opentelemetry.io, pull requests merged in 2022-09, with the labels that each got.

#1677 Added Kafka clients instrumentation blog post
  content/en/blog/2022/instrument-kafka-clients/index.md
  content/en/blog/2022/instrument-kafka-clients/receive-process-spans-agent.png
  content/en/blog/2022/instrument-kafka-clients/send-receive-spans.png
  content/en/blog/2022/instrument-kafka-clients/send-span-agent.png
Labels: blog

#1684 blog: exposing openTelemetry collector
  content/en/blog/2022/k8s-otel-expose.md
  content/en/blog/2022/k8s-otel-expose/jaeger-ui-remote-cluster.png
  content/en/blog/2022/k8s-otel-expose/overview-diagram-source.md
  content/en/blog/2022/k8s-otel-expose/overview-diagram.png
Labels: blog

#1708 Add getActiveSpan to docs
  content/en/docs/instrumentation/js/instrumentation.md
Labels: sig:javascript

#1735 Use consistent function declarations in JS code samples
  content/en/docs/instrumentation/js/instrumentation.md
Labels: sig:javascript

#1736 [JS Docs] Add instrumentation libraries doc
  content/en/docs/instrumentation/js/examples.md
  content/en/docs/instrumentation/js/exporters.md
  content/en/docs/instrumentation/js/instrumentation.md
  content/en/docs/instrumentation/js/libraries.md
Labels: sig:javascript

#1682 Elixir testing doc
  content/en/docs/instrumentation/erlang/testing.md
Labels: sig:erlang

#1744 Add instructions for web tracer & exporting
  content/en/docs/instrumentation/js/exporters.md
Labels: sig:javascript

#1759 java version as variable
  content/en/docs/instrumentation/java/_index.md
  content/en/docs/instrumentation/java/automatic/annotations.md
Labels: sig:java

#1758 bump collector version (0.60.0)
  content/en/docs/collector/getting-started.md
Labels: sig:collector

#1704 Changes for jaeger otlp support in .NET
  content/en/docs/instrumentation/net/exporters.md
Labels: sig:dotnet, sig:python

#1767 Add section about resource detection to Node.JS
  content/en/docs/instrumentation/js/examples.md
  content/en/docs/instrumentation/js/resources.md
Labels: sig:javascript

#1760 Add documentation landing page for k8s operator
  .github/CODEOWNERS
  content/en/docs/k8s-operator/_index.md
Labels: sig:operator

#1721 [blog] How we used OpenTelemetry to fix a bug in OpenTelemetry
  content/en/blog/2022/debug-otel-with-otel/index.md
  content/en/blog/2022/debug-otel-with-otel/jaeger-with-request-headers.png
Labels: blog

#1727 Add tail sampling blog post
  content/en/blog/2022/tail-sampling/backend_visual_errors_and_random.png
  content/en/blog/2022/tail-sampling/backend_visual_errors_only.png
  content/en/blog/2022/tail-sampling/index.md
  content/en/blog/2022/tail-sampling/tail_sampling_process.png
  content/en/blog/2022/tail-sampling/traces_venn_diagram.png
Labels: blog

#1732 Unify page head for language instrumentations.
  content/en/docs/instrumentation/cpp/_index.md
  content/en/docs/instrumentation/erlang/_index.md
  content/en/docs/instrumentation/php/_index.md
  content/en/docs/instrumentation/rust/_index.md
  content/en/docs/instrumentation/swift/_index.md
  data/instrumentation.yaml
  layouts/shortcodes/lang_instrumentation_index_head.md
Labels: sig:cpp, sig:erlang, sig:php, sig:rust, sig:swift
