Repository open-telemetry/opentelemetry.io, pull requests merged in 2023-11, with the labels that each got.

#3492 [CI] Textlint: allow `.java`
  .textlintrc.json
Labels: infrastructure

#3494 [infra] Update Hugo to 0.120.3 and netlify-cli
  package.json
Labels: infrastructure

#3497 [CI] Textlint: properly check for Java capitalization & more
  .textlintrc.json
  content/en/blog/2022/debug-otel-with-otel/index.md
  content/en/docs/instrumentation/java/manual.md
Labels: infrastructure

#3491 [CI] Textlint repo `.md` files, and new link-checker
  .markdown-link-check.json
  CONTRIBUTING.md
  README.md
  package.json
Labels: infrastructure

#3506 Drop entries from the refcache that have status 4XX
  gulp-src/prune.js
  static/refcache.json
Labels: infrastructure, cleanup/refactoring

#3504 [CI] Upgrade textlint-rule-terminology to bring in patch
  package.json
Labels: infrastructure

#3526 Add make start-odd command in Docker deployment
  content/en/docs/demo/docker-deployment.md
Labels: sig:demo

#3436 Blog Post: Announcing the OTel Arrow Protocol
  content/en/blog/2023/otel-arrow/average-improvement-heatmap.png
  content/en/blog/2023/otel-arrow/index.md
  content/en/blog/2023/otel-arrow/otel-arrow-collector.png
  content/en/blog/2023/otel-arrow/otel-arrow.png
  content/en/blog/2023/otel-arrow/row-vs-columnar.png
  content/en/blog/2023/otel-arrow/traffic-reduction.png
  static/refcache.json
Labels: blog

#3540 Rename collectorVersion param, following Java rework
  .github/workflows/auto-update-versions.yml
  content/en/docs/collector/_index.md
  content/en/docs/collector/custom-collector.md
  content/en/docs/collector/getting-started.md
  content/en/docs/collector/installation.md
  content/en/docs/collector/trace-receiver.md
Labels: infrastructure, cleanup/refactoring, sig:collector

#3545 blog post: OTel integration for Otterize network mapper
  content/en/blog/2023/otterize-otel/index.md
  content/en/blog/2023/otterize-otel/otterize-otel.png
  static/refcache.json
Labels: blog

#3560 Drop custom SCSS now provided by Docsy 0.7.2
  assets/scss/_styles_project.scss
  content/en/docs/instrumentation/erlang/exporters.md
  content/en/docs/instrumentation/erlang/getting-started.md
  content/en/docs/instrumentation/erlang/manual.md
  content/en/docs/instrumentation/erlang/propagation.md
  content/en/docs/instrumentation/erlang/resources.md
  content/en/docs/instrumentation/erlang/sampling.md
  content/en/docs/instrumentation/erlang/testing.md
  content/en/docs/instrumentation/js/exporters.md
  content/en/docs/instrumentation/js/getting-started/nodejs.md
  content/en/docs/instrumentation/js/manual.md
Labels: cleanup/refactoring, design/style

#3563 [CI] Bump up the refcache expiry limit
  .htmltest.yml
Labels: infrastructure

#3564 (Re)add automatic getting started for .NET
  content/en/docs/instrumentation/net/automatic/getting-started.md
  content/en/docs/instrumentation/net/getting-started.md
Labels: sig:dotnet

#3571 Fix(doc): demo code bug for TS/JS
  content/en/docs/instrumentation/js/libraries.md
Labels: sig:demo

#3557 inits logs collection blog post
  content/en/blog/2023/logs-collection/index.md
  static/refcache.json
Labels: blog

#3572 [CI] Upgrade GH actions to latest versions
  .github/workflows/auto-update-versions.yml
  .github/workflows/check-format.yml
  .github/workflows/check-links.yml
  .github/workflows/check-spelling.yml
  .github/workflows/check-text.yml
  .github/workflows/pr-actions.yml
Labels: infrastructure

#3360 Add logs to python getting started
  content/en/docs/instrumentation/python/getting-started.md
Labels: sig:python

#3562 Update missing log docs for C++
  content/en/docs/instrumentation/cpp/manual.md
Labels: sig:cpp

#3470 Add performance testing blog post
  content/en/blog/2023/perf-testing/index.md
  content/en/blog/2023/perf-testing/java-benchmark-results.png
  content/en/blog/2023/perf-testing/js-benchmark-results.png
  static/refcache.json
Labels: blog

#3443 Fix Collector configuration issues
  content/en/docs/collector/configuration.md
Labels: sig:collector

#3558 Rework the java exporters page
  content/en/docs/instrumentation/java/exporters.md
  static/refcache.json
Labels: sig:java

#3593 Fix pr actions, part 2
  .github/workflows/pr-actions.yml
Labels: infrastructure

#3606 Update manual.md
  content/en/docs/instrumentation/php/manual.md
Labels: sig:php
