Repository open-telemetry/opentelemetry.io, pull requests merged in 2023-12, with the labels that each got.

#3627 doc: Remove `/v1/traces` from OTEL_EXPORTER_OTLP_ENDPOINT
  content/en/docs/instrumentation/ruby/exporters.md
Labels: sig:ruby

#3561 Update missing log docs for .NET
  content/en/docs/instrumentation/net/manual.md
Labels: sig:dotnet

#3629 Add script to scan cspell ignore lists
  scripts/cspell-ignore-scanner
Labels: infrastructure

#3653 Drop obsolete hugo config param
  hugo.yaml
Labels: infrastructure, cleanup/refactoring

#3609 Fix for OTEL-3607
  content/en/docs/instrumentation/python/getting-started.md
Labels: bug, sig:python

#3655 Pin werkzeug version to fix python getting started issue
  content/en/docs/instrumentation/python/getting-started.md
Labels: sig:python

#3483 Update Collector configuration telemetry section
  content/en/docs/collector/configuration.md
Labels: sig:collector, sig-approval-missing

#3612 Add blog spot for Spring native images
  content/en/blog/2023/spring-native/index.md
  static/refcache.json
Labels: blog

#3659 Add CVE page
  content/en/docs/security/_index.md
  content/en/docs/security/cve.md
  static/refcache.json
Labels: sig:security

#3583 Use `/v1/traces` in http endpoint for .NET exporters doc
  content/en/docs/instrumentation/net/exporters.md
Labels: sig:dotnet

#3677 Update 'runtime-metrics' to 'runtime-telemetry'
  content/en/docs/instrumentation/java/automatic/agent-config.md
Labels: sig:java

#3680 Add 'Building' section to collector docs
  content/en/docs/collector/building/_index.md
  content/en/docs/collector/building/authenticator-extension.md
  content/en/docs/collector/building/connector.md
  content/en/docs/collector/building/receiver.md
  content/en/docs/collector/configuration.md
  content/en/docs/collector/distributions.md
Labels: sig:collector

#3657 Update signals concept page
  content/en/docs/acknowledgements/_index.md
  content/en/docs/concepts/signals/_index.md
  content/en/docs/concepts/signals/baggage.md
  content/en/docs/concepts/signals/metrics.md
  content/en/docs/concepts/signals/traces.md
Labels: bug, docs

#3672 Add BOM definition to the OTel starter
  content/en/docs/instrumentation/java/automatic/spring-boot.md
  static/refcache.json
Labels: sig:java

#3675 add security incident response process
  content/en/docs/security/security-response.md
  static/refcache.json
Labels: sig:security

#3524 Update tutorials of both "Building a custom collector" and "Building a Trace Receiver"
  content/en/docs/collector/building/receiver.md
  content/en/docs/collector/custom-collector.md
  static/refcache.json
Labels: sig:collector

#3515 Rework the python exporters page
  content/en/docs/instrumentation/python/exporters.md
  static/refcache.json
Labels: sig:python, sig-approval-missing

#3704 Add new blog post for Humans of OTel recap
  content/en/blog/2023/humans-of-otel.md
  static/refcache.json
Labels: blog
