Repository open-telemetry/opentelemetry.io, pull requests merged in 2024-04, with the labels that each got.

#4228 [CI] Address PR-action workflow submodule problem: commit not found
  .github/workflows/pr-actions.yml
  .gitmodules
Labels: CI/infra

#4235 [CI] Ensure check-text GHA jobs use proper node version
  .github/workflows/check-text.yml
Labels: CI/infra

#4238 Normalize vendors.yaml, and don't spell-check it
  .cspell.yml
  data/ecosystem/vendors.yaml
Labels: CI/infra, cleanup/refactoring

#4232 CONTRIBUTING: link to website page not repo src
  CONTRIBUTING.md
Labels: copyedit

#4244 Update example.md
  content/en/docs/languages/python/automatic/example.md
Labels: copyedit

#4250 Removes deprecated ErrNilNextConsumer and solves type error for typeStr
  content/en/docs/collector/building/receiver.md
Labels: sig:collector

#4214 Added loadgeneratorFloodHomepage flag description to docs
  content/en/docs/demo/feature-flags.md
Labels: sig:demo

#4270 Add adServiceHighCpu featureflag to the demo docs
  content/en/docs/demo/feature-flags.md
Labels: sig:demo

#4261 [demo] add trace links to fraud detection service
  content/en/docs/demo/telemetry-features/trace-coverage.md
Labels: sig:demo

#4182 Blog: Scaling OpenTelemetry Collectors using Ansible
  content/en/blog/2024/scaling-collectors.md
  static/refcache.json
Labels: blog

#4273 Demo imageprovider docs
  content/en/docs/demo/_index.md
  content/en/docs/demo/architecture.md
  content/en/docs/demo/services/imageprovider.md
Labels: sig:demo

#4258 add note about default protocol of spring boot starter
  content/en/docs/languages/java/automatic/configuration.md
  content/en/docs/languages/java/automatic/spring-boot.md
Labels: sig:java

#4148 Add OTel Operator status section
  content/en/status.md
Labels: sig:operator

#4016 Dotnet exporters update 2
  content/en/docs/languages/net/automatic/_index.md
  content/en/docs/languages/net/automatic/configuration.md
  content/en/docs/languages/net/automatic/getting-started.md
  content/en/docs/languages/net/automatic/troubleshooting.md
  content/en/docs/languages/net/exporters.md
  layouts/shortcodes/docs/languages/exporters/intro.md
  layouts/shortcodes/docs/languages/exporters/jaeger.md
  layouts/shortcodes/docs/languages/exporters/outro.md
  static/refcache.json
Labels: sig:dotnet

#4310 Dotnet exporters update 3
  content/en/docs/languages/net/exporters.md
Labels: sig:dotnet

#4105 Create blog post about errors in OpenTelemetry
  content/en/blog/2024/otel-errors/OTel-spans.png
  content/en/blog/2024/otel-errors/index.md
  content/en/blog/2024/otel-errors/jaeger-error.png
  content/en/blog/2024/otel-errors/jaeger-high-level-view.png
  content/en/blog/2024/otel-errors/penguin-chalkboard.jpg
  static/refcache.json
Labels: blog

#3906 add comments of springboot 3.0 minimum JDK version
  content/en/docs/languages/java/instrumentation.md
  static/refcache.json
Labels: sig:java

#4321 include more detail in the ToC on right side
  hugo.yaml
Labels: ux

#4282 howto configure exporter programmatically in spring starter
  content/en/docs/languages/java/automatic/spring-boot.md
Labels: sig:java

#4199 [feature]: Add sampling documentation for java
  content/en/docs/languages/java/sampling.md
Labels: sig:java

#4356 remove experimental label on stdout metrics export
  content/en/docs/languages/go/exporters.md
Labels: sig:go

#4317 Update java libraries page to use intro shortcode
  content/en/docs/languages/java/libraries.md
  data/ecosystem/integrations.yaml
Labels: sig:java

#4357 add console log export details for go
  content/en/docs/languages/go/exporters.md
  static/refcache.json
Labels: sig:go

#4364 Go exporter copyedits: make Console exporter subsections consistent
  content/en/docs/languages/go/exporters.md
Labels: copyedit, sig:go

#4358 add example for exporting logs over otlp + http
  content/en/docs/languages/go/exporters.md
  static/refcache.json
Labels: sig:go

#4363 [kubernetes] Update helm install commands
  content/en/docs/kubernetes/getting-started.md
  content/en/docs/kubernetes/helm/collector.md
  content/en/docs/kubernetes/helm/operator.md
Labels: sig:helm

#4320 spring starter now includes more resource providers
  content/en/docs/languages/java/automatic/spring-boot.md
Labels: sig:java

#4372 Edit instrumentation libraries pages: Swift
  content/en/docs/languages/swift/libraries.md
Labels: sig:swift

#4371 Add missing using instrumentation libraries pages: Erlang/Elixir
  content/en/docs/languages/erlang/libraries.md
  static/refcache.json
Labels: sig:erlang

#4370 Add missing using instrumentation libraries pages: PHP
  content/en/docs/languages/php/libraries.md
Labels: sig:php

#4379 OpenTelemetry .NET Automatic Instrumentation v1.6.0
  content/en/docs/languages/net/automatic/instrumentations.md
  content/en/docs/languages/net/automatic/nuget-packages.md
  content/en/docs/languages/net/automatic/troubleshooting.md
Labels: sig:dotnet

#4392 Upgrade to Hugo 0.125.4 + temp template
  layouts/_internal/google_analytics_async.html
  package.json
Labels: dependencies, CI/infra

#4390 Remove temp registry .highlight style override
  assets/scss/_registry.scss
  content/en/ecosystem/registry/_index.md
Labels: cleanup/refactoring, design/style

#4397 Drop google_analytics_async.html
  layouts/_internal/google_analytics_async.html
Labels: cleanup/refactoring
