Repository open-telemetry/opentelemetry.io, pull requests merged in 2024-11, with the labels that each got.

#5509 [CI] htmltest config: sort files before processing
  .htmltest.yml
  scripts/htmltest-config.pl
Labels: CI/infra

#5287 [pt] Add translations for content/pt/docs/concepts/instrumentation/_index.md
  content/pt/docs/concepts/instrumentation/_index.md
Labels: lang:pt

#5396 [pt-br] Localize content/pt/docs/concepts/components.md
  content/pt/docs/concepts/components.md
Labels: lang:pt

#5515 [i18n] Mention spell checker requirement for new localizations
  content/en/docs/contributing/localization.md
  static/refcache.json
Labels: i18n

#5514 [zh] Fix misnamed blog section
  content/zh/blog/2024/_index.md
  content/zh/blog/2024/docs-localized.md
  content/zh/blog/_index.md
  content/zh/blogs/_index.md
Labels: lang:zh

#5502 feat: [es] Create /docs/contributing/pull-requests.md
  content/es/docs/contributing/pull-requests.md
  static/refcache.json
Labels: lang:es

#5471 Add Intro to OpenTelemetry Java page
  content/en/docs/languages/java/_index.md
  content/en/docs/languages/java/getting-started.md
  content/en/docs/languages/java/instrumentation.md
  content/en/docs/languages/java/intro.md
  static/refcache.json
Labels: sig:java

#5512 Add jdbi to native java instrumentation registry
  data/registry/instrumentation-java-jdbi.yml
  static/refcache.json
Labels: registry

#5209 Add Collector security documentation
  content/en/docs/security/_index.md
  content/en/docs/security/config-best-practices.md
  content/en/docs/security/cve.md
  content/en/docs/security/hosting-best-practices.md
  content/en/docs/security/security-response.md
  static/refcache.json
Labels: sig:collector, sig:security

#5498 Add Keycloak to integrations
  data/registry/application-integration-java-keycloak.yml
  static/refcache.json
Labels: registry

#5449 Document enabling trace self-telemetry
  content/en/docs/collector/internal-telemetry.md
Labels: sig:collector

#5391 [es] adding docs/concepts/components
  content/es/docs/concepts/components.md
Labels: lang:es

#5518 [CI] Avoid dup htmltest config for blog pages
  .htmltest.yml
  content/en/blog/_index.md
  content/zh/blog/_index.md
Labels: blog, lang:zh

#5520 Blog RSS workaround via redirect
  content/en/blog/_index.md
Labels: CI/infra, blog

#5494 Add ThrottlingTroll to the list of instrumented libraries
  data/registry/instrumentation-dotnet-throttlingtroll.yml
  static/refcache.json
Labels: registry

#5404 Blog post for KubeCon NA 2024
  content/en/announcements/kubecon-na-2024.md
  content/en/blog/2024/kubecon-na.md
  static/refcache.json
Labels: blog

#5524 Add cross references to Collector security docs
  content/en/docs/collector/_index.md
  content/en/docs/collector/configuration.md
  content/en/docs/collector/deployment/_index.md
Labels: sig:collector

#5452 Add Gateway deployment arch
  content/en/docs/collector/deployment/gateway/index.md
  content/en/docs/collector/deployment/gateway/otel-gateway-arch.svg
Labels: sig:collector

#5406 make language an enum in registry schema
  data/registry-schema.json
  gulp-src/validate-registry.js
Labels: CI/infra, registry

#5525 Java JDBI is first party not native
  data/registry/instrumentation-java-jdbi.yml
Labels: registry

#5526 fix date for kubecon blog post
  content/en/blog/2024/kubecon-na.md
Labels: blog

#5529 Rework OpAMP visualization
  content/en/docs/collector/img/opamp.svg
Labels: sig:collector

#5533 Remove redirect from content/pt/docs/languages/_index.md
  content/pt/docs/languages/_index.md
Labels: lang:pt

#5332 Add Flagd-ui to demo docs
  .cspell/en-words.txt
  content/en/docs/demo/architecture.md
  content/en/docs/demo/docker-deployment.md
  content/en/docs/demo/feature-flags.md
  content/en/docs/demo/kubernetes-deployment.md
  content/en/docs/demo/requirements/architecture.md
  content/en/docs/demo/screenshots/flagd-configurator-advanced.png
  content/en/docs/demo/screenshots/flagd-configurator-basic.png
  content/en/docs/demo/screenshots/index.md
  content/en/docs/demo/telemetry-features/_index.md
  content/en/docs/languages/python/distro.md
  content/en/docs/zero-code/php.md
Labels: sig:python, sig:demo

#5534 [demo] update helm prerequisite
  content/en/docs/demo/kubernetes-deployment.md
Labels: sig:demo

#5535 [demo] add link to github repo
  content/en/docs/demo/development.md
Labels: sig:demo

#5528 Add link to PHP API documentation
  content/en/docs/languages/php/api.md
Labels: sig:php

#5549 [CI] Don't check links on build
  package.json
Labels: CI/infra

#5550 Fix link paths in apidocs shortcode
  layouts/shortcodes/apidocs.md
Labels: CI/infra

#5551 [CI] Fix link checking for all builds
  .htmltest.yml
  content/en/blog/_index.md
  layouts/partials/hooks/head-end.html
  package.json
  scripts/htmltest-config.pl
Labels: CI/infra, blog

#5554 [i18n] Render-link fix: prepend lang code when page exists
  .htmltest.yml
  content/es/docs/_index.md
  content/fr/docs/what-is-opentelemetry.md
  content/ja/docs/_index.md
  content/pt/docs/_index.md
  content/zh/docs/_index.md
  layouts/_default/_markup/render-link.html
Labels: CI/infra, lang:zh, lang:ja, lang:pt, lang:es, lang:fr

#5556 Ensure that spec_status shortcode fails softly
  layouts/shortcodes/spec_status.html
Labels: CI/infra

#5561 [CI] Add GH workflow to run dev build using submodules at head
  .github/workflows/build-dev.yml
  package.json
  scripts/pin-submodules.pl
Labels: enhancement, CI/infra

#5560 Remove unsupported environment variables from configuration page
  content/en/docs/zero-code/net/_index.md
  content/en/docs/zero-code/net/configuration.md
  content/en/docs/zero-code/net/getting-started.md
Labels: sig:dotnet

#5559 Add history heading ID to fr what-is-opentelemetry page
  .htmltest.yml
  content/fr/docs/what-is-opentelemetry.md
Labels: lang:fr

#5564 [CI] build-dev: skip fix:i18n
  .github/workflows/build-dev.yml
  package.json
  scripts/check-markdown-wrapper.sh
Labels: CI/infra

#5572 [CI] build-dev: set GET=no
  .github/workflows/build-dev.yml
Labels: CI/infra

#5573 [CI] Update pkgs, including Hugo to 0.138.0; use new `comment` shortcode
  content/en/docs/collector/internal-telemetry.md
  package.json
Labels: CI/infra, sig:collector

#5565 Fix: fix dice number generator in JS examples
  content/en/docs/languages/js/getting-started/nodejs.md
  content/en/docs/languages/js/instrumentation.md
Labels: sig:javascript

#5328 add a "flag" filter to registry
  assets/js/registrySearch.js
  content/es/docs/concepts/observability-primer.md
  layouts/partials/ecosystem/registry/entry.html
  layouts/shortcodes/ecosystem/registry/search-form.html
Labels: registry

#5382 add tags to registry entries
  layouts/partials/ecosystem/registry/entry.html
Labels: ux, registry

#5330 Add quick installation for maven to the registry
  .htmltest.yml
  data/registry/instrumentation-java-okhttp.yml
  layouts/partials/ecosystem/registry/entry.html
  layouts/partials/ecosystem/registry/quickinstall/maven.md
Labels: ux, registry

#5587 [CI] adjust-pages: report obsolete patch-code as INFO msgs
  scripts/content-modules/adjust-pages.pl
Labels: CI/infra

#5589 [es] restore observability primer
  content/es/docs/concepts/observability-primer.md
Labels: lang:es

#5585 Remove unused import in Python prometheus doc
  content/en/docs/languages/python/exporters.md
Labels: sig:python

#5426 [pt] Translate multiple pages on /pt/docs/languages/go
  content/pt/docs/languages/go/exporters.md
  content/pt/docs/languages/go/libraries.md
  content/pt/docs/languages/go/registry.md
  content/pt/docs/languages/go/resources.md
  content/pt/docs/languages/go/sampling.md
Labels: lang:pt

#5583 Revise k8s operator docs for Python after latest releases
  content/en/docs/kubernetes/operator/automatic.md
  content/en/docs/zero-code/python/operator.md
Labels: sig:python, sig:operator

#5580 Add missing en anchors for ES translations
  .htmltest.yml
  content/es/docs/_index.md
  content/es/docs/concepts/components.md
  content/es/docs/concepts/context-propagation.md
  content/es/docs/what-is-opentelemetry.md
Labels: lang:es

#5441 docs: Add HTTP port to collector docker command
  content/en/docs/collector/quick-start.md
Labels: sig:collector

#5594 Add missing en anchors for PT-BR translations
  .htmltest.yml
  content/pt/docs/_index.md
  content/pt/docs/concepts/components.md
  content/pt/docs/concepts/context-propagation.md
  content/pt/docs/concepts/sampling/index.md
  content/pt/docs/concepts/signals/traces.md
  content/pt/docs/what-is-opentelemetry.md
Labels: lang:pt

#5603 [pt] Temporarily patch page to avoid link-check failure
  .htmltest.yml
  content/pt/docs/concepts/instrumentation/libraries.md
  scripts/check-i18n.sh
Labels: lang:pt

#5602 Registry: add missing URL for Traefik
  data/registry/application-integration-go-traefik-hub-api-management.yml
  static/refcache.json
Labels: registry

#5612 [CI] Ensure that htmltest-config warnings fail GH check
  .warnings-skip-list.txt
  content/pt/docs/_index.md
  package.json
  scripts/htmltest-config.pl
Labels: CI/infra, lang:pt

#5590 Move performance to java agent, merge javadoc into API page
  content/en/docs/collector/deployment/agent.md
  content/en/docs/concepts/instrumentation/libraries.md
  content/en/docs/languages/java/api-components.md
  content/en/docs/languages/java/api.md
  content/en/docs/languages/java/configuration.md
  content/en/docs/languages/java/instrumentation.md
  content/en/docs/languages/java/intro.md
  content/en/docs/languages/java/sdk.md
  content/en/docs/zero-code/java/agent/performance.md
  static/refcache.json
Labels: sig:collector, sig:java

#5614 fixed installation command
  content/en/docs/collector/installation.md
Labels: sig:collector

#5613 Blogpost to annoucing 2024 OTel Community Awards winners
  content/en/blog/2024/community-awards-winners.md
  static/refcache.json
Labels: blog

#5609 [ja] Temporarily patch page to avoid link-check failure
  .htmltest.yml
  content/ja/docs/concepts/instrumentation/libraries.md
Labels: lang:ja

#5617 Added OddDotNet registry files (Attempt 2)
  data/registry/otel-odddotnet.yml
  data/registry/tools-odddotnet-client-dotnet.yml
  static/refcache.json
Labels: registry

#5586 Add maven to registry auto update workflow
  .github/workflows/scripts/update-registry-versions.sh
  data/registry/instrumentation-java-finatra.yml
Labels: registry

#5627 [CI] Detect unpinned git submodules in GH PR checks
  .github/workflows/check-links.yml
Labels: CI/infra

#5628 NPM packages refresh
  package.json
Labels: CI/infra

#5630 Disable code-excerpting from Go getting-started
  content/en/docs/languages/go/getting-started.md
Labels: sig:go

#5636 Add Logback MDC to the starter
  content/en/docs/zero-code/java/spring-boot-starter/out-of-the-box-instrumentation.md
Labels: sig:java

#5633 Fix title for Rust stdout exporter
  data/registry/exporter-rust-stdout.yml
Labels: sig:rust, registry

#5567 Updated summary and table of internal telemetry
  content/en/docs/collector/internal-telemetry.md
Labels: sig:collector

#5642 Update to Hugo 0.139.0
  package.json
Labels: dependencies

#5648 [CI] Ensure that all `/fix` commands trigger a script
  .github/workflows/pr-actions.yml
Labels: CI/infra

#5652 Blog RSS workaround via redirect using 302 status code
  content/en/blog/_index.md
Labels: blog

#5635 Add `uv` package manager instructions to Python zero-code docs
  content/en/docs/zero-code/python/_index.md
  static/refcache.json
Labels: sig:python

#5663 CI] Install packages before running fix:text
  .github/workflows/pr-actions.yml
Labels: CI/infra

#5666 Update instrumentation.md
  content/en/docs/languages/js/instrumentation.md
Labels: sig:javascript

#5637 add confmap provider to registry.json
  data/registry-schema.json
  data/registry/collector-confmap-provider-envprovider.yml
  data/registry/collector-confmap-provider-fileprovider.yml
  data/registry/collector-confmap-provider-httpprovider.yml
  data/registry/collector-confmap-provider-httpsprovider.yml
  data/registry/collector-confmap-provider-yamlprovider.yml
  static/refcache.json
Labels: registry

#5611 Implement clickable flag buttons to filter records without updating search term
  layouts/partials/ecosystem/registry/entry.html
Labels: ux, registry

#5667 Update browser.md
  content/en/docs/languages/js/getting-started/browser.md
Labels: sig:javascript

#5675 [CI] Patch search results page so search results will display
  package.json
Labels: CI/infra

#5678 [Demo] Update diagram
  content/en/docs/demo/architecture.md
Labels: sig:demo

#5674 Make some Collector images dark-mode compatible
  content/en/docs/collector/building/connector/otel-collector-after-connector.svg
  content/en/docs/collector/building/connector/otel-collector-before-connector.svg
  content/en/docs/collector/img/otel-gateway-sdk.svg
Labels: ux, design/style, sig:collector

#5683 fix confmap provider name
  data/registry-schema.json
  data/registry/collector-confmap-provider-envprovider.yml
  data/registry/collector-confmap-provider-fileprovider.yml
  data/registry/collector-confmap-provider-httpprovider.yml
  data/registry/collector-confmap-provider-httpsprovider.yml
  data/registry/collector-confmap-provider-yamlprovider.yml
Labels: registry

#5671 Update slack-channel.md
  content/en/community/end-user/slack-channel.md
Labels: sig:enduser

#5521 [zh] Add concepts/signals/_index.md
  content/zh/docs/concepts/signals/_index.md
Labels: lang:zh
