Repository open-telemetry/opentelemetry.io, pull requests merged in 2024-03, with the labels that each got.

#4085 Update default value for controller and view common experimental telemetry
  content/en/docs/languages/java/automatic/configuration.md
Labels: sig:java

#4096 Improve JS Instrumentation Docs
  assets/js/tracing.js
  content/en/docs/demo/services/frontend.md
  content/en/docs/languages/js/instrumentation.md
  content/en/docs/languages/js/libraries.md
  content/en/docs/languages/js/resources.md
  content/en/docs/languages/js/serverless.md
Labels: sig:javascript, sig:demo

#4097 Context propagation between Java threads
  content/en/docs/languages/java/instrumentation.md
Labels: sig:java

#4058 [demo] Replace references to feature flag service with flagd
  content/en/docs/demo/_index.md
  content/en/docs/demo/architecture.md
  content/en/docs/demo/development.md
  content/en/docs/demo/docker-deployment.md
  content/en/docs/demo/feature-flags.md
  content/en/docs/demo/kubernetes-deployment.md
  content/en/docs/demo/requirements/architecture.md
  content/en/docs/demo/services/_index.md
  content/en/docs/demo/services/feature-flag.md
  content/en/docs/demo/telemetry-features/_index.md
  content/en/docs/demo/telemetry-features/log-coverage.md
  content/en/docs/demo/telemetry-features/manual-span-attributes.md
  content/en/docs/demo/telemetry-features/metric-coverage.md
  content/en/docs/demo/telemetry-features/trace-coverage.md
  content/en/docs/languages/erlang/getting-started.md
  content/en/docs/languages/go/getting-started.md
  data/registry/instrumentation-elixir-ecto.yml
  static/refcache.json
Labels: sig:demo

#4078 Add download instructions to ocb docs
  content/en/docs/collector/custom-collector.md
  data/registry/collector-builder.yml
  data/registry/collector-exporter-debug.yml
  data/registry/collector-exporter-otlp.yml
  data/registry/collector-processor-batch.yml
  data/registry/collector-receiver-otlp.yml
  layouts/partials/ecosystem/registry/entry.html
  layouts/shortcodes/version-from-registry.md
  static/refcache.json
Labels: sig:collector

#4142 Add paymentServiceFailure & paymentServiceUnreachable featureflags to demo docs
  content/en/docs/demo/feature-flags.md
Labels: blocked, sig:demo

#4160 Update kubernetes-deployment.md
  content/en/docs/demo/kubernetes-deployment.md
Labels: sig:demo

#3999 spring boot build info resource detector
  content/en/docs/languages/java/automatic/spring-boot.md
Labels: sig:java

#4138 how to enable Resource Providers that are disabled by default
  content/en/docs/languages/java/automatic/configuration.md
Labels: sig:java

#4172 [adservice] add new adservice ff to demo docs
  content/en/docs/demo/feature-flags.md
Labels: upstream, blocked

#4211 Copyedits to Profiling-announcement blog
  content/en/blog/2024/profiling.md
Labels: copyedit, blog
