Repository open-telemetry/opentelemetry.io, pull requests merged in 2024-01, with the labels that each got.

#3741 Hugo, postcss-cli update + blog page fix
  content/en/blog/2022/demo-announcement/index.md
  package.json
Labels: dependencies

#3712 PHP: add more-examples link
  content/en/docs/instrumentation/php/automatic.md
Labels: sig:php

#3731 Clarify when to use the OTel starter
  content/en/docs/instrumentation/java/automatic/spring-boot.md
Labels: sig:java

#3651 Add style guide and basic contribution section
  CONTRIBUTING.md
  README.md
  content/en/docs/contributing/_index.md
  content/en/docs/contributing/acknowledgements.md
  content/en/docs/contributing/blog.md
  content/en/docs/contributing/style-guide.md
  content/en/docs/contribution-guidelines.md
  static/refcache.json
Labels: enhancement

#3766 Make k8s URL in collector installer version-dependent, fixes #3749
  content/en/docs/collector/installation.md
Labels: sig:collector

#3743 Small fix to python agent-config option
  content/en/docs/instrumentation/python/automatic/agent-config.md
Labels: sig:python

#3723 Update Python automatic instrumentation directions
  content/en/docs/instrumentation/python/automatic/example.md
Labels: sig:python

#3781 [CI] Fix baseURL for development builds
  package.json
Labels: infrastructure

#3784 [Blog] Prepare for 2024 + blog navigation enhancements
  content/en/blog/2024/_index.md
  content/en/blog/_index.md
  layouts/blog/baseof.html
  layouts/blog/list.html
Labels: blocked, blog

#3710 feat: add outreachy blog in otel blogs
  content/en/blog/2024/outreachy-how-why-sakshi.md
  static/refcache.json
Labels: blog

#3805 Refcache updates 2024-01-18
  .htmltest.yml
  content/en/blog/2023/end-user-q-and-a-03.md
  static/refcache.json
Labels: infrastructure, cleanup/refactoring

#3817 [Demo] Telemetry features: better name pages following refactor
  content/en/blog/2022/announcing-opentelemetry-demo-release/index.md
  content/en/docs/demo/_index.md
  content/en/docs/demo/architecture.md
  content/en/docs/demo/telemetry-features/log-coverage.md
  content/en/docs/demo/telemetry-features/metric-coverage.md
  content/en/docs/demo/telemetry-features/trace-coverage.md
Labels: cleanup/refactoring, demo

#3827 Update .NET libraries page with new intro
  content/en/docs/languages/net/libraries.md
Labels: sig:dotnet

#3840 Add script to auto update registry entries
  .github/workflows/auto-update-registry.yml
  .github/workflows/scripts/update-registry-versions.sh
  scripts/update-registry-versions.sh
Labels: registry

#3842 Add ruby gems to ruby registry entries
  data/registry/exporter-ruby-datadog.yml
  data/registry/exporter-ruby-jaeger.yml
  data/registry/exporter-ruby-otlp.yml
  data/registry/exporter-ruby-zipkin.yml
  data/registry/instrumentation-ruby-action-pack.yml
  data/registry/instrumentation-ruby-action-view.yml
  data/registry/instrumentation-ruby-active-job.yml
  data/registry/instrumentation-ruby-active-model-serializers.yml
  data/registry/instrumentation-ruby-active-record.yml
  data/registry/instrumentation-ruby-active-support.yml
  data/registry/instrumentation-ruby-all.yml
  data/registry/instrumentation-ruby-aws-sdk.yml
  data/registry/instrumentation-ruby-base.yml
  data/registry/instrumentation-ruby-bunny.yml
  data/registry/instrumentation-ruby-concurrent-ruby.yml
  data/registry/instrumentation-ruby-dalli.yml
  data/registry/instrumentation-ruby-delayed-job.yml
  data/registry/instrumentation-ruby-ethon.yml
  data/registry/instrumentation-ruby-excon.yml
  data/registry/instrumentation-ruby-faraday.yml
  data/registry/instrumentation-ruby-grape.yml
  data/registry/instrumentation-ruby-graphql.yml
  data/registry/instrumentation-ruby-gruf.yml
  data/registry/instrumentation-ruby-http-client.yml
  data/registry/instrumentation-ruby-http.yml
  data/registry/instrumentation-ruby-httpx.yml
  data/registry/instrumentation-ruby-koala.yml
  data/registry/instrumentation-ruby-lmdb.yml
  data/registry/instrumentation-ruby-mongo.yml
  data/registry/instrumentation-ruby-mysql2.yml
  data/registry/instrumentation-ruby-net-http.yml
  data/registry/instrumentation-ruby-pg.yml
  data/registry/instrumentation-ruby-que.yml
  data/registry/instrumentation-ruby-racecar.yml
  data/registry/instrumentation-ruby-rack.yml
  data/registry/instrumentation-ruby-rails.yml
  data/registry/instrumentation-ruby-rake.yml
  data/registry/instrumentation-ruby-rdkafka.yml
  data/registry/instrumentation-ruby-resque.yml
  data/registry/instrumentation-ruby-restclient.yml
  data/registry/instrumentation-ruby-rspec.yml
  data/registry/instrumentation-ruby-ruby-kafka.yml
  data/registry/instrumentation-ruby-sidekiq.yml
  data/registry/instrumentation-ruby-sinatra.yml
  data/registry/instrumentation-ruby-trilogy.yml
  data/registry/tools-ruby-sentry.yml
  static/refcache.json
Labels: sig:ruby

#3844 Registry: put 'offical' languages first in dropdown
  data/registry/tools-cpp-alpine-apk.yml
  layouts/shortcodes/ecosystem/registry/search-form.html
Labels: registry

#3841 add package version to JS entries in registry
  data/registry/exporter-js-google-cloud-monitoring.yml
  data/registry/exporter-js-google-cloud-trace.yml
  data/registry/exporter-js-instana.yml
  data/registry/exporter-js-prometheus.yml
  data/registry/instrumentation-js-fetch.yml
  data/registry/instrumentation-js-grpc.yml
  data/registry/instrumentation-js-http.yml
  data/registry/instrumentation-js-prisma.yml
  data/registry/instrumentation-js-react-load.yml
  data/registry/instrumentation-js-remix.yml
  data/registry/instrumentation-js-xml-http-request.yml
  data/registry/resource-detector-js-alibabacloud.yml
  data/registry/resource-detector-js-aws.yml
  data/registry/resource-detector-js-azure.yml
  data/registry/resource-detector-js-container.yml
  data/registry/resource-detector-js-gcp.yml
  data/registry/resource-detector-js-github.yml
  data/registry/resource-detector-js-instana.yml
  static/refcache.json
Labels: sig:javascript, registry

#3838 [Go] Bump to newer semconv
  content/en/docs/languages/go/getting-started.md
Labels: sig:go

#3830 Rust registry updates
  .cspell.yml
  .textlintrc.yml
  content/en/docs/languages/rust/getting-started.md
  data/registry/exporter-rust-application-insights.yml
  data/registry/exporter-rust-jaeger.yml
  data/registry/exporter-rust-otlp.yml
  data/registry/exporter-rust-prometheus.yml
  data/registry/exporter-rust-stackdriver.yml
  data/registry/exporter-rust-stdout.yml
  data/registry/exporter-rust-zipkin.yml
  data/registry/instrumentation-rust-actix-web.yml
  data/registry/instrumentation-rust-axum.yml
  data/registry/instrumentation-rust-tide.yml
  data/registry/instrumentation-rust-tracing.yml
  layouts/partials/ecosystem/registry/entry.html
  static/refcache.json
Labels: sig:rust, registry

#3831 Update getting-started.md to specify java version
  content/en/docs/languages/java/getting-started.md
Labels: sig:java

#3835 Update spring-boot.md
  content/en/docs/languages/java/automatic/spring-boot.md
Labels: sig:java, sig-approval-missing

#3568 java library instrumentation doc
  content/en/docs/languages/java/libraries.md
Labels: sig:java

#3826 Update go libraries page with new intro
  content/en/docs/languages/go/libraries.md
  static/refcache.json
Labels: sig:go, sig-approval-missing

#3858 Add github.com/dnwe/otelsarama to registry
  data/registry/instrumentation-go-ibm-sarama.yml
  static/refcache.json
Labels: registry

#3851 describe how to disable spring boot starter / use sys property widget everywhere
  content/en/docs/languages/java/automatic/_index.md
  content/en/docs/languages/java/automatic/agent-config.md
  content/en/docs/languages/java/automatic/spring-boot.md
Labels: sig:java

#3787 Collector quick start
  content/en/blog/2022/apisix/index.md
  content/en/blog/2022/k8s-otel-expose/index.md
  content/en/blog/2023/k8s-runtime-observability/index.md
  content/en/docs/collector/_index.md
  content/en/docs/collector/getting-started.md
  content/en/docs/collector/management.md
  content/en/docs/collector/quick-start.md
  content/en/docs/languages/python/getting-started.md
  static/refcache.json
Labels: docs, cleanup/refactoring, sig:collector, sig-approval-missing

#3868 updated autoinstrumentation description to match other languages
  content/en/docs/kubernetes/operator/automatic.md
Labels: sig:python, sig:operator

#3716 Supply example on Document baggage propagation
  content/en/docs/languages/python/propagation.md
Labels: sig:python

#3883 [CI/textlint] Enforce "backend" as one word
  .textlintrc.yml
  content/en/docs/concepts/signals/metrics.md
Labels: infrastructure

#3846 Edits to follow up contribution guidelines work
  .github/CODEOWNERS
  content/en/docs/contributing/_index.md
  content/en/docs/contributing/style-guide.md
  content/en/docs/contribution-guidelines.md
  layouts/shortcodes/community-lists.md
Labels: cleanup/refactoring

#3855 PHP: Updates to instrumentation docs
  content/en/docs/languages/php/instrumentation.md
Labels: sig:php

#3887 Drop unnecessary `api/propagation` aliases and local dictionary
  content/en/docs/languages/js/propagation.md
  content/en/docs/languages/python/propagation.md
Labels: cleanup/refactoring

#3848 Edit main landing pages for style and clarity
  content/en/docs/_index.md
  content/en/docs/what-is-opentelemetry.md
Labels: copyedit

#3899 Refcache entries refreshed up to 2024-01-01 & normalize-cspell-front-matter.pl: ensure words are unique
  .htmltest.yml
  content/en/blog/2022/otel-demo-app-nomad/index.md
  content/en/blog/2023/contributing-to-otel/index.md
  content/en/blog/2023/humans-of-otel.md
  content/en/docs/collector/building/connector.md
  content/en/docs/kubernetes/helm/collector.md
  data/ecosystem/integrations.yaml
  scripts/normalize-cspell-front-matter.pl
  static/refcache.json
Labels: infrastructure

#3854 Add distribution page and data inside Ecosystem
  content/en/docs/concepts/distributions.md
  content/en/ecosystem/distributions.md
  content/en/ecosystem/vendors.md
  data/ecosystem/distributions.yaml
  data/registry/instrumentation-dotnet-honeycomb.yml
  data/registry/instrumentation-go-honeycomb.yml
  data/registry/instrumentation-java-honeycomb.yml
  data/registry/instrumentation-js-node-honeycomb.yml
  layouts/shortcodes/ecosystem/distributions-table.md
  static/refcache.json
Labels: enhancement

#3847 Replace or add loopback address in Collector OTLP examples
  content/en/docs/collector/building/authenticator-extension.md
  content/en/docs/collector/building/connector.md
  content/en/docs/collector/building/receiver.md
  content/en/docs/collector/configuration.md
  content/en/docs/collector/deployment/agent.md
  content/en/docs/collector/deployment/gateway.md
  content/en/docs/collector/scaling.md
  content/en/docs/faas/lambda-collector.md
  content/en/docs/kubernetes/operator/_index.md
  content/en/docs/kubernetes/operator/automatic.md
  content/en/docs/languages/js/exporters.md
  content/en/docs/languages/python/distro.md
  content/en/docs/languages/python/exporters.md
  content/en/docs/languages/python/getting-started.md
Labels: docs, sig:collector, sig-approval-missing

#3912 [CI] Auto-update-versions: fix action + pin gitmodules
  .github/workflows/auto-update-versions.yml
  .gitmodules
  scripts/auto-update/all-versions.sh
  scripts/auto-update/version-in-file.sh
  scripts/sync-submodules.pl
Labels: infrastructure

#3913 How to disable the Pekko instrumentation
  content/en/docs/languages/java/automatic/agent-config.md
Labels: sig:java
