Repository open-telemetry/opentelemetry.io, pull requests merged in 2024-06, with the labels that each got.

#4575 CODEOWNERS: sort entries
  .github/CODEOWNERS
Labels: cleanup/refactoring, admin

#4377 Move java sdk configuration documentation into docs site
  content/en/docs/languages/java/configuration.md
  content/en/docs/zero-code/java/agent/configuration.md
  static/refcache.json
Labels: sig:java

#4577 Update go/getting-started.md
  README.md
  content/en/blog/2019/opentelemetry-governance-committee-explained/index.md
  content/en/blog/2021/gc-election.md
  content/en/blog/2021/womens-day.md
  content/en/blog/2022/debug-otel-with-otel/index.md
  content/en/blog/2022/exponential-histograms/index.md
  content/en/blog/2022/instrument-apache-httpd-server/index.md
  content/en/blog/2022/k8s-metadata/index.md
  content/en/blog/2022/kubecon-na.md
  content/en/blog/2022/otel-demo-app-nomad/index.md
  content/en/blog/2023/contributing-to-otel/index.md
  content/en/blog/2023/ecs-otel-semconv-convergence.md
  content/en/blog/2023/end-user-q-and-a-03.md
  content/en/blog/2023/exponential-histograms.md
  content/en/blog/2023/kubecon-eu.md
  content/en/blog/2023/kubecon-na.md
  content/en/blog/2023/logs-collection/index.md
  content/en/blog/2023/sunsetting-opencensus.md
  content/en/blog/2024/java-metric-systems-compared/index.md
  content/en/blog/2024/kubecon-eu.md
  content/en/blog/2024/profiling.md
  content/en/docs/collector/distributions.md
  content/en/docs/collector/installation.md
  content/en/docs/collector/internal-telemetry.md
  content/en/docs/concepts/instrumentation/libraries.md
  content/en/docs/contributing/_index.md
  content/en/docs/demo/forking.md
  content/en/docs/languages/erlang/instrumentation.md
  content/en/docs/languages/go/getting-started.md
  content/en/docs/languages/go/instrumentation.md
  content/en/docs/languages/java/exporters.md
  content/en/docs/languages/java/getting-started.md
  content/en/docs/languages/java/instrumentation.md
  content/en/docs/languages/js/exporters.md
  content/en/docs/languages/js/resources.md
  content/en/docs/languages/net/getting-started.md
  content/en/docs/languages/net/resources.md
  content/en/docs/languages/php/getting-started.md
  content/en/docs/languages/ruby/getting-started.md
  content/en/docs/migration/_index.md
  content/en/docs/zero-code/_index.md
  content/en/docs/zero-code/java/agent/annotations.md
  content/en/docs/zero-code/java/agent/configuration.md
  content/en/docs/zero-code/net/getting-started.md
  content/en/ecosystem/registry/adding.md
  layouts/shortcodes/docs/languages/exporters/intro.md
  layouts/shortcodes/docs/languages/exporters/outro.md
Labels: sig:go

#4556 [zh] Localize demo/_index
  content/zh/docs/demo/_index.md
Labels: lang:zh

#4557 [zh] Localize kubernetes/_index.md
  content/zh/docs/kubernetes/_index.md
Labels: lang:zh

#4573 [i18n] Docs section ordering fix
  content/en/docs/collector/_index.md
  content/en/docs/concepts/_index.md
  content/en/docs/contributing/_index.md
  content/en/docs/demo/_index.md
  content/en/docs/faas/_index.md
  content/en/docs/getting-started/_index.md
  content/en/docs/kubernetes/_index.md
  content/en/docs/languages/_index.md
  content/en/docs/migration/_index.md
  content/en/docs/security/_index.md
  content/en/docs/specs/_index.md
  content/en/docs/what-is-opentelemetry.md
  content/en/docs/zero-code/_index.md
  content/zh/docs/concepts/_index.md
  content/zh/docs/what-is-opentelemetry.md
Labels: cleanup/refactoring, sig:collector, i18n, sig:demo, sig:spec, sig:security, lang:zh

#4583 [CI] Update NPM packages including prettier and Hugo
  package.json
Labels: CI/infra

#4584 CODEOWNERS: add docs-maintainers to zh folder for now
  .github/CODEOWNERS
Labels: CI/infra, admin, lang:zh

#4455 Blog: An Introduction to Observability for LLM-based applications using OpenTelemetry
  content/en/blog/2024/llm-observability.md
  static/refcache.json
Labels: blog

#4590 Update architecture.md
  content/en/docs/demo/architecture.md
Labels: sig:demo

#4579 Update Java SDK Configuration page
  content/en/docs/languages/java/configuration.md
  content/en/docs/languages/java/instrumentation.md
  static/refcache.json
Labels: sig:java

#4595 [CI] Add script to update NPM pkgs to latest, and update them
  package.json
Labels: dependencies, CI/infra

#4598 Update Go logs status to beta
  data/instrumentation.yaml
Labels: sig:go

#4536 [zh] Localize context-propagation.md
  content/zh/docs/concepts/context-propagation.md
Labels: lang:zh

#4604 Include configrpc in the name
  content/en/blog/2024/cve-2024-36129/index.md
Labels: blog

#4602 [zh] Strip away embedded HTML en fragments
  content/zh/docs/concepts/semantic-conventions.md
  content/zh/docs/demo/_index.md
  content/zh/docs/kubernetes/_index.md
Labels: cleanup/refactoring, i18n, lang:zh

#4599 [CI] Script to help know if localized pages need updating
  scripts/i18n-check.sh
Labels: CI/infra

#4612 [i18n & CI] Add `default_lang_commit` to front matter of all non `en` pages
  content/ja/_index.md
  content/zh/_index.md
  content/zh/docs/_index.md
  content/zh/docs/concepts/_index.md
  content/zh/docs/concepts/components.md
  content/zh/docs/concepts/context-propagation.md
  content/zh/docs/concepts/semantic-conventions.md
  content/zh/docs/demo/_index.md
  content/zh/docs/kubernetes/_index.md
  content/zh/docs/what-is-opentelemetry.md
  scripts/i18n-check.sh
Labels: CI/infra, i18n, lang:zh

#4553 [Blog post] Introduce new OTel features in Envoy and Istio
  content/en/blog/2024/new-otel-features-envoy-istio/envoy-tracing.png
  content/en/blog/2024/new-otel-features-envoy-istio/index.md
  content/en/blog/2024/new-otel-features-envoy-istio/jaeger.png
  data/ecosystem/integrations.yaml
  static/refcache.json
Labels: blog

#4605 [blog] CVE-2024-36129 post followup
  content/en/blog/2024/cve-2024-36129.md
Labels: cleanup/refactoring, blog

#4609 Add OpenInference instrumentation packages to the registry
  data/registry/instrumentation-js-langchain.yml
  data/registry/instrumentation-js-openai.yml
  data/registry/instrumentation-python-bedrock.yml
  data/registry/instrumentation-python-dspy.yml
  data/registry/instrumentation-python-langchain-openinference.yml
  data/registry/instrumentation-python-llamaindex-openinference.yml
  data/registry/instrumentation-python-mistralai-openinference.yml
  data/registry/instrumentation-python-openai-openinference.yml
  static/refcache.json
Labels: registry

#4614 [i18n] Add contributing guidelines for localizations
  .cspell.yml
  content/en/docs/contributing/localization.md
  content/en/docs/zero-code/_index.md
  scripts/i18n-check.sh
  static/refcache.json
Labels: docs, i18n

#4606 Add Japanese translation for "What is OpenTelemetry?"
  content/ja/docs/_index.md
  content/ja/docs/what-is-opentelemetry.md
Labels: lang:ja

#4620 [CI & i18n] GH action to run i18n-check + new fix GH action
  .github/workflows/check-i18n.yml
  .github/workflows/pr-actions.yml
  .github/workflows/scripts/i18n-check-helper.sh
  content/ja/docs/_index.md
  content/ja/docs/what-is-opentelemetry.md
  package.json
Labels: CI/infra, i18n

#4610 Add example for sync gauge in Go
  content/en/docs/languages/go/instrumentation.md
Labels: sig:go

#4622 [i18n] Add language codes
  hugo.yaml
Labels: i18n

#4623 [blog] Elastic post font-matter cleanup
  content/en/blog/2024/elastic-contributes-continuous-profiling-agent.md
Labels: cleanup/refactoring, blog

#4624 Update getting-started.md: Add fmt import and remove unused import
  content/en/docs/languages/go/getting-started.md
Labels: sig:go

#4626 Add npm package link for Azure SDK instrumentation
  data/registry/instrumentation-js-azure-sdk.yml
  static/refcache.json
Labels: registry

#4233 [CI] Upgrade all NPM pksg, gulp to v5, add check-markdown wrapper as workaround
  gulp-src/lint-md.js
  package.json
  scripts/check-markdown-wrapper.sh
Labels: CI/infra

#4627 [i18n & ja] Improved fallback config and normalize `en` doc links
  .htmltest.yml
  content/en/_index.md
  content/en/community/end-user/_index.md
  content/en/docs/_index.md
  content/en/docs/getting-started/_index.md
  content/en/docs/getting-started/dev.md
  content/en/docs/getting-started/ops.md
  hugo.yaml
Labels: cleanup/refactoring, i18n, sig:enduser, lang:ja

#4631 [CI & ja & zh] Enable format check, and fixes for ja and zh
  content/ja/_index.md
  content/ja/docs/what-is-opentelemetry.md
  content/zh/docs/demo/_index.md
  package.json
Labels: CI/infra, i18n, lang:zh, lang:ja

#4617 [zh] Add faas/_index.md
  content/zh/docs/faas/_index.md
Labels: lang:zh

#4327 [Erlang] RollDice-related doc improvements
  content/en/docs/languages/erlang/_index.md
  content/en/docs/languages/erlang/exporters.md
  content/en/docs/languages/erlang/getting-started.md
Labels: sig:erlang

#4634 [ja & zh] Normalize links & update some hashes
  content/en/_index.md
  content/ja/_index.md
  content/ja/announcements/otel-community-day.md
  content/ja/docs/_index.md
  content/zh/_index.md
  content/zh/announcements/otel-community-day.md
  content/zh/docs/_index.md
  content/zh/docs/demo/_index.md
  content/zh/docs/kubernetes/_index.md
Labels: i18n, lang:zh, lang:ja

#4645 [zh] faas/_index.md: fix invalid hash
  content/zh/docs/faas/_index.md
Labels: i18n, lang:zh

#4648 [CI & i18n] i18n script and doc improvements
  .github/workflows/check-i18n.yml
  .github/workflows/scripts/check-i18n-helper.sh
  content/en/docs/contributing/localization.md
  package.json
  scripts/check-i18n.sh
  scripts/i18n-check.sh
Labels: CI/infra, i18n

#4650 Fix a link
  content/zh/docs/_index.md
Labels: lang:zh

#4647 how to get a meter and tracer with agent and spring starter
  content/en/docs/languages/java/instrumentation.md
Labels: sig:java

#4674 [infra] Create & use a single signal-status shortcode
  content/en/docs/concepts/signals/logs.md
  content/en/docs/concepts/signals/metrics.md
  layouts/shortcodes/logs-support-table.md
  layouts/shortcodes/metrics-support-table.md
  layouts/shortcodes/signal-support-table.md
Labels: cleanup/refactoring

#4673 instrumentation.yaml: use new status name, development
  data/instrumentation.yaml
Labels: cleanup/refactoring

#4672 [CI] Cleanup of adjust-pages.pl script
  scripts/content-modules/adjust-pages.pl
Labels: CI/infra, cleanup/refactoring

#4654 Further consolidate Contributing guides
  CONTRIBUTING.md
  README.md
  content/en/docs/contributing/_index.md
  content/en/docs/contributing/announcements.md
  content/en/docs/contributing/development.md
  content/en/docs/contributing/issues.md
  content/en/docs/contributing/localization.md
  content/en/docs/contributing/new-content.md
  content/en/docs/contributing/pr-checks.md
  content/en/docs/contributing/requirements.md
  content/en/docs/contributing/style-guide.md
  static/refcache.json
Labels: docs

#4668 Fix kubectl command in examples
  content/en/blog/2024/new-otel-features-envoy-istio/index.md
Labels: blog

#4670 fix supported python version doc
  content/en/docs/languages/python/_index.md
Labels: sig:python

#4677 Small spring fixes
  content/en/docs/languages/java/instrumentation.md
  content/en/docs/zero-code/java/spring-boot-starter/getting-started.md
Labels: sig:java

#4683 [i18n] Ensure fallback pages have `en` lang
  layouts/docs/baseof.html
  layouts/partials/i18n/fallback-page.html
  layouts/partials/i18n/lang.html
  scripts/check-i18n.sh
Labels: enhancement, i18n

#4529 Unify internal observability documentation - 3 of 3
  content/en/docs/collector/internal-telemetry.md
  content/en/docs/collector/troubleshooting.md
Labels: sig:collector, sig-approval-missing

#4256 Update payment.md code sample to `require` `./index.js`
  content/en/docs/demo/services/payment.md
Labels: sig:demo, sig-approval-missing

#4687 [i18n] Initial multilingual support for redirects with ja example
  .htmltest.yml
  content/ja/docs/specs/_index.md
  layouts/index.redirects
  layouts/partials/func/trim-lines.html
  layouts/partials/redirects/sites.redirects
Labels: CI/infra, i18n, lang:ja

#4689 [i18n] Make absolute paths locale-specific by default
  content/en/docs/contributing/localization.md
  content/zh/docs/what-is-opentelemetry.md
  layouts/_default/_markup/render-link.html
  layouts/shortcodes/sampling-support-list.md
Labels: i18n, lang:zh

#4616 [ja] Add Japanese translation for getting started
  content/ja/docs/getting-started/_index.md
  content/ja/docs/getting-started/dev.md
  content/ja/docs/getting-started/ops.md
Labels: lang:ja

#4637 [zh] Add getting-started/_index.md
  content/zh/docs/getting-started/_index.md
Labels: lang:zh

#4667 [zh] add contributing/_index.md
  content/zh/docs/contributing/_index.md
Labels: lang:zh

#4669 Add opentelemetry for shell scripts to the registry
  data/registry/otel-shell.yml
  static/refcache.json
Labels: registry

#4661 Add new blog post for Humans of OTel recap
  content/en/blog/2024/humans-of-otel-eu-2024.md
  static/refcache.json
Labels: blog, sig:enduser

#4691 [ja] nit: change default_lang_commit
  content/ja/_index.md
Labels: lang:ja

#4698 Fix find/replace typo in java config docs
  content/en/docs/languages/java/configuration.md
Labels: sig:java

#4705 OpenTelemetry .NET Automatic Instrumentation v1.7.0
  content/en/docs/zero-code/net/configuration.md
  content/en/docs/zero-code/net/instrumentations.md
  static/refcache.json
Labels: sig:dotnet

#4704 [demo/cartservice] Update documentation after 1.9.0 OTel .NET SDK release
  content/en/docs/demo/services/cart.md
Labels: sig:demo

#4706 Add "Browser Extension for OpenTelemetry" to the registry.
  data/registry/tools-browser-extension-for-opentelemetry.yml
  static/refcache.json
Labels: registry

#4693 Add docs-ja-approvers to codeowners.
  .github/CODEOWNERS
Labels: CI/infra

#4710 Deprecate OpenTelemetry Browser Extension Autoinjection in registry
  data/registry/tools-browser-extension-autoinjection.yml
  data/registry/tools-browser-extension-for-opentelemetry.yml
Labels: registry

#4663 Add blog post for OTel Get Started Survey
  content/en/blog/2024/otel-get-started-survey/1-technologies-used.png
  content/en/blog/2024/otel-get-started-survey/2-level.png
  content/en/blog/2024/otel-get-started-survey/3-languages.png
  content/en/blog/2024/otel-get-started-survey/4-resources.png
  content/en/blog/2024/otel-get-started-survey/5-importance.png
  content/en/blog/2024/otel-get-started-survey/index.md
  static/refcache.json
Labels: blog, sig:enduser

#4716 [IA] Move php automatic page to zero-code
  .github/CODEOWNERS
  content/en/blog/2023/php-auto-instrumentation/index.md
  content/en/docs/concepts/instrumentation/zero-code.md
  content/en/docs/languages/php/exporters.md
  content/en/docs/languages/php/getting-started.md
  content/en/docs/languages/php/libraries.md
  content/en/docs/zero-code/php.md
Labels: blog, sig:php

#4720 Delete link that does not belong to the exporters section
  content/en/docs/languages/go/exporters.md
Labels: sig:go

#4717 [IA] Move python automatic page to zero-code
  .github/CODEOWNERS
  content/en/blog/2022/debug-otel-with-otel/index.md
  content/en/blog/2023/end-user-discussions-03.md
  content/en/docs/concepts/instrumentation/zero-code.md
  content/en/docs/kubernetes/operator/automatic.md
  content/en/docs/languages/python/getting-started.md
  content/en/docs/languages/python/libraries.md
  content/en/docs/zero-code/python/_index.md
  content/en/docs/zero-code/python/configuration.md
  content/en/docs/zero-code/python/example.md
  content/en/docs/zero-code/python/logs-example.md
  content/en/docs/zero-code/python/operator.md
Labels: blog, sig:python, sig:operator

#4728 Update and fix textlinter
  .textlintrc.yml
  content/en/blog/2023/end-user-q-and-a-01.md
  content/en/docs/collector/management.md
  content/en/docs/demo/_index.md
  content/en/docs/demo/feature-flags.md
  content/en/docs/languages/js/serverless.md
  content/en/docs/languages/php/instrumentation.md
  content/en/docs/languages/python/_index.md
  content/en/docs/languages/ruby/exporters.md
  content/en/docs/languages/ruby/getting-started.md
  package.json
Labels: sig:collector, blog, sig:php, sig:python, sig:ruby, sig:demo, sig:js

#4694 [ja] translate OpenTelemetry primer
  content/ja/docs/concepts/_index.md
  content/ja/docs/concepts/observability-primer.md
Labels: lang:ja

#4731 Add section on null maps to troubleshooting page
  content/en/docs/collector/troubleshooting.md
Labels: sig:collector

#4708 Add TA troubleshooting page
  content/en/docs/kubernetes/operator/troubleshooting/_index.md
  content/en/docs/kubernetes/operator/troubleshooting/target-allocator.md
  static/refcache.json
Labels: sig:operator

#4733 [ja] fix 軽装 to 計装
  content/ja/docs/what-is-opentelemetry.md
Labels: lang:ja

#4739 Fix typo in monitoring section of Internal telemetry page
  content/en/docs/collector/internal-telemetry.md
Labels: sig:collector

#4752 Add a note about the Spring Boot BOM
  content/en/docs/zero-code/java/spring-boot-starter/getting-started.md
Labels: sig:java

#4735 [ja] Japanese translations for context propagation and components
  content/ja/docs/concepts/components.md
  content/ja/docs/concepts/context-propagation.md
Labels: lang:ja

#4748 Add clarity to java sdk config descriptions around endpoints
  content/en/docs/languages/java/configuration.md
Labels: sig:java
