Repository open-telemetry/opentelemetry.io, pull requests merged in 2024-12, with the labels that each got.

#5699 [pt] add missing async gauge definition to pt
  content/pt/docs/concepts/signals/metrics.md
Labels: lang:pt, docs-approval-missing

#5700 [ja] add missing gauge asyn to ja
  content/ja/docs/concepts/signals/metrics.md
Labels: lang:ja

#5702 collector: update internal logs config to include OTLP export
  content/en/docs/collector/internal-telemetry.md
Labels: sig:collector

#5703 Fix ansible role name misspelling
  content/en/blog/2024/scaling-collectors.md
Labels: blog

#5711 receiver.CreateSettings -> Settings in "Building a receiver"
  content/en/docs/collector/building/receiver.md
Labels: sig:collector

#5712 docs: fix service version and name correspondence to build-info.properties
  content/en/docs/zero-code/java/spring-boot-starter/sdk-configuration.md
Labels: sig:java

#5593 [pt] Translate shortcode snippets /languages/exporters
  content/pt/docs/concepts/components.md
  content/pt/docs/languages/go/exporters.md
  layouts/shortcodes/pt/docs/languages/exporters/intro.md
  layouts/shortcodes/pt/docs/languages/exporters/jaeger.md
  layouts/shortcodes/pt/docs/languages/exporters/outro.md
  layouts/shortcodes/pt/docs/languages/exporters/prometheus-setup.md
  layouts/shortcodes/pt/docs/languages/exporters/zipkin-setup.md
Labels: lang:pt

#5575 Blog post for OpenTelemetry Generative AI updates
  content/en/blog/2024/otel-generative-ai/aspire-dashboard-content-capture.png
  content/en/blog/2024/otel-generative-ai/aspire-dashboard-trace.png
  content/en/blog/2024/otel-generative-ai/index.md
  content/en/blog/2024/otel-generative-ai/jaeger-trace.png
  static/refcache.json
Labels: blog, lang:es

#5395 Optimize the registry for dark and light mode
  assets/scss/_registry.scss
  layouts/partials/ecosystem/registry/entry.html
Labels: ux, registry

#5736 [CI] Upgrade Hugo and other pkgs, drop patch
  package.json
Labels: CI/infra

#5600 New Blog Post: Collecting OpenTelemetry-compliant Java logs from files
  content/en/blog/2024/collecting-otel-compliant-java-logs-from-files/index.md
  content/en/blog/2024/collecting-otel-compliant-java-logs-from-files/otel-collector-otlpjson-pipeline.png
  content/en/blog/2024/collecting-otel-compliant-java-logs-from-files/otlpjson-architecture.png
  static/refcache.json
Labels: blog

#5604 [pt] Translate concepts/instrumentation-scope
  content/pt/docs/concepts/instrumentation-scope/index.md
Labels: lang:pt

#5409 Added Zero code image
  content/en/docs/concepts/instrumentation/zero-code/index.md
  content/en/docs/concepts/instrumentation/zero-code/zero-code.svg
Labels: ux

#5749 remove suggestion to process internal telemetry through collector
  content/en/docs/collector/internal-telemetry.md
Labels: sig:collector

#5729 Add Docker and Kubernetes examples to DoS section
  content/en/docs/security/_index.md
  content/en/docs/security/config-best-practices.md
  scripts/auto-update/all-versions.sh
Labels: sig:collector, sig:security

#5768 [CI] Update Hugo to 0.139.4
  package.json
Labels: dependencies, CI/infra

#5654 Update configuration.md
  content/en/docs/collector/configuration.md
Labels: sig:collector, sig-approval-missing

#5769 [CI] Ensure auto update processes all files
  content/en/docs/zero-code/java/_index.md
  scripts/auto-update/all-versions.sh
  scripts/auto-update/version-in-file.sh
Labels: sig:java

#5771 Clarify collector exporter key format in docs
  content/en/docs/collector/configuration.md
Labels: sig:collector

#5780 [CI] Ensure specified version of Prettier is run in workflow
  .github/workflows/check-format.yml
  package.json
Labels: CI/infra

#5785 [CI] Fix typo in arg description of build-dev.yml
  .github/workflows/build-dev.yml
Labels: CI/infra, cleanup/refactoring

#5779 Update getting-started.md in Spring Boot Starter to be easier to copy dependency
  content/en/docs/zero-code/java/spring-boot-starter/getting-started.md
Labels: CLA: no, sig:java

#5791 update links to openmetrics to reference the v1.0.0 release
  content/en/blog/2024/prometheus-compatibility-survey/index.md
Labels: blog

#5788 [demo] Add Cart service exemplars doc
  content/en/docs/demo/services/cart/exemplars.png
  content/en/docs/demo/services/cart/index.md
Labels: sig:demo

#5808 [CI] Add `check:expired` and `fix:expired`
  .github/workflows/pr-actions.yml
  content/en/announcements/2024-community-awards.md
  content/en/announcements/eBPF.md
  content/en/announcements/kubecon-china.md
  content/en/announcements/kubecon-na-2024.md
  content/en/announcements/otel-community-day.md
  content/en/announcements/otel-localized.md
  content/ja/announcements/otel-community-day.md
  content/ja/announcements/otel-localized.md
  content/pt/announcements/otel-localized.md
  content/zh/announcements/otel-community-day.md
  package.json
  scripts/list-expired.pl
Labels: CI/infra, lang:zh, lang:ja, lang:pt

#5775 Blog post: 2024 in review
  content/en/blog/2024/year-in-review.md
  static/refcache.json
Labels: blog

#5811 [blog] Year-in-review copyedits
  content/en/blog/2024/year-in-review.md
Labels: blog

#5797 Blog post: Insights from the OpenTelemetry Docs Usability Survey
  content/en/blog/2024/otel-docs-survey/component-explanations.png
  content/en/blog/2024/otel-docs-survey/feature-request.png
  content/en/blog/2024/otel-docs-survey/index.md
  content/en/blog/2024/otel-docs-survey/installation-instructions.png
  content/en/blog/2024/otel-docs-survey/top-six-bar.png
  content/en/blog/2024/otel-docs-survey/troubleshooting.png
  static/refcache.json
Labels: blog

#5818 [CI] refcache refresh & cleanup + script update
  content/en/blog/2024/profiling.md
  content/en/docs/contributing/development.md
  gulp-src/prune.js
  static/refcache.json
Labels: CI/infra, blog

#5819 Add OATs to registry
  data/registry/tools-go-oats.yml
  static/refcache.json
Labels: registry

#5814 Add Humans of OTel blog post.
  content/en/blog/2024/humans-of-otel-na-2024.md
  static/refcache.json
Labels: blog

#5828 Update humans-of-otel-na-2024.md
  content/en/blog/2024/humans-of-otel-na-2024.md
Labels: blog

#5823 add Docker OTel LGTM
  data/registry/tools-go-docker-lgtm.yml
  static/refcache.json
Labels: registry

#5831 Change internal logs config example to use OTLP/HTTP
  content/en/docs/collector/internal-telemetry.md
Labels: sig:collector

#5832 Update configuration.md
  content/en/docs/languages/java/configuration.md
Labels: sig:java

#5827 Add fuzzing audit blog post
  content/en/blog/2024/fuzzing-audit-results.md
  static/refcache.json
Labels: blog

#5849 Document required quoting of booleans in php.ini
  content/en/docs/languages/php/sdk.md
Labels: sig:php

#5778 Add desktop viewer, tui, tails and aspire dashboard to registry
  data/registry/tools-dotnet-aspire-dashboard.yml
  data/registry/tools-elixir-tails.yml
  data/registry/tools-go-otel-desktop-viewer.yml
  data/registry/tools-go-otel-tui.yml
  static/refcache.json
Labels: registry

#5858 Fix link to demo-service source folder
  content/en/docs/demo/services/recommendation.md
Labels: sig:demo

#5857 Small updates to the java agent zero code docs
  content/en/blog/2024/fuzzing-audit-results.md
  content/en/docs/zero-code/java/agent/annotations.md
  content/en/docs/zero-code/java/agent/configuration.md
  content/en/docs/zero-code/java/agent/disable.md
  content/en/docs/zero-code/java/agent/instrumentation/http.md
Labels: blog, sig:java

#5856 [Collector's architecture] Nit: adjusted description of the provided pipeline example
  content/en/docs/collector/architecture.md
Labels: sig:collector

#5860 Fix Gradle build script names in docs
  content/en/docs/zero-code/java/spring-boot-starter/annotations.md
  content/en/docs/zero-code/java/spring-boot-starter/getting-started.md
  content/en/docs/zero-code/java/spring-boot-starter/other-spring-autoconfig.md
  content/en/docs/zero-code/java/spring-boot-starter/sdk-configuration.md
Labels: sig:java
