Repository open-telemetry/opentelemetry.io, pull requests merged in 2024-02, with the labels that each got.

#3903 [CI/textlint] "Auto Config*" rewrite-rule capitalization fix
  .cspell.yml
  .textlintrc.yml
  content/en/blog/2022/instrument-kafka-clients/index.md
  content/en/blog/2023/otel-in-focus-06.md
  content/en/blog/2023/otel-in-focus-09.md
  content/en/docs/languages/java/automatic/spring-boot.md
  content/en/docs/languages/java/exporters.md
  content/en/docs/languages/java/getting-started.md
  content/en/docs/languages/java/instrumentation.md
  content/en/docs/languages/java/libraries.md
Labels: CI/infra

#3914 Fix broken contribution links in README
  README.md
Labels: bug

#3924 [docsy] Temp page-meta-links patch
  layouts/partials/page-meta-links.html
Labels: CI/infra, docsy

#3828 Add rust libraries page
  content/en/docs/languages/rust/libraries.md
  static/refcache.json
Labels: sig:rust

#3656 Fix Java manual instrumentation with Spring Boot app
  content/en/docs/languages/java/instrumentation.md
Labels: sig:java

#3943 [IA] Rename manual-intro shortcode to instrumentation-intro
  content/en/docs/languages/cpp/instrumentation.md
  content/en/docs/languages/erlang/instrumentation.md
  content/en/docs/languages/go/instrumentation.md
  content/en/docs/languages/java/instrumentation.md
  content/en/docs/languages/js/instrumentation.md
  content/en/docs/languages/net/instrumentation.md
  content/en/docs/languages/php/instrumentation.md
  content/en/docs/languages/python/instrumentation.md
  content/en/docs/languages/ruby/instrumentation.md
  content/en/docs/languages/swift/instrumentation.md
  layouts/shortcodes/docs/languages/instrumentation-intro.md
Labels: cleanup/refactoring

#3940 Add default Collector configuration path to Configuration docs
  content/en/docs/collector/configuration.md
Labels: docs, sig:collector

#3955 [CI] Refactor PR actions workflow
  .github/workflows/pr-actions.yml
Labels: CI/infra

#3423 updated version of the C++ Getting Started with a Roll The Dice
  content/en/docs/languages/cpp/getting-started.md
  static/refcache.json
Labels: sig:cpp, sig-approval-missing

#3856 Emphasize that there is no user-facing Otel Logs API
  content/en/docs/languages/java/instrumentation.md
Labels: sig:java

#3786 Mention OTEL_METRIC_EXPORT_INTERVAL in Java manual instrumentation page.
  content/en/docs/languages/java/getting-started.md
  content/en/docs/languages/java/instrumentation.md
Labels: sig:java, sig-approval-missing

#3853 Update metrics docs for JS
  content/en/docs/concepts/signals/metrics.md
  content/en/docs/languages/js/instrumentation.md
Labels: sig:javascript

#4008 [CI] Add a reminder to .gitmodules about pushing docsy tags
  .gitmodules
Labels: CI/infra

#3997 Document: fix instrumentation.md code highlight error
  content/en/docs/languages/java/instrumentation.md
Labels: sig:java

#4011 [CI] Update `actions/{up,down}load-artifact` to v4
  .github/workflows/check-links.yml
Labels: CI/infra

#4010 [infra] adjust-pages.pl: drop spec-patching code
  scripts/content-modules/adjust-pages.pl
Labels: CI/infra

#4015 Add logs instructions to currencyservice
  content/en/docs/demo/services/currency.md
Labels: sig:demo

#4021 [CI] Fix submodule sync & pr-action adjustments
  .github/workflows/pr-actions.yml
  content/en/docs/contributing/_index.md
  package.json
Labels: CI/infra

#3459 Add instructions for Java app servers
  content/en/docs/languages/java/automatic/server-config.md
Labels: sig:java

#3772 collector-span: added documentation for changing span status in collector
  content/en/docs/collector/transforming-telemetry.md
Labels: sig:collector

#4039 Created blogpost for Observability Game days at Skyscanner
  content/en/blog/2024/demo-skyscanner/index.md
  content/en/blog/2024/demo-skyscanner/tracing-example.png
  content/en/blog/2024/demo-skyscanner/wheel.png
  static/refcache.json
Labels: blog

#4052 Improve JS Instrumentation Docs
  content/en/docs/languages/js/instrumentation.md
Labels: sig-approval-missing

#4060 AutoInstrumentation -> Instrumentation Libraries
  content/en/docs/demo/telemetry-features/metric-coverage.md
Labels: sig:demo

#4067 [Hugo] Don't auto-linkify in prose & fix registry links
  data/registry/instrumentation-erlang-req.yml
  data/registry/instrumentation-go-mongodb.yml
  data/registry/instrumentation-php-psr14.yml
  data/registry/tools-go-propagator-datadog.yml
  data/registry/tools-php-propagator-b3.yml
  data/registry/tools-python-propagator-gcp.yml
  data/registry/tools-rust-propagator-jaeger.yml
  hugo.yaml
Labels: CI/infra
