Repository open-telemetry/opentelemetry.io, pull requests merged in 2024-07, with the labels that each got.

#4771 Remove subjective statement regarding decorators
  content/en/docs/languages/python/instrumentation.md
Labels: sig:python

#4448 [demo/accountingservice] instrument by OTel .NET Auto
  content/en/docs/demo/_index.md
  content/en/docs/demo/architecture.md
  content/en/docs/demo/services/_index.md
  content/en/docs/demo/services/accounting.md
  static/refcache.json
Labels: blocked, sig:demo

#4759 Add blog post on hardening the Collector
  content/en/blog/2024/hardening-the-collector-one.md
Labels: sig:collector, blog

#4778 Bump Java instrumentation version to 2.5.0
  content/en/docs/zero-code/java/_index.md
  static/refcache.json
Labels: sig:java

#4744 [ja] translation of instrumentation scope and sampling
  content/ja/docs/concepts/instrumentation-scope/index.md
  content/ja/docs/concepts/sampling/index.md
Labels: lang:ja

#4741 [ja] translate Semantic convention and Resource
  content/ja/docs/concepts/resources/index.md
  content/ja/docs/concepts/semantic-conventions.md
Labels: lang:ja

#4787 [i18n] ja localization of resources-intro shortocde
  layouts/shortcodes/docs/languages/resources-intro.md
  layouts/shortcodes/ja/docs/languages/resources-intro.md
Labels: i18n, lang:ja

#4722 Update propagation page for Node.js
  content/en/docs/languages/js/propagation.md
  layouts/shortcodes/docs/languages/propagation.md
  static/refcache.json
Labels: sig:js

#4793 Update getting-started.md
  content/en/docs/languages/go/getting-started.md
Labels: sig:go

#4790 Add i18n guidance re. images & shortcodes + some rework
  content/en/docs/contributing/localization.md
Labels: i18n

#4780 [ja] add: translation of contributing
  content/ja/docs/contributing/_index.md
Labels: lang:ja

#4804 add missing java http settings
  content/en/docs/zero-code/java/agent/configuration.md
  static/refcache.json
Labels: sig:java

#4802 [PHP] Edit propagation doc
  content/en/docs/languages/php/propagation.md
Labels: sig:php

#4815 Fix links in Java agent config
  content/en/docs/zero-code/java/agent/configuration.md
Labels: cleanup/refactoring, sig:java

#4767 [ja] add Japanese translation of distribution and glossary
  content/ja/docs/concepts/distributions.md
  content/ja/docs/concepts/glossary.md
Labels: lang:ja

#4801 [Erlang] Review propagation docs
  content/en/docs/languages/erlang/getting-started.md
  content/en/docs/languages/erlang/propagation.md
  content/en/docs/languages/erlang/resources.md
  content/en/docs/languages/js/propagation.md
Labels: sig:erlang, sig:js

#4747 Blog post announcing OTel schedule for Kubecon China 2024
  content/en/announcements/kubecon-china.md
  content/en/blog/2024/kubecon-china.md
  static/refcache.json
Labels: blog

#4806 Improve the annotation doc of the OTel starter
  content/en/docs/zero-code/java/spring-boot-starter/additional-instrumentations.md
  content/en/docs/zero-code/java/spring-boot-starter/annotations.md
  static/refcache.json
Labels: sig:java, sig-approval-missing

#4821 Fix XML tag
  content/en/docs/zero-code/java/spring-boot-starter/annotations.md
Labels: sig:java

#4816 [CI] Spell check `en` pages only
  .github/workflows/check-spelling.yml
  package.json
Labels: CI/infra, i18n

#4814 Upgrade NPM pkgs, including Hugo to 0.128.0
  package.json
Labels: CI/infra

#4727 Replace instrumentation module/package instances with instrumentation library
  .textlintrc.yml
  content/en/blog/2022/dotnet-instrumentation-first-beta.md
  content/en/blog/2022/troubleshooting-nodejs.md
  content/en/blog/2023/end-user-discussions-03.md
  content/en/blog/2023/end-user-q-and-a-01.md
  content/en/docs/concepts/instrumentation/libraries.md
  content/en/docs/faas/lambda-auto-instrument.md
  content/en/docs/languages/erlang/libraries.md
  content/en/docs/languages/js/getting-started/nodejs.md
  content/en/docs/languages/js/libraries.md
  content/en/docs/languages/net/libraries.md
  content/en/docs/languages/php/getting-started.md
  content/en/docs/languages/python/_index.md
  content/en/docs/zero-code/js/configuration.md
  content/en/docs/zero-code/net/instrumentations.md
  content/en/docs/zero-code/net/nuget-packages.md
  content/en/docs/zero-code/python/_index.md
  data/registry/instrumentation-js-fastify.yml
  data/registry/instrumentation-js-nestjs.yml
Labels: blog, sig:dotnet, sig:erlang, sig:php, sig:python, registry, sig:js

#4638 [zh] Add migration/_index.md
  content/zh/docs/migration/_index.md
Labels: lang:zh

#4819 update sync gauge example
  content/en/docs/languages/go/instrumentation.md
Labels: sig:go

#4832 Remove the semconv dependency in Go getting started
  content/en/docs/languages/go/getting-started.md
Labels: sig:go

#4831 Update Go example Tracer/Meter names
  content/en/docs/languages/go/getting-started.md
  content/en/docs/languages/go/instrumentation.md
Labels: sig:go

#4833 Update Go instrumentation semconv examples
  content/en/docs/languages/go/instrumentation.md
Labels: sig:go

#4838 Fix link to "Building a Connector" on custom-collector.md
  content/en/docs/collector/custom-collector.md
Labels: sig:collector

#4817 [ja] add translation of the index page of collector
  content/ja/docs/collector/_index.md
Labels: lang:ja

#4842 OTel Spring starter update from 2.6.0
  content/en/docs/zero-code/java/spring-boot-starter/getting-started.md
  content/en/docs/zero-code/java/spring-boot-starter/other-spring-autoconfig.md
Labels: sig:java

#4794 [pt-br] Localize index page to Portuguese (Brazil)
  content/pt/_index.md
  hugo.yaml
Labels: i18n

#4844 Blog post clarification per #4823
  content/en/blog/2024/otel-errors/index.md
Labels: blog

#4811 re-organize agent config
  content/en/blog/2022/debug-otel-with-otel/index.md
  content/en/docs/faas/lambda-auto-instrument.md
  content/en/docs/kubernetes/operator/automatic.md
  content/en/docs/languages/java/getting-started.md
  content/en/docs/languages/java/libraries.md
  content/en/docs/zero-code/java/agent/_index.md
  content/en/docs/zero-code/java/agent/configuration.md
  content/en/docs/zero-code/java/agent/disable.md
  content/en/docs/zero-code/java/agent/extensions.md
  content/en/docs/zero-code/java/agent/getting-started.md
  content/en/docs/zero-code/java/agent/instrumentation/_index.md
  content/en/docs/zero-code/java/agent/instrumentation/http.md
  content/en/docs/zero-code/java/agent/server-config.md
  content/en/docs/zero-code/java/spring-boot-starter/sdk-configuration.md
  static/refcache.json
Labels: blog, sig:java, sig:operator

#4845 [Go] Add zap log bridge
  content/en/docs/languages/go/instrumentation.md
  static/refcache.json
Labels: sig:go

#4847 Update OTel Spring starter doc with 2.6.0 features
  content/en/docs/zero-code/java/spring-boot-starter/out-of-the-box-instrumentation.md
  static/refcache.json
Labels: sig:java

#4849 fix spring starter dependencies
  content/en/docs/zero-code/java/_index.md
  content/en/docs/zero-code/java/spring-boot-starter/getting-started.md
Labels: sig:java

#4828 Add Performance doc to Java
  content/en/docs/languages/java/performance.md
Labels: sig:java

#4850 Add blog post for the security audit results
  content/en/blog/2024/security-audit-results.md
  static/refcache.json
Labels: blog

#4861 Update security-audit-results.md
  content/en/blog/2024/security-audit-results.md
Labels: blog

#4858 docs/python: fix cutting-edge packages installation
  content/en/docs/languages/python/_index.md
Labels: sig:python

#4809 [ja] Japanese translation of instrumentation
  content/ja/docs/concepts/instrumentation/_index.md
  content/ja/docs/concepts/instrumentation/code-based.md
  content/ja/docs/concepts/instrumentation/libraries.md
  content/ja/docs/concepts/instrumentation/zero-code.md
Labels: lang:ja

#4824 [operator/nodejs] document disabling node auto-instrumentations
  content/en/docs/kubernetes/operator/automatic.md
  content/en/docs/zero-code/js/configuration.md
Labels: sig:operator, sig:js

#4870 [collector] Remove references to the memory ballast extension
  content/en/docs/collector/configuration.md
  content/en/docs/collector/troubleshooting.md
  content/en/docs/kubernetes/helm/collector.md
  data/registry/collector-extension-ballast.yml
Labels: sig:collector, registry, sig:helm

#4866 zero-code/python: correct the OTEL_PYTHON_DISABLED_INSTRUMENTATIONS description
  content/en/docs/zero-code/python/configuration.md
Labels: sig:python

#4685 [zh] add contributing/style-guide.md
  content/zh/docs/contributing/style-guide.md
Labels: lang:zh

#4875 Update java agent instrumentation disable list
  content/en/docs/zero-code/java/agent/disable.md
Labels: sig:java

#4649 Add Prometheus compatibility survey blog
  content/en/blog/2024/prometheus-compatibility-survey/dots-vs-underscores.png
  content/en/blog/2024/prometheus-compatibility-survey/index.md
  content/en/blog/2024/prometheus-compatibility-survey/units-in-metric-name.png
  static/refcache.json
Labels: blog, sig:enduser

#4736 Update java sampling documentation page
  content/en/docs/languages/java/sampling.md
Labels: sig:java, sig-approval-missing

#4884 [CI][pt] Run Prettier on all locales except ja and zh
  .prettierignore
  content/pt/_index.md
Labels: CI/infra, lang:pt

#4883 [infra] Hugo 0.129.0 + other pkg vers refresh
  package.json
Labels: CI/infra

#4868 [pt-br] feat: add translation of index docs
  content/pt/docs/_index.md
Labels: lang:pt

#4872 Fix queue length documentation
  content/en/docs/collector/internal-telemetry.md
Labels: sig:collector

#4894 [CI] Filename check: also ignore .DS_Store files
  package.json
Labels: CI/infra

#4897 [CI] Component-owners workflow: remove PR trigger
  .github/workflows/component-owners.yml
Labels: CI/infra

#4895 [i18n] Improve specs redirects
  .htmltest.yml
  content/ja/docs/specs/_index.md
  layouts/partials/redirects/sites.redirects
Labels: i18n, lang:ja

#4891 Update kubecon-china.md
  content/en/blog/2024/kubecon-china.md
Labels: blog

#4855 Add native/firstParty flag to cpp and dotnet instrumentation
  data/registry/instrumentation-cpp-httpd.yml
  data/registry/instrumentation-cpp-nginx.yml
  data/registry/instrumentation-cpp-otel-webserver-module.yml
  data/registry/instrumentation-dotnet-aspnet-telemetryhttpmodule.yml
  data/registry/instrumentation-dotnet-aspnet.yml
  data/registry/instrumentation-dotnet-aspnetcore.yml
  data/registry/instrumentation-dotnet-aws.yml
  data/registry/instrumentation-dotnet-awslambda.yml
  data/registry/instrumentation-dotnet-azure-sdk.yml
  data/registry/instrumentation-dotnet-cassandra.yml
  data/registry/instrumentation-dotnet-confluentkafka.yml
  data/registry/instrumentation-dotnet-elasticsearchclient.yml
  data/registry/instrumentation-dotnet-entityframeworkcore.yml
  data/registry/instrumentation-dotnet-eventcounters.yml
  data/registry/instrumentation-dotnet-grpccore.yml
  data/registry/instrumentation-dotnet-grpcnetclient.yml
  data/registry/instrumentation-dotnet-hangfire.yml
  data/registry/instrumentation-dotnet-http.yml
  data/registry/instrumentation-dotnet-instrumentation-aws.yml
  data/registry/instrumentation-dotnet-masstransit.yml
  data/registry/instrumentation-dotnet-mysqldata.yml
  data/registry/instrumentation-dotnet-owin.yml
  data/registry/instrumentation-dotnet-process.yml
  data/registry/instrumentation-dotnet-quartz.yml
  data/registry/instrumentation-dotnet-runtime.yml
  data/registry/instrumentation-dotnet-sqlclient.yml
  data/registry/instrumentation-dotnet-stackexchangeredis.yml
  data/registry/instrumentation-dotnet-wcf.yml
Labels: registry

#4900 Refactor layouts/index.redirects
  layouts/index.redirects
  layouts/partials/func/trim-lines.html
  layouts/partials/redirects/aliases.txt
  layouts/partials/redirects/languages.txt
  layouts/partials/redirects/localization.txt
  layouts/partials/redirects/pages.txt
  layouts/partials/redirects/redirect.txt
  layouts/partials/redirects/schemas.txt
  layouts/partials/redirects/social-media.txt
Labels: CI/infra, cleanup/refactoring

#4906 [i18n] Process non-en redirect directives
  layouts/partials/redirects/localization.txt
Labels: i18n

#4909 Fix JS propagation page link
  content/en/docs/languages/js/propagation.md
Labels: sig:js

#4903 [zh] translate the getting started
  content/zh/docs/getting-started/dev.md
  content/zh/docs/getting-started/ops.md
Labels: lang:zh

#4912 python: add note to zero-code docs highlighting the need for distro package
  content/en/docs/zero-code/python/_index.md
Labels: sig:python

#4918 [CI] Fix filenames: ignore dot files
  package.json
Labels: CI/infra

#4908 Remove duplicate content
  content/zh/docs/what-is-opentelemetry.md
Labels: lang:zh

#4805 Introduce schema for registry entries
  .github/workflows/check-registry.yml
  .github/workflows/check-text.yml
  data/registry-schema.json
  data/registry/collector-extension-googleclientauth.yml
  data/registry/collector-receiver-splunkenterprise.yml
  data/registry/exporter-dotnet-prometheus-aspnetcore.yml
  data/registry/instrumentation-js-dataloader.yml
  data/registry/instrumentation-js-nextjs.yml
  data/registry/instrumentation-js-redis-4.yml
  data/registry/otel-lua.yml
  data/registry/otel-ocaml.yml
  data/registry/tools-ansible-grafana.yml
  data/registry/tools-cpp-conan.yml
  data/registry/tools-cpp-vcpkg.yml
  data/registry/tools-python-resourcedetector-gcp.yml
  data/registry/tools-rust-aws.yml
  gulp-src/validate-registry.js
  package.json
  static/refcache.json
Labels: CI/infra, registry

#4917 Python zero-code copyedits
  content/en/docs/zero-code/python/_index.md
Labels: copyedit, sig:python
