Repository open-telemetry/opentelemetry.io, pull requests merged in 2024-10, with the labels that each got.

#5285 Improve intro text
  content/es/docs/demo/_index.md
Labels: lang:es

#5284 updated autoinstrument as a single word
  content/en/blog/2024/getting-started-with-otelsql/index.md
  content/en/blog/2024/otel-governance/index.md
  content/en/blog/2024/otel-operator-q-and-a/index.md
  content/en/blog/2024/prom-and-otel/index.md
Labels: blog

#5235 firstParty flag for Ruby
  data/registry/instrumentation-ruby-action-pack.yml
  data/registry/instrumentation-ruby-action-view.yml
  data/registry/instrumentation-ruby-actionmailer.yml
  data/registry/instrumentation-ruby-active-job.yml
  data/registry/instrumentation-ruby-active-model-serializers.yml
  data/registry/instrumentation-ruby-active-record.yml
  data/registry/instrumentation-ruby-active-support.yml
  data/registry/instrumentation-ruby-all.yml
  data/registry/instrumentation-ruby-aws-sdk.yml
  data/registry/instrumentation-ruby-awslambda.yml
  data/registry/instrumentation-ruby-base.yml
  data/registry/instrumentation-ruby-bunny.yml
  data/registry/instrumentation-ruby-concurrent-ruby.yml
  data/registry/instrumentation-ruby-dalli.yml
  data/registry/instrumentation-ruby-delayed-job.yml
  data/registry/instrumentation-ruby-ethon.yml
  data/registry/instrumentation-ruby-excon.yml
  data/registry/instrumentation-ruby-faraday.yml
  data/registry/instrumentation-ruby-grape.yml
  data/registry/instrumentation-ruby-graphql.yml
  data/registry/instrumentation-ruby-gruf.yml
  data/registry/instrumentation-ruby-http-client.yml
  data/registry/instrumentation-ruby-http.yml
  data/registry/instrumentation-ruby-httpx.yml
  data/registry/instrumentation-ruby-koala.yml
  data/registry/instrumentation-ruby-lmdb.yml
  data/registry/instrumentation-ruby-mongo.yml
  data/registry/instrumentation-ruby-mysql2.yml
  data/registry/instrumentation-ruby-net-http.yml
  data/registry/instrumentation-ruby-pg.yml
  data/registry/instrumentation-ruby-que.yml
  data/registry/instrumentation-ruby-racecar.yml
  data/registry/instrumentation-ruby-rack.yml
  data/registry/instrumentation-ruby-rails.yml
  data/registry/instrumentation-ruby-rake.yml
  data/registry/instrumentation-ruby-rdkafka.yml
  data/registry/instrumentation-ruby-redis.yml
  data/registry/instrumentation-ruby-resque.yml
  data/registry/instrumentation-ruby-restclient.yml
  data/registry/instrumentation-ruby-rspec.yml
  data/registry/instrumentation-ruby-ruby-kafka.yml
  data/registry/instrumentation-ruby-sidekiq.yml
  data/registry/instrumentation-ruby-sinatra.yml
  data/registry/instrumentation-ruby-trilogy.yml
Labels: registry

#5245 Update the organization of internal telemetry page
  content/en/docs/collector/internal-telemetry.md
Labels: sig:collector

#5164 Removing repeated words
  content/en/docs/collector/building/receiver.md
  content/en/docs/kubernetes/collector/components.md
  content/en/docs/languages/erlang/propagation.md
  content/en/docs/languages/java/performance.md
  content/en/docs/zero-code/java/agent/instrumentation/_index.md
Labels: blocked, sig:collector, sig:erlang, sig:java

#5291 fixed the duplicated text: localhost 4318 on Otel collector image
  content/en/docs/demo/architecture.md
Labels: sig:demo

#5298 [en] fix link zpages content/en/docs/concepts/glossary.md
  content/en/docs/concepts/glossary.md
  content/ja/docs/concepts/glossary.md
Labels: lang:ja

#5313 [CI] Update package.json: tweak script and minor pkg vers update
  package.json
Labels: CI/infra

#5297 [es] Translate docs/languages/python/instrumentation
  .cspell/es-palabras.txt
  content/es/docs/languages/python/instrumentation.md
Labels: lang:es

#5302 "feat: [es] Create observability-primer.md "
  content/es/docs/concepts/observability-primer.md
Labels: lang:es

#5321 adding [es] docs/concepts/distributions
  content/es/docs/concepts/distributions.md
Labels: lang:es

#5315 feat: [es] Create docs/languages/context-propagation
  content/es/docs/concepts/context-propagation.md
Labels: lang:es

#5304 Update custom-collector.md
  content/en/docs/collector/custom-collector.md
Labels: sig:collector

#5362 Contributing > issues: clarify issue-assignment policy
  content/en/docs/contributing/issues.md
Labels: docs, 0-meta

#5364 docs: update example links to opentelemetry-go-contrib repository
  content/en/blog/2024/prom-and-otel/index.md
  content/en/docs/languages/go/examples.md
  content/en/docs/languages/go/exporters.md
Labels: blog, sig:go

#5183 [pt] Add translations for /pt/docs/concepts/glossary
  .cspell/pt-palavras.txt
  content/pt/docs/concepts/glossary.md
Labels: lang:pt

#5363 Update custom-collector.md
  content/en/docs/collector/custom-collector.md
Labels: sig:collector, sig-approval-missing

#5397 Fix Prometheus config example
  content/en/docs/collector/internal-telemetry.md
Labels: sig:collector

#5389 Update JS Counters header to be consistent
  content/en/docs/languages/js/instrumentation.md
Labels: sig:javascript

#5338 Document some quirks with Python otel operator based auto-instrumentation
  content/en/docs/kubernetes/operator/automatic.md
  content/en/docs/zero-code/python/operator.md
Labels: sig:python, sig:operator

#5410 New blogpost for GC 2024 candidates
  content/en/blog/2024/gc-candidates.md
  static/refcache.json
Labels: blog

#5346 [pt] Initialize translations for /pt/docs/languages/go
  content/pt/docs/languages/go/_index.md
  content/pt/docs/languages/go/api.md
  content/pt/docs/languages/go/examples.md
  content/pt/docs/languages/go/getting-started.md
  layouts/partials/pt/docs/latest-release.md
  layouts/shortcodes/pt/docs/languages/index-intro.md
Labels: lang:pt

#5408 Add what is opentelemetry page in french
  .cspell/fr-mots.txt
  content/fr/docs/what-is-opentelemetry.md
Labels: lang:fr

#5418 Remove otelmacaron from registry
  data/registry/instrumentation-go-otelmacaron.yml
Labels: registry

#5422 [CI] Ensure spec processing works even if path contains a space
  scripts/content-modules/adjust-pages.pl
  scripts/content-modules/cp-pages.sh
Labels: CI/infra

#5436 OTel diagram: drop fill color in support of dark mode
  static/img/otel-diagram.svg
Labels: design/style

#5430 [zh] Add anchors and tweak lines in style-guide.md
  .htmltest.yml
  content/zh/docs/contributing/style-guide.md
Labels: lang:zh

#5427 Adding utility for Apache Druid ingestion of OTLP
  data/registry/tools-java-druid-extension-otlp.yaml
  static/refcache.json
Labels: registry

#5448 [i18n, CI] How to deal with broken links in non-en pages when updating en pages
  .cspell.yml
  .htmltest.yml
  content/en/blog/_index.md
  content/en/docs/contributing/localization.md
  content/ja/docs/concepts/instrumentation/libraries.md
  content/pt/docs/concepts/instrumentation/libraries.md
  package.json
  scripts/htmltest-config.pl
  scripts/htmltest-config.sh
Labels: CI/infra, i18n, blog, lang:ja, lang:pt

#5443 zero-code/python: add django applications notes in operator doc
  content/en/docs/zero-code/python/operator.md
Labels: sig:python

#5425 Update operator.md
  content/en/docs/kubernetes/helm/operator.md
Labels: sig-approval-missing, sig:helm

#5393 [pt-br] feat: localized apis and sdks languages for pt-br
  content/pt/docs/languages/_index.md
Labels: lang:pt

#5470 Add MLflow entry to the OpenTelemetry integrations registry
  data/registry/application-integration-python-mlflow.yml
  static/refcache.json
Labels: registry

#5476 Add 2024 GC Election results blogpost
  content/en/blog/2024/gc-election-results.md
Labels: blog

#5407 PR for "Rework Building a Connector images"
  content/en/docs/collector/building/connector/index.md
  content/en/docs/collector/building/connector/otel-collector-after-connector.svg
  content/en/docs/collector/building/connector/otel-collector-before-connector.svg
  content/en/docs/collector/img/otel-collector-after-connector.png
  content/en/docs/collector/img/otel-collector-before-connector.png
Labels: sig:collector

#5438 Review visualizations for dark/light mode compatibility
  content/en/docs/collector/img/otel-collector.svg
  static/img/waterfall-trace.svg
Labels: sig:collector

#5475 State of Profiling blog post
  .cspell/en-words.txt
  content/en/blog/2024/state-profiling.md
  static/refcache.json
Labels: blog

#5440 Fix image display for dark mode on Instrumentation Scope page #5438
  content/en/docs/concepts/instrumentation-scope/spans-with-instrumentation-scope.svg
Labels: sig:collector

#5499 Remove duplicate text
  content/en/docs/languages/net/instrumentation.md
Labels: sig:dotnet

#5482 Add blogpost announcing Community Awards
  content/en/announcements/2024-community-awards.md
  content/en/blog/2024/community-awards.md
  static/refcache.json
Labels: blog

#5501 Update collector provider versions for v0.112.0
  content/en/docs/collector/custom-collector.md
Labels: sig:collector

#5365 Fix span start typo
  content/en/docs/languages/swift/instrumentation.md
Labels: sig:swift

#5465 Update libraries.md
  content/en/docs/concepts/instrumentation/libraries.md
Labels: bug

#5504 Update Node LTS + Hugo patch and other pkg vers
  package.json
Labels: dependencies, CI/infra
