Repository open-telemetry/opentelemetry.io, pull requests merged in 2024-05, with the labels that each got.

#4405 Add the missing semicolon in the code example
  content/en/docs/languages/php/instrumentation.md
Labels: sig:php

#4369 Add missing using instrumentation libraries pages: Python
  content/en/docs/languages/python/libraries.md
  static/refcache.json
Labels: sig:python, sig-approval-missing

#4406 Update banner with newest OTel End User SIG survey
  content/en/community/end-user/feedback-survey.md
  content/en/community/end-user/otel-in-practice.md
  content/en/community/end-user/slack-channel.md
  layouts/partials/banner.md
  static/refcache.json
Labels: sig:enduser

#4404 js docs: update doc on auto instrumentation
  content/en/docs/languages/js/automatic/configuration.md
Labels: sig:js

#4413 Correct the http and grpc API calls for Go
  content/en/docs/languages/go/exporters.md
Labels: sig:go

#4419 add roadmap blog post
  content/en/blog/2024/collector-roadmap/can-haz-collector.png
  content/en/blog/2024/collector-roadmap/index.md
  static/refcache.json
Labels: blog

#4426 Fix wrong XML format contents
  content/en/docs/languages/java/automatic/spring-boot.md
Labels: sig:java

#4435 Fix a typo
  content/en/docs/languages/java/instrumentation.md
Labels: sig:java

#4437 [CI] Hugo serve to/from memory, as was the case before
  package.json
Labels: CI/infra

#4439 fix: remove invalid char from collector config doc
  content/en/docs/collector/configuration.md
Labels: sig:collector

#4442 Update java context propagation example to use Context.wrap
  content/en/docs/languages/java/instrumentation.md
Labels: sig:java

#4445 [infra] Fix spec markdown link processing
  scripts/content-modules/adjust-pages.pl
Labels: CI/infra

#4447 [infra] .prettierignore all languages other than en for now
  .prettierignore
Labels: CI/infra

#4409 Add blog post for OTel Collector Survey
  content/en/blog/2024/otel-collector-survey/areas-of-improvement.png
  content/en/blog/2024/otel-collector-survey/deployment-environment.png
  content/en/blog/2024/otel-collector-survey/deployment-scale.png
  content/en/blog/2024/otel-collector-survey/index.md
  content/en/blog/2024/otel-collector-survey/monitoring.png
  content/en/blog/2024/otel-collector-survey/ocb-usage.png
  content/en/blog/2024/otel-collector-survey/usage-scenarios.png
  static/refcache.json
Labels: blog

#4452 Fix typo in Java instrumentation doc
  content/en/docs/languages/java/instrumentation.md
Labels: sig:java

#4459 Clean up site param in prep for multilang
  hugo.yaml
Labels: cleanup/refactoring, i18n

#4457 Fix opentelemetry-operator helm install command
  content/en/docs/kubernetes/helm/operator.md
Labels: sig:helm

#4462 [i18n] Base config for zh
  hugo.yaml
Labels: i18n

#4341 [zh] Add zh version of homepage
  .htmltest.yml
  content/zh/_index.md
  hugo.yaml
Labels: i18n

#4466 [i18n] Don't generate _redirects for non-en languages
  content/en/_index.md
  hugo.yaml
Labels: i18n

#4469 Collector config copyedits
  content/en/docs/collector/configuration.md
Labels: copyedit, sig:collector

#4359 Add blog post for OTel Operator Q&A
  content/en/blog/2024/otel-operator-q-and-a/index.md
  content/en/blog/2024/otel-operator-q-and-a/mount-rainier.jpg
  static/refcache.json
Labels: blog

#4477 [zh] Show Chinese homepage in production
  content/zh/_index.md
Labels: i18n, lang:zh

#4483 [demo docs] Add imageSlowLoad featureflag description
  content/en/docs/demo/feature-flags.md
Labels: sig:demo

#4481 [zh] Add new pages: what-is-opentelemetry and its _index.md
  .htmltest.yml
  content/zh/_index.md
  content/zh/docs/_index.md
  content/zh/docs/what-is-opentelemetry.md
  hugo.yaml
Labels: lang:zh

#4491 [CI] Use localhost URL prefix for DEPLOY_PRIME_URL & some pkg & script updates
  package.json
Labels: CI/infra

#4492 [CI] Ensure that every page has a canonical link
  layouts/partials/hooks/head-end.html
Labels: CI/infra

#4284 Add OpenTelemetry-Matlab to registry
  data/registry/otel-matlab.yml
  static/refcache.json
Labels: registry

#3834 Update .NET manual instrumentation docs with example app
  archetypes/blog.md
  content/en/docs/contributing/blog.md
  content/en/docs/languages/net/instrumentation.md
  content/en/docs/languages/net/netframework.md
  static/refcache.json
Labels: sig:dotnet

#4463 [Go] Document logs
  content/en/docs/languages/go/instrumentation.md
  content/en/docs/languages/go/resources.md
  static/refcache.json
Labels: sig:go

#4493 [Dark mode] Fix config-option element bg color
  assets/scss/_styles_project.scss
Labels: design/style

#4322 Unify internal observability documentation - 2 of 3
  content/en/docs/collector/internal-telemetry.md
Labels: sig:collector, sig-approval-missing

#4496 Fix typo in Python getting-started.md
  content/en/docs/languages/python/getting-started.md
Labels: CLA: no, sig:python

#4494 [zh] Ensure zh fallback pages specify en page as canonical source
  layouts/partials/hooks/head-end.html
Labels: lang:zh

#4490 Add logging to Go getting-started example
  content/en/docs/languages/go/getting-started.md
Labels: sig:go

#4498 [infra] Hugo config clean up and NPM script adjustments
  hugo.yaml
  package.json
Labels: CI/infra

#4504 Remove duplicate content from Collector config page
  content/en/docs/collector/configuration.md
  content/en/docs/collector/internal-telemetry.md
Labels: sig:collector

#4507 Update getting-started.md
  content/en/docs/languages/go/getting-started.md
Labels: sig:go

#4514 Remove `future` from logs
  content/en/docs/collector/_index.md
Labels: sig:collector

#4511 Updated receiver tutorial
  content/en/docs/collector/building/receiver.md
Labels: sig:collector

#4489 Add container parser blog post
  content/en/blog/2024/otel-collector-container-log-parser/index.md
  static/refcache.json
Labels: sig:collector, blog

#4525 [zh] Add concepts folder and its index
  content/zh/docs/concepts/_index.md
  content/zh/docs/concepts/components.md
Labels: lang:zh

#4524 Add explanation of double colons to Collector config page
  content/en/docs/collector/configuration.md
Labels: sig:collector

#4430 [IA] Relocate Java Automatic pages to new Zero-code section
  .htmltest.yml
  content/en/docs/concepts/distributions.md
  content/en/docs/zero-code/_index.md
  content/en/docs/zero-code/java/_index.md
  content/en/docs/zero-code/java/agent/_index.md
  content/en/docs/zero-code/java/agent/annotations.md
  content/en/docs/zero-code/java/agent/configuration.md
  content/en/docs/zero-code/java/agent/extensions.md
  content/en/docs/zero-code/java/agent/server-config.md
  content/en/docs/zero-code/java/spring-boot/_index.md
  static/refcache.json
Labels: sig:java, sig-approval-missing, IA

#4518 Update getting-started.md with Bandit
  content/en/docs/languages/erlang/getting-started.md
Labels: sig:erlang

#4527 [IA] Relocate JavaScript Automatic pages to new Zero-code section + CODEOWNERS
  .github/CODEOWNERS
  content/en/blog/2023/end-user-discussions-03.md
  content/en/docs/concepts/instrumentation/zero-code.md
  content/en/docs/kubernetes/operator/automatic.md
  content/en/docs/languages/js/instrumentation.md
  content/en/docs/zero-code/js/_index.md
  content/en/docs/zero-code/js/configuration.md
Labels: blog, sig:operator, sig:js

#4532 [IA] Relocate .NET Automatic pages to new Zero-code section
  .github/CODEOWNERS
  content/en/blog/2023/end-user-discussions-03.md
  content/en/blog/2023/otel-dotnet-auto-instrumentation.md
  content/en/docs/concepts/instrumentation/zero-code.md
  content/en/docs/kubernetes/operator/automatic.md
  content/en/docs/languages/net/getting-started.md
  content/en/docs/languages/net/instrumentation.md
  content/en/docs/languages/net/libraries.md
  content/en/docs/languages/net/netframework.md
  content/en/docs/zero-code/net/_index.md
  content/en/docs/zero-code/net/configuration.md
  content/en/docs/zero-code/net/custom.md
  content/en/docs/zero-code/net/getting-started.md
  content/en/docs/zero-code/net/instrumentations.md
  content/en/docs/zero-code/net/nuget-packages.md
  content/en/docs/zero-code/net/troubleshooting.md
Labels: sig:dotnet, sig:operator

#4388 Add "using instrumentation libraries" for cpp
  content/en/docs/languages/cpp/library.md
  static/refcache.json
Labels: sig:cpp, sig-approval-missing

#4542 Add note on OTel C++ and automatic instrumentation
  content/en/docs/languages/cpp/getting-started.md
  content/en/docs/languages/cpp/instrumentation.md
Labels: sig:cpp

#4550 Style edits for Concepts section
  content/en/docs/concepts/_index.md
  content/en/docs/concepts/components.md
  content/en/docs/concepts/context-propagation.md
  content/en/docs/concepts/distributions.md
  content/en/docs/concepts/glossary.md
  content/en/docs/concepts/instrumentation-scope/index.md
  content/en/docs/concepts/observability-primer.md
  content/en/docs/concepts/semantic-conventions.md
  content/en/docs/concepts/signals/baggage.md
  content/en/docs/concepts/signals/logs.md
  content/en/docs/concepts/signals/metrics.md
  content/en/docs/concepts/signals/traces.md
Labels: copyedit

#4543 Post on Go Contrib modules removal (code owners needed)
  content/en/blog/2024/go-contrib-removal.md
  static/refcache.json
Labels: blog, sig:go

#4544 Added OpenLLMetry instrumentations
  data/registry/instrumentation-python-chromadb.yml
  data/registry/instrumentation-python-llamaindex.yml
  data/registry/instrumentation-python-milvus.yml
  data/registry/instrumentation-python-mistral.yml
  data/registry/instrumentation-python-ollama.yml
  data/registry/instrumentation-python-qdrant.yml
  data/registry/instrumentation-python-replicate.yml
  data/registry/instrumentation-python-transformers.yml
  data/registry/instrumentation-python-vertexai.yml
  data/registry/instrumentation-python-weaviate.yml
Labels: registry

#4552 document otel.instrumentation.common.db-statement-sanitizer.enabled
  content/en/docs/zero-code/java/spring-boot/_index.md
Labels: sig:java

#4555 Renamed CustomerID to clientID in baggage.md
  content/en/docs/concepts/signals/baggage.md
Labels: sig:spec

#4516 Update instrumentation.md
  content/en/docs/languages/java/instrumentation.md
Labels: sig:java, sig-approval-missing

#4565 [IA] Zero-code Java Agent: canonicalize links + copyedits
  .htmltest.yml
  content/en/blog/2022/debug-otel-with-otel/index.md
  content/en/blog/2023/spring-native/index.md
  content/en/docs/faas/lambda-auto-instrument.md
  content/en/docs/kubernetes/operator/automatic.md
  content/en/docs/languages/java/getting-started.md
  content/en/docs/languages/java/instrumentation.md
  content/en/docs/languages/java/libraries.md
  content/en/docs/languages/java/resources.md
  content/en/docs/zero-code/java/agent/configuration.md
  content/en/docs/zero-code/java/spring-boot-starter/sdk-configuration.md
Labels: blog, sig:java, sig:operator

#4564 [CI] Add fix:text script, and rule for bytecode spelling
  .cspell.yml
  .textlintrc.yml
  content/en/blog/2023/spring-native/index.md
  content/en/docs/zero-code/java/spring-boot-starter/_index.md
  package.json
Labels: CI/infra, blog

#4563 Spring Boot starter: Alias fixes and partial copyedits
  content/en/docs/zero-code/java/spring-boot-starter/_index.md
  content/en/docs/zero-code/java/spring-boot-starter/additional-instrumentations.md
  content/en/docs/zero-code/java/spring-boot-starter/annotations.md
  content/en/docs/zero-code/java/spring-boot-starter/getting-started.md
  content/en/docs/zero-code/java/spring-boot-starter/other-spring-autoconfig.md
  content/en/docs/zero-code/java/spring-boot-starter/out-of-the-box-instrumentation.md
Labels: blog

#4569 [CI] [Java agent] Ensure pkg versions get updated under zero-code
  .github/workflows/auto-update-versions.yml
  content/en/docs/zero-code/java/_index.md
  scripts/auto-update/all-versions.sh
Labels: CI/infra

#4568 [Java agent] Use absolute alias paths matching original
  content/en/docs/zero-code/java/agent/annotations.md
  content/en/docs/zero-code/java/agent/extensions.md
Labels: cleanup/refactoring
