Repository open-telemetry/opentelemetry.io, pull requests merged in 2024-09, with the labels that each got.

#5062 [pt] Add /pt/docs/concepts/signals/logs.md
  .cspell/pt-palavras.txt
  content/pt/docs/concepts/signals/logs.md
Labels: lang:pt

#5130 Replace "dynamically injects bytecode" in Python zero-code instrumentation
  content/en/docs/zero-code/python/_index.md
  static/refcache.json
Labels: sig:python, sig-approval-missing

#5131 Add operator runbooks
  .cspell/en-words.txt
  content/en/blog/2024/demo-skyscanner/index.md
  content/en/docs/kubernetes/operator/troubleshooting/prometheus-alerts-runbooks.md
Labels: sig:operator

#5107 [CI] Report an error when URLs are missing from an integrations registry entry
  layouts/shortcodes/ecosystem/integrations-table.md
Labels: CI/infra

#4119 Create blog post about Prometheus and OpenTelemetry
  content/en/blog/2024/prom-and-otel/OTel-collector-refresher.png
  content/en/blog/2024/prom-and-otel/Prom-and-otel-logos.png
  content/en/blog/2024/prom-and-otel/index.md
  content/en/blog/2024/prom-and-otel/target-allocator-promcr.png
  content/en/blog/2024/prom-and-otel/target-allocator-sharding.png
  static/refcache.json
Labels: blog, registry

#5143 [chore] Remove references to the logging exporter
  content/en/docs/kubernetes/operator/troubleshooting/target-allocator.md
  content/en/docs/languages/erlang/exporters.md
Labels: sig:erlang, sig:operator

#4867 Collector internal telemetry updates
  content/en/docs/collector/internal-telemetry.md
Labels: sig:collector, sig-approval-missing

#5125 [pt] Add translations for /pt/docs/concepts/distributions.md
  content/pt/docs/concepts/distributions.md
Labels: lang:pt

#5120 [pt] Add translations for /pt/docs/concepts/signals
  content/pt/docs/concepts/signals/_index.md
  content/pt/docs/concepts/signals/metrics.md
Labels: lang:pt

#5138 [pt-br] Localize 'sampling' page to Portuguese (Brazil)
  content/pt/docs/concepts/sampling/index.md
  content/pt/docs/concepts/sampling/tail-sampling-process.png
  content/pt/docs/concepts/sampling/traces-venn-diagram.png
Labels: lang:pt

#5165 Update libraries.md for style issues
  content/en/docs/concepts/instrumentation/libraries.md
Labels: docs

#4724 Add OTel Operator auto-instrumentation troubleshooting page
  content/en/docs/kubernetes/operator/troubleshooting/automatic.md
  static/refcache.json
Labels: sig:operator, sig-approval-missing

#5182 Remove go instrumentations that were deprecated and removed
  data/registry/instrumentation-go-gocql.yml
  data/registry/instrumentation-go-gomemcache.yml
  data/registry/instrumentation-go-otelkit.yml
  data/registry/instrumentation-go-sarama.yml
Labels: registry

#5175 Update architecture.md to remove incompatible link notation from diagram
  content/en/docs/demo/architecture.md
Labels: sig:demo

#5162 fix deprecated semantic-conventions
  content/en/docs/languages/js/instrumentation.md
Labels: sig:javascript

#5178 Update Documentation for Internal Metric Naming Conventions
  content/en/docs/collector/internal-telemetry.md
Labels: sig:collector

#4970 Add community members page
  .cspell.yml
  content/en/community/end-user/_index.md
  content/en/community/marketing-guidelines.md
  content/en/community/members.md
  data/community/members.yaml
  gulp-src/lint-md.js
  layouts/shortcodes/community/members-list.html
  scripts/generate-community-data/.env.sample
  scripts/generate-community-data/.gitignore
  scripts/generate-community-data/generate.js
  scripts/generate-community-data/package.json
  static/refcache.json
Labels: sig:enduser

#5192 The starter uses http/protobuf by default
  content/en/docs/languages/java/configuration.md
Labels: sig:java

#5163 Fix incorrect javascript.
  content/en/docs/languages/js/instrumentation.md
Labels: sig:javascript

#5196 Use collector contrib in quickstart
  content/en/docs/collector/quick-start.md
Labels: sig:collector, sig-approval-missing

#5201 [pt] add localization: content/pt/docs/concepts/instrumentation/zero-code.md
  content/pt/docs/concepts/instrumentation/zero-code.md
Labels: lang:pt

#4966 Refactor java SDK and configuration
  .cspell/en-words.txt
  .htmltest.yml
  .textlintrc.yml
  content/en/docs/languages/java/_index.md
  content/en/docs/languages/java/configuration.md
  content/en/docs/languages/java/exporters.md
  content/en/docs/languages/java/getting-started.md
  content/en/docs/languages/java/instrumentation.md
  content/en/docs/languages/java/libraries.md
  content/en/docs/languages/java/performance.md
  content/en/docs/languages/java/resources.md
  content/en/docs/languages/java/sampling.md
  content/en/docs/languages/java/sdk.md
  content/zh/docs/languages/java/_index.md
  static/refcache.json
Labels: sig:java

#5212 [collector] Update internal metrics config examples, suggest OTLP for pushing metrics
  content/en/docs/collector/internal-telemetry.md
Labels: sig:collector

#5215 Update observability-driven testing commands in documentation
  content/en/docs/demo/docker-deployment.md
Labels: sig:demo

#5221 Update what-is-opentelemetry.md
  content/es/docs/what-is-opentelemetry.md
Labels: lang:es

#5223 Use cleaner code for Ruby dice roll
  content/en/docs/languages/ruby/getting-started.md
Labels: sig:ruby

#5224 Remove reference to APK packages
  content/en/docs/collector/installation.md
Labels: sig:collector

#5228 feat: [es] opentelemetry.io/content/en/docs/getting-started/ops.md
  content/es/docs/getting-started/ops.md
Labels: lang:es

#5225 feat: [es] opentelemetry.io/content/en/docs/getting-started/dev.md
  content/es/docs/getting-started/dev.md
Labels: lang:es

#5236 firstParty flag for Lua/Perl/Rust/Swift
  data/registry/instrumentation-lua-apache-apisix.yml
  data/registry/instrumentation-perl-mojolicious.yml
  data/registry/instrumentation-perl-plack.yml
  data/registry/instrumentation-rust-actix-web.yml
  data/registry/instrumentation-rust-axum.yml
  data/registry/instrumentation-rust-tide.yml
  data/registry/instrumentation-rust-tracing.yml
  data/registry/instrumentation-rust-trillium.yml
  data/registry/instrumentation-swift-urlsession.yml
Labels: registry

#5092 Collector telemetry lifecycle
  content/en/docs/collector/internal-telemetry.md
Labels: sig:collector

#5132 [pt] Add content/pt/docs/concepts/resources and layouts/shortcodes/pt/
  .prettierignore
  content/pt/docs/concepts/resources/index.md
  layouts/shortcodes/pt/docs/languages/resources-intro.md
Labels: lang:pt

#5146 [pt] add localization: content/pt/docs/concepts/instrumentation/libraries.md
  .cspell/pt-palavras.txt
  content/pt/docs/concepts/instrumentation/libraries.md
Labels: lang:pt

#5188 [pt] add localization: content/pt/docs/concepts/signals/baggage.md
  content/pt/docs/concepts/signals/baggage.md
Labels: lang:pt

#5241 Fix various links that pointed to localhost:1313
  content/en/blog/2024/otel-operator-q-and-a/index.md
  content/en/docs/languages/_index.md
  content/en/docs/languages/java/configuration.md
Labels: blog, sig:java

#5251 Remove draft flag from otel arrow blog
  content/en/blog/2024/otel-arrow-production/index.md
Labels: blog

#5246 feat: [es] Create docs/_index.md
  content/es/docs/_index.md
Labels: lang:es

#5247 feat: [es] Create docs/languages/_index.md
  content/es/docs/languages/_index.md
Labels: lang:es

#5233 firstParty flag for php
  data/registry/instrumentation-php-cakephp.yml
  data/registry/instrumentation-php-codeigniter.yml
  data/registry/instrumentation-php-extamqp.yml
  data/registry/instrumentation-php-guzzle.yml
  data/registry/instrumentation-php-httpasyncclient.yml
  data/registry/instrumentation-php-io.yml
  data/registry/instrumentation-php-laravel.yml
  data/registry/instrumentation-php-mongodb.yml
  data/registry/instrumentation-php-openaiphp.yml
  data/registry/instrumentation-php-pdo.yml
  data/registry/instrumentation-php-psr14.yml
  data/registry/instrumentation-php-psr15.yml
  data/registry/instrumentation-php-psr16.yml
  data/registry/instrumentation-php-psr18.yml
  data/registry/instrumentation-php-psr3.yml
  data/registry/instrumentation-php-psr6.yml
  data/registry/instrumentation-php-slim.yml
  data/registry/instrumentation-php-symfony.yml
  data/registry/instrumentation-php-wordpress.yml
  data/registry/instrumentation-php-yii.yml
Labels: registry

#5258 OpenTelemetry .NET Automatic Instrumentation v1.8.0
  content/en/docs/zero-code/net/_index.md
  content/en/docs/zero-code/net/configuration.md
  content/en/docs/zero-code/net/instrumentations.md
  static/refcache.json
Labels: sig:dotnet

#5250 feat: [es] Create docs/kubernetes/collector/_index.md
  content/es/docs/kubernetes/collector/_index.md
Labels: lang:es

#5269 OTel .NET Auto - typo fixes propagators -> exporters
  content/en/docs/zero-code/net/configuration.md
Labels: sig:dotnet

#5268 OTel Arrow blog drive-by copyedits
  content/en/blog/2023/otel-arrow/index.md
  content/en/blog/2024/otel-arrow-production/index.md
Labels: copyedit, cleanup/refactoring, blog

#5265 [infra] Update NPM packages
  package.json
Labels: CI/infra

#5262 [editorial] lang/Java/SDK cleanup
  content/en/docs/languages/java/sdk.md
Labels: cleanup/refactoring, sig:java

#5028 Add registry tip to ocb
  content/en/docs/collector/custom-collector.md
  data/registry/collector-exporter-apiclarity.yml
  static/refcache.json
Labels: sig:collector, registry

#5260 Update propagation.md
  content/en/docs/languages/python/propagation.md
Labels: sig:python

#5271 Fix typo in Contributing / issues.md
  content/en/docs/contributing/issues.md
Labels: copyedit

#4937 [blog] Spring starter stable
  content/en/blog/2024/spring-starter-stable/index.md
  static/refcache.json
Labels: blog
