Repository open-telemetry/opentelemetry.io, pull requests merged in 2025-05, with the labels that each got.

#6797 Don't require locales to have Ask-AI i18n entries yet, fall back to en
  hugo.yaml
Labels: i18n

#6792 Remove old info warning from nodejs zero code docs
  content/en/docs/zero-code/js/_index.md
Labels: sig:javascript

#6791 Contributing > Dev setup rework
  content/en/docs/contributing/development.md
  static/refcache.json
Labels: docs, copyedit

#6698 [pt] Updated localized content on content/pt/docs/what-is-opentelemetry.md
  content/pt/docs/what-is-opentelemetry.md
Labels: lang:pt, docs-approval-missing

#6814 [i18n] Make `span-status-preamble.md` shortcode an include
  content/en/docs/languages/_includes/span-status-preamble.md
  content/en/docs/languages/dotnet/instrumentation.md
  content/en/docs/languages/go/instrumentation.md
  content/en/docs/languages/js/instrumentation.md
  content/en/docs/languages/php/instrumentation.md
  content/en/docs/languages/python/instrumentation.md
  content/en/docs/languages/ruby/instrumentation.md
  content/en/docs/languages/swift/instrumentation.md
  content/es/docs/languages/python/instrumentation.md
  content/pt/docs/languages/_includes/span-status-preamble.md
  content/pt/docs/languages/go/instrumentation.md
  content/pt/docs/languages/python/instrumentation.md
Labels: cleanup/refactoring, i18n, sig:go, sig:javascript, sig:php, sig:python, sig:ruby, sig:swift, lang:pt, lang:es

#6816 [i18n] Make resources-intro an include for `en`
  content/en/docs/_includes/resources-intro.md
  content/en/docs/_index.md
  layouts/shortcodes/docs/languages/resources-intro.md
Labels: cleanup/refactoring, i18n

#6810 Fix link in collector/building/receiver.md
  content/en/docs/collector/building/authenticator-extension.md
  content/en/docs/collector/building/receiver.md
  static/refcache.json
Labels: sig:collector

#6815 Fix invalid hash in languages/other external link - use path instead
  content/en/docs/languages/other/_index.md
  static/refcache.json
Labels: cleanup/refactoring

#6813 [pt] Set drifted status + mention error in translation
  content/pt/docs/languages/go/exporters.md
  content/pt/docs/what-is-opentelemetry.md
Labels: lang:pt

#6798 Fold scenarios into Feature Flags section for Demo Docs
  content/en/docs/demo/_index.md
  content/en/docs/demo/feature-flags/_index.md
  content/en/docs/demo/feature-flags/recommendation-cache/grafana-dashboard.png
  content/en/docs/demo/feature-flags/recommendation-cache/index.md
  content/en/docs/demo/feature-flags/recommendation-cache/jaeger-waterfall.png
  content/en/docs/demo/feature-flags/recommendation-cache/jaeger.png
  content/en/docs/demo/scenarios/_index.md
  content/es/docs/demo/_index.md
  content/ja/docs/demo/_index.md
  content/zh/docs/demo/_index.md
Labels: sig:demo, lang:zh, lang:ja, lang:es

#6821 Drop Prettier directives from layouts
  layouts/partials/docs/native-libraries.md
  layouts/shortcodes/docs/languages/index-adopters.md
  layouts/shortcodes/docs/languages/index-intro.md
  layouts/shortcodes/docs/languages/libraries-intro.md
  layouts/shortcodes/docs/languages/resources-intro.md
  layouts/shortcodes/ja/docs/languages/resources-intro.md
  layouts/shortcodes/pt/docs/languages/resources-intro.md
Labels: cleanup/refactoring

#6822 Drop temporary Prettier ignore rule
  .prettierignore
  content/en/docs/_includes/exporters/intro.md
Labels: cleanup/refactoring

#6824 Refactor resource-intro: get default resource from include file
  content/en/docs/_includes/resources-intro.md
  content/en/docs/_index.md
  layouts/partials/include.html
  layouts/shortcodes/docs/languages/resources-intro.md
Labels: cleanup/refactoring, i18n

#6759 [zh] Add new translation of Translat content/zh/docs/contributing/localization.md
  content/zh/docs/contributing/localization.md
Labels: lang:zh, docs-approval-missing

#6809 Fix: port-forward example to clarify service name usage and namespace
  content/en/docs/demo/kubernetes-deployment.md
Labels: sig:demo

#6830 Fix link to jmx-metrics README
  content/en/docs/languages/java/instrumentation.md
  static/refcache.json
Labels: sig:java

#6829 [pt] Fix shortcode path references on Portuguese pages
  content/pt/docs/_includes/exporters/intro.md
  content/pt/docs/_includes/resources-intro.md
  content/pt/docs/concepts/components.md
  content/pt/docs/concepts/resources/index.md
  content/pt/docs/languages/go/exporters.md
  layouts/shortcodes/pt/docs/languages/resources-intro.md
Labels: lang:pt

#6835 Add the OTTL Playground to the registry
  data/registry/tools-ottl-playground.yml
  static/refcache.json
Labels: registry

#6838 Localization: add guidance about not translating link def labels
  content/en/docs/contributing/localization.md
  static/refcache.json
Labels: enhancement, i18n

#6837 [i18n] Drifted status update
  content/es/docs/contributing/development.md
  content/ja/docs/contributing/development.md
  content/ja/docs/demo/_index.md
  content/ja/docs/demo/feature-flags.md
  content/pt/docs/languages/_includes/span-status-preamble.md
  content/pt/docs/languages/python/instrumentation.md
Labels: cleanup/refactoring, i18n, lang:ja, lang:pt, lang:es

#6836 [pt] Drop obsolete pt shortcodes
  layouts/shortcodes/pt/docs/languages/exporters/jaeger.md
  layouts/shortcodes/pt/docs/languages/exporters/outro.md
  layouts/shortcodes/pt/docs/languages/exporters/prometheus-setup.md
  layouts/shortcodes/pt/docs/languages/exporters/zipkin-setup.md
Labels: cleanup/refactoring, i18n, lang:pt

#6842 Document that doc changes should not span locales
  content/en/docs/contributing/localization.md
  content/en/docs/contributing/pull-requests.md
Labels: i18n

#6804 Add Humans of OTel blog post
  content/en/blog/2025/humans-of-otel-eu.md
  static/refcache.json
Labels: blog

#6756 Blog post draft: OpenTelemetry Protocol with Apache Arrow Phase 2
  content/en/blog/2025/otel-arrow-phase-2.md
  static/refcache.json
Labels: blog

#6831 Add logs_exporter flag to otel instrument examples
  content/en/docs/zero-code/python/example.md
Labels: sig:python

#6405 Create application-integration-python-csvpath-framework.yml
  data/registry/application-integration-python-csvpath-framework.yml
  static/refcache.json
Labels: registry

#6849 [pt] Add shortcodes for pt/docs/languages/_includes/exporters
  content/pt/docs/languages/_includes/exporters/jaeger.md
  content/pt/docs/languages/_includes/exporters/outro.md
  content/pt/docs/languages/_includes/exporters/prometheus-setup.md
  content/pt/docs/languages/_includes/exporters/zipkin-setup.md
Labels: lang:pt

#6796 [collector/management] Update Collector Management OpAMP references
  content/en/docs/collector/management.md
  static/refcache.json
Labels: sig:collector

#6870 feat: add collector resiliency doc
  content/en/docs/collector/resiliency.md
Labels: sig:collector

#6850 add page on sensitive data handling
  content/en/docs/security/handling-sensitive-data.md
  static/refcache.json
Labels: sig:security

#6879 Update NPM packages, Hugo to 0.147.2, not md lint
  package.json
Labels: CI/infra

#6889 [i18n] New locale config: add maintainer instructions, and other copyedits
  content/en/docs/contributing/localization.md
  static/refcache.json
Labels: i18n

#6876 [pt] Update localized content on content/pt/docs/languages/java/instrumentation.md
  content/pt/docs/languages/java/instrumentation.md
Labels: lang:pt, docs-approval-missing

#6875 [pt] Update localized content on content/pt/docs/languages/python/exporters.md
  content/pt/docs/languages/python/exporters.md
Labels: lang:pt, docs-approval-missing

#6896 [CI] Adjust fix:all and test-and-fix to omit fix:i18n
  package.json
Labels: CI/infra

#6905 [bn] Infra setup and config for bn
  .cspell.yml
  .cspell/bn-words.txt
  .prettierignore
  hugo.yaml
  package.json
Labels: CI/infra, i18n

#6907 [CI] Enforce Istio and mTLS capitalization, and spelling of portable
  .cspell/en-words.txt
  .textlintrc.yml
  content/en/blog/2024/kubecon-china.md
Labels: CI/infra, cleanup/refactoring, blog

#6892 feat: guidance around collector load-balancing and rate limiting
  content/en/docs/collector/scaling.md
Labels: sig:collector

#6916 fix: 🐛 oversized grafana-dashboards ConfigMap annotations exceeding Kubernetes limit
  content/en/docs/demo/kubernetes-deployment.md
Labels: sig:demo

#6898 [pt] Fix link definition labels for pages under content/pt/docs/concepts
  content/pt/docs/concepts/distributions.md
  content/pt/docs/concepts/instrumentation/libraries.md
  content/pt/docs/concepts/signals/_index.md
  content/pt/docs/concepts/signals/baggage.md
  content/pt/docs/concepts/signals/logs.md
Labels: lang:pt, docs-approval-missing

#6927 [k8s operator] Update OpenTelemetry Operator example
  content/en/docs/platforms/kubernetes/operator/_index.md
Labels: sig:operator

#6882 Added a registry entry for the new `googlesercretmanagerprovider` component.
  data/registry/collector-confmap-provider-googlesecretmanagerprovider.yml
  static/refcache.json
Labels: registry

#6874 [pt] Update localized content on content/pt/docs/languages/go
  content/pt/docs/languages/go/getting-started.md
  content/pt/docs/languages/go/instrumentation.md
Labels: lang:pt, docs-approval-missing

#6943 [Go] Bump semconv to v1.32.0
  content/en/docs/languages/go/instrumentation.md
Labels: sig:go

#6945 Add "Ask AI" to the search placeholder text
  i18n/en.toml
Labels: design/style

#6514 [pt] fix: collector component content/pt/docs/concepts/components.md
  content/pt/docs/concepts/components.md
Labels: lang:pt, docs-approval-missing

#6895 [ja] docs(i18n): fix drift of content/ja/docs/contributing/announcements.md
  content/ja/docs/contributing/announcements.md
Labels: lang:ja, docs-approval-missing

#6906 [ja] docs(i18n): fix removed file of content/ja/docs/demo/feature-flags.md
  content/ja/docs/demo/feature-flags/_index.md
Labels: lang:ja, docs-approval-missing

#6941 [ja] refactor: drop unnecessary shortcodes path
  content/ja/docs/_includes/exporters/intro.md
  content/ja/docs/_includes/resources-intro.md
  content/ja/docs/concepts/components.md
  layouts/shortcodes/ja/docs/languages/exporters/intro.md
  layouts/shortcodes/ja/docs/languages/resources-intro.md
Labels: lang:ja, docs-approval-missing

#6050 [chore] Accessible links 2
  content/en/blog/2023/otel-in-focus-01.md
  content/en/blog/2023/otel-in-focus-02.md
  content/en/blog/2023/otel-in-focus-03.md
  content/en/blog/2023/otel-in-focus-04.md
  content/en/blog/2023/otel-in-focus-05.md
  content/en/blog/2023/otel-in-focus-06.md
  content/en/blog/2023/otel-in-focus-07.md
  content/en/blog/2023/otel-in-focus-08.md
  content/en/blog/2023/otel-in-focus-09.md
  content/en/blog/2023/otel-in-focus-10.md
Labels: blocked, accessibility, blog

#6052 [chore] Accessible links 4
  content/en/blog/2022/dotnet-instrumentation-first-beta.md
  content/en/blog/2022/dotnet-instrumentation-metrics.md
  content/en/blog/2023/k8s-runtime-observability/index.md
  content/en/blog/2023/otel-dotnet-auto-instrumentation.md
  content/en/blog/2023/testing-otel-demo/index.md
  content/en/blog/2024/java-metric-systems-compared/index.md
  content/en/blog/2024/llm-observability.md
  content/en/blog/2024/prometheus-compatibility-survey/index.md
  content/en/community/_index.md
  content/en/docs/collector/building/receiver.md
Labels: sig:collector, accessibility, blog

#6054 [chore] Accessible links 6
  content/en/blog/2019/opentelemetry-governance-committee-explained/index.md
  content/en/blog/2022/end-user-discussion-group-apac/index.md
  content/en/blog/2022/gc-elections.md
  content/en/blog/2022/otel-demo-app-nomad/index.md
  content/en/blog/2023/gc-elections.md
  content/en/blog/2023/otel-arrow/index.md
  content/en/blog/2024/gc-elections.md
  content/en/docs/languages/erlang/getting-started.md
Labels: accessibility, blog, sig:erlang

#6956 - Add Oracle Database opentelemetry integration in registry
  data/registry/instrumentation-js-oracledb.yml
  static/refcache.json
Labels: registry

#6968 docs: update broken link
  content/en/docs/languages/js/exporters.md
  static/refcache.json
Labels: sig:javascript

#6971 Add NodeJS bundler plugins to registry
  data/registry/tools-js-esbuild.yml
  data/registry/tools-js-rollup.yml
  data/registry/tools-js-webpack.yml
  static/refcache.json
Labels: registry

#6983 Update NPM packages, Hugo to 0.147.6
  package.json
Labels: dependencies, CI/infra

#6586 [ja] add translation of platforms/kubernetes
  content/ja/docs/platforms/kubernetes/_index.md
  content/ja/docs/platforms/kubernetes/collector/_index.md
  content/ja/docs/platforms/kubernetes/collector/components.md
  content/ja/docs/platforms/kubernetes/getting-started.md
  content/ja/docs/platforms/kubernetes/helm/_index.md
Labels: lang:ja, docs-approval-missing

#6986 [CI] Update pr-actions.yml: delete pr-fix.patch file after it is applied
  .github/workflows/pr-actions.yml
Labels: CI/infra

#6637 feat: Add Argo Workflows to integrations
  data/registry/application-integration-go-argo-workflows.yml
  static/refcache.json
Labels: registry

#7001 Delete pr-fix.patch
  pr-fix.patch
Labels: cleanup/refactoring

#7005 Link KubeCon announcements to blog posts
  content/en/announcements/kubecon-china.md
  content/en/announcements/kubecon-japan.md
  content/en/blog/2025/kubecon-china.md
  content/en/blog/2025/kubecon-japan.md
Labels: blog

#7010 CHORE - fix: correction opentelemetry word
  content/en/blog/2025/otel-arrow-phase-2.md
  content/en/docs/contributing/localization.md
  content/ja/docs/contributing/localization.md
Labels: blog, lang:ja
