Repository open-telemetry/opentelemetry.io, pull requests merged in 2025-04, with the labels that each got.

#6633 [CI] Upgrade tracing code by following JS SDK migration guide
  assets/js/tracing.js
Labels: CI/infra

#6629 add missing provider.register() in serverless
  content/en/docs/languages/js/serverless.md
Labels: sig:javascript

#6614 devex: add blog post for results of devex survey
  content/en/blog/2025/devex-survey/image1.png
  content/en/blog/2025/devex-survey/image10.png
  content/en/blog/2025/devex-survey/image11.png
  content/en/blog/2025/devex-survey/image2.png
  content/en/blog/2025/devex-survey/image3.png
  content/en/blog/2025/devex-survey/image4.png
  content/en/blog/2025/devex-survey/image5.png
  content/en/blog/2025/devex-survey/image6.png
  content/en/blog/2025/devex-survey/image7.png
  content/en/blog/2025/devex-survey/image8.png
  content/en/blog/2025/devex-survey/image9.png
  content/en/blog/2025/devex-survey/index.md
  static/refcache.json
Labels: sig:collector, blog, sig:java, registry, sig:security, lang:zh, lang:ja, lang:pt, lang:es

#6645 Use alert component for java performance note
  content/en/docs/zero-code/java/agent/performance.md
Labels: sig:java

#6649 Point to Configure the SDK
  content/en/docs/zero-code/java/agent/configuration.md
Labels: sig:java

#6641 Document java explicit span name with @WithSpan annotation
  content/en/docs/zero-code/java/agent/annotations.md
Labels: sig:java

#6654 Update the docs links to the ContextGuard Struct
  content/en/docs/demo/services/shipping.md
  static/refcache.json
Labels: sig:demo

#6371 feat: [es] Create docs/contributing/pr-checks.md
  content/es/docs/contributing/pr-checks.md
Labels: lang:es

#6653 Update link to jaeger client libraries
  content/en/docs/migration/_index.md
  content/zh/docs/migration/_index.md
  static/refcache.json
Labels: lang:zh

#6670 note change to internal telemetry prometheus endpoint configuration
  content/en/docs/collector/internal-telemetry.md
  static/refcache.json
Labels: sig:collector

#6676 [registry] Add collector exporter azureblob
  data/registry/collector-exporter-azureblob.yml
  static/refcache.json
Labels: registry

#6681 Update link of ECS schema
  content/en/blog/2023/ecs-otel-semconv-convergence.md
Labels: blog

#6656 document azure provider for java instrumentation 2.15.0 release
  content/en/docs/zero-code/java/agent/configuration.md
  static/refcache.json
Labels: blocked, sig:java

#6713 Update link of otel arrow blog
  content/en/blog/2023/otel-arrow/index.md
Labels: blog

#6707 fixes #6549 incorrect use of resource constructor
  content/en/docs/languages/python/exporters.md
Labels: sig:python

#6711 Add Log Blog
  content/en/blog/2025/opentelemetry-logging-and-you.md
  static/refcache.json
Labels: blog

#6585 fix: update ADOT links and add missing languages
  data/ecosystem/distributions.yaml
  static/refcache.json
Labels: lang:ja, lang:pt

#6705 [pt] Update localized content on content/pt/docs/concepts/glossary.md
  content/pt/docs/concepts/glossary.md
Labels: lang:pt, docs-approval-missing

#6733 [collector/management] Bring OpAMP Supervisor example up-to-date
  content/en/docs/collector/img/opamp-server-additional-config.png
  content/en/docs/collector/img/opamp-server-agent.png
  content/en/docs/collector/img/opamp-server-ui.png
  content/en/docs/collector/management.md
  data/registry/collector-cmd-opampsupervisor.yml
  static/refcache.json
Labels: sig:collector, registry

#6743 [infra] Update all packages except for Hugo
  package.json
Labels: CI/infra

#6704 [pt] Update localized content on content/pt/docs/concepts/instrumentation/_index.md
  content/pt/docs/concepts/instrumentation/_index.md
Labels: lang:pt, docs-approval-missing

#6687 [ja] Translate docs/languages/go/_index & getting-started page
  content/ja/docs/languages/go/_index.md
  content/ja/docs/languages/go/getting-started.md
  layouts/partials/ja/docs/latest-release.md
  layouts/shortcodes/ja/docs/languages/index-intro.md
Labels: lang:ja, docs-approval-missing

#6692 [pt] Update default_lang_commit for drifted pages
  content/pt/_includes/page-not-translated-msg.md
  content/pt/docs/concepts/components.md
  content/pt/docs/concepts/instrumentation/libraries.md
  content/pt/docs/concepts/instrumentation/zero-code/index.md
  content/pt/docs/concepts/resources/index.md
  content/pt/docs/getting-started/ops.md
  content/pt/docs/languages/_includes/instrumentation-intro.md
  content/pt/docs/languages/_index.md
  content/pt/docs/languages/js/_includes/browser-instrumentation-warning.md
  content/pt/docs/languages/js/getting-started/browser.md
  content/pt/ecosystem/adopters.md
  content/pt/ecosystem/distributions.md
  content/pt/ecosystem/integrations.md
  content/pt/ecosystem/vendors.md
Labels: lang:pt, docs-approval-missing

#6693 [pt] Updated localized content on content/pt/status.md
  content/pt/status.md
Labels: lang:pt, docs-approval-missing

#6703 [pt] Update localized content on content/pt/docs/getting-started/dev.md
  content/pt/docs/getting-started/dev.md
Labels: lang:pt, docs-approval-missing

#6746 Fix Java native instrumentation entries
  data/registry/instrumentation-java-elasticsearch-client.yml
  data/registry/instrumentation-java-micrometer-tracing.yml
  static/refcache.json
Labels: registry

#6750 [i18n] Use new languages/index-intro.md shortcode + include
  layouts/shortcodes/docs/languages/index-intro.md
  layouts/shortcodes/docs/languages/index-intro2.md
Labels: i18n

#6557 [zh] Localize content/zh/docs/concepts/signals/traces.md
  content/zh/docs/concepts/signals/traces.md
Labels: lang:zh, docs-approval-missing

#6335 [zh] Localize content/zh/docs/concepts/signals/metrics.md
  content/zh/docs/concepts/signals/metrics.md
Labels: lang:zh

#6751 [pt] Create index-intro.md include and drop shortcodes
  content/pt/docs/languages/_includes/index-intro.md
  content/pt/docs/languages/_includes/instrumentation-intro.md
  content/pt/docs/languages/go/_index.md
  content/pt/docs/languages/python/_index.md
  layouts/partials/pt/docs/latest-release.md
Labels: i18n, lang:pt

#6755 [i18n] Update what-is-opentelemetry.md to use absolute path to spec pages
  content/en/docs/what-is-opentelemetry.md
Labels: i18n

#6754 [i18n] Update drift status of non-English pages
  content/es/docs/concepts/distributions.md
  content/es/docs/getting-started/dev.md
  content/ja/docs/concepts/distributions.md
  content/ja/docs/concepts/instrumentation/zero-code/index.md
  content/ja/docs/contributing/localization.md
  content/ja/docs/contributing/pr-checks.md
  content/ja/docs/getting-started/dev.md
  content/ja/docs/languages/_index.md
  content/pt/_includes/page-not-translated-msg.md
  content/pt/docs/concepts/components.md
  content/pt/docs/concepts/distributions.md
  content/pt/docs/concepts/glossary.md
  content/pt/docs/concepts/instrumentation/_index.md
  content/pt/docs/concepts/instrumentation/libraries.md
  content/pt/docs/concepts/resources/index.md
  content/pt/docs/getting-started/ops.md
  content/pt/docs/languages/_index.md
  content/pt/docs/languages/js/_includes/browser-instrumentation-warning.md
  content/pt/docs/languages/js/getting-started/browser.md
  content/pt/ecosystem/adopters.md
  content/pt/ecosystem/distributions.md
  content/pt/ecosystem/integrations.md
  content/pt/ecosystem/vendors.md
  content/pt/status.md
  content/zh/docs/getting-started/dev.md
Labels: cleanup/refactoring, i18n, lang:zh, lang:ja, lang:pt, lang:es

#6763 [es] Add Spanish translation for page not translated message
  content/es/_includes/page-not-translated-msg.md
Labels: lang:es

#6779 Move registry JSON layout to defaults
  layouts/_default/registry.json.json
Labels: dependencies, CI/infra, cleanup/refactoring

#6778 Remove out of dated TODO in Java docs
  content/en/docs/languages/java/instrumentation.md
Labels: sig:java

#6782 [Go] fix: remove extra text on content/en/docs/languages/go/exporters.md
  content/en/docs/languages/go/exporters.md
Labels: sig:go

#6714 Provide additional clarifications around OCB
  content/en/docs/collector/custom-collector.md
  static/refcache.json
Labels: sig:collector

#6783 [pt] Update localized content on content/pt/docs/languages/go/exporters.md
  content/pt/docs/languages/go/exporters.md
Labels: lang:pt, docs-approval-missing

#6762 [es] Add Spanish translation for docs development page
  content/es/docs/contributing/development.md
  static/refcache.json
Labels: lang:es

#6789 [infra] include feature refactoring
  layouts/partials/include.html
  layouts/shortcodes/docs/languages/exporters/intro.md
  layouts/shortcodes/docs/languages/index-intro.md
  layouts/shortcodes/include.html
Labels: CI/infra, cleanup/refactoring

#6787 Add registry entry for tracesimulationreceiver
  data/registry/collector-receiver-tracesimulation.yml
  static/refcache.json
Labels: registry

#6790 Update NPM pkgs, Hugo to 0.147.0
  package.json
Labels: dependencies, CI/infra

#6738 Add devcontainer.json for local development using devcontainers
  .devcontainer/devcontainer.json
  .devcontainer/post-start.sh
  content/en/docs/contributing/development.md
  static/refcache.json
Labels: enhancement, CI/infra, lang:zh, lang:ja, lang:pt, lang:es
