Repository open-telemetry/opentelemetry.io, pull requests merged in 2025-06, with the labels that each got.

#7017 [ja] docs(i18n): fix drift of content/ja/docs/what-is-opentelemetry.md
  content/ja/docs/what-is-opentelemetry.md
Labels: lang:ja, docs-approval-missing

#7019 [ja] docs(i18n): fix drift of content/ja/docs/getting-started/dev.md
  content/ja/docs/getting-started/dev.md
Labels: lang:ja, docs-approval-missing

#7016 [ja] docs(i18n): fix drift of content/ja/docs/demo/_index.md
  content/ja/docs/demo/_index.md
Labels: lang:ja, docs-approval-missing

#6972 [pt] Add localize content/pt/docs/contributing/style-guide.md
  content/pt/docs/contributing/style-guide.md
Labels: lang:pt

#7006 [CI] Support `keep` directive for announcements and other md pages that expire
  content/en/announcements/kubecon-china.md
  content/en/announcements/kubecon-japan.md
  scripts/list-expired.pl
Labels: CI/infra

#6942 [ja] docs(i18n): fix drift of content/ja/docs/contributing/pull-requests.md
  content/ja/docs/contributing/pull-requests.md
Labels: lang:ja, docs-approval-missing

#6970 [ja] add translation of Helm charts docs
  content/ja/docs/platforms/kubernetes/helm/collector.md
  content/ja/docs/platforms/kubernetes/helm/demo.md
  content/ja/docs/platforms/kubernetes/helm/operator.md
Labels: lang:ja, docs-approval-missing

#7027 Fixes #7026
  content/en/docs/languages/php/resources.md
Labels: sig:php

#7024 [ja] docs(i18n): fix drift of content/ja/blog/2025/kubecon-japan.md
  content/ja/blog/2025/kubecon-japan.md
Labels: lang:ja, docs-approval-missing

#7015 [ja] docs(i18n): fix drift of content/ja/docs/collector files
  content/ja/docs/collector/_index.md
  content/ja/docs/collector/deployment/agent.md
  content/ja/docs/collector/deployment/gateway/index.md
Labels: lang:ja, docs-approval-missing

#6918 [chore] Split distributions list
  content/en/docs/collector/distributions.md
  content/en/ecosystem/distributions.md
  data/ecosystem/distributions.yaml
  layouts/_shortcodes/ecosystem/distributions-table.md
  static/refcache.json
Labels: sig:collector

#7023 [ja] docs(i18n): fix drift of content/ja/announcements/kubecon-japan.md
  content/ja/announcements/kubecon-japan.md
Labels: lang:ja, docs-approval-missing

#7053 docs(i18n): fix drift of content/ja/announcements/kubecon-japan.md
  content/ja/announcements/kubecon-japan.md
Labels: lang:ja

#7052 [ja] docs(i18n): fix drift of content/ja/docs/collector/distributions.md
  content/ja/_includes/otel-does-not-validate-3rd-pty-distros.md
  content/ja/docs/collector/distributions.md
Labels: lang:ja, docs-approval-missing

#6655 [blog]: Expose OTEL Collector with Gateway API and mTLS
  content/en/blog/2025/expose-otel-collector-gateway-api/index.md
  content/en/blog/2025/expose-otel-collector-gateway-api/scenario-flow.png
  static/refcache.json
Labels: sig:collector, blog

#7028 Add docs for OTel Operator HPA
  content/en/docs/platforms/kubernetes/operator/horizontal-pod-autoscaling.md
  static/refcache.json
Labels: sig:collector, sig:operator

#7036 Add "Troubleshooting" page to Python zero code section
  content/en/docs/zero-code/python/_index.md
  content/en/docs/zero-code/python/troubleshooting.md
Labels: sig:python

#7062 [demo] Update Shipping service docs
  content/en/docs/demo/architecture.md
  content/en/docs/demo/services/shipping.md
  content/en/docs/demo/telemetry-features/log-coverage.md
  content/en/docs/demo/telemetry-features/manual-span-attributes.md
  content/en/docs/demo/telemetry-features/metric-coverage.md
  content/en/docs/demo/telemetry-features/trace-coverage.md
  static/refcache.json
Labels: sig:demo

#7078 [blog] Create ContribEx survey results blog post
  content/en/blog/2025/contribex-survey-results/chart-1-get-started.png
  content/en/blog/2025/contribex-survey-results/chart-10-kubecon-regions.png
  content/en/blog/2025/contribex-survey-results/chart-11-kubecon-activities.png
  content/en/blog/2025/contribex-survey-results/chart-2-meeting-attendance-get-started.png
  content/en/blog/2025/contribex-survey-results/chart-3-meeting-attendance-other-knowledge.png
  content/en/blog/2025/contribex-survey-results/chart-4-timely-feedback.png
  content/en/blog/2025/contribex-survey-results/chart-5-solve-problems.png
  content/en/blog/2025/contribex-survey-results/chart-6-autonomy.png
  content/en/blog/2025/contribex-survey-results/chart-7-spec-compliance.png
  content/en/blog/2025/contribex-survey-results/chart-8-leadership-priorities.png
  content/en/blog/2025/contribex-survey-results/chart-9-event-categories.png
  content/en/blog/2025/contribex-survey-results/index.md
  static/refcache.json
Labels: blog

#7088 Add end-user docs for issue participation
  content/en/community/_index.md
  content/en/community/end-user/_index.md
  content/en/community/end-user/feedback-survey.md
  content/en/community/end-user/issue-participation.md
  static/refcache.json
Labels: sig:enduser, sig-approval-missing

#7085 OTel day blog post
  content/en/blog/2025/otel-day.md
  static/refcache.json
Labels: blog

#7083 [ja] docs(i18n): fix drift of content/ja/docs/collector/_index.md
  content/ja/docs/collector/_index.md
Labels: lang:ja, docs-approval-missing

#7084 [ja] docs(i18n): fix drift of content/ja/docs/demo/*.md files
  content/ja/docs/demo/architecture.md
  content/ja/docs/demo/docker-deployment.md
Labels: lang:ja, docs-approval-missing

#7125 OTel day banner: link to blog, and adjust local word list
  content/en/announcements/open-observability-summit-na.md
  content/en/blog/2025/otel-day.md
Labels: blog

#7126 Update NPM pkgs, Hugo to 0.147.8
  package.json
Labels: CI/infra

#7109 Fix propogation link to express instrumentation
  content/en/docs/languages/js/propagation.md
Labels: sig:javascript

#7128 Update package.json: ensure update script covers peer deps too
  package.json
Labels: CI/infra

#7129 Add pride blog + logos
  content/en/blog/2025/recognizing-pride-month/contact-crop.png
  content/en/blog/2025/recognizing-pride-month/index.md
  content/en/blog/2025/recognizing-pride-month/pride-logo-pack.zip
  static/refcache.json
Labels: blog

#7137 [blog] Create call-to-action post for CNCF Slack changes
  content/en/blog/2025/slack-workspace-changes.md
  static/refcache.json
Labels: blog

#7106 Add Logs section in Python Instrumentation
  content/en/docs/languages/python/instrumentation.md
  static/refcache.json
Labels: sig:python

#7096 [ja] docs(i18n): fix drift of content/ja/docs/languages/*.md files
  content/ja/docs/_includes/exporters/intro.md
  content/ja/docs/languages/_index.md
  content/ja/docs/languages/sdk-configuration/general.md
Labels: lang:ja, docs-approval-missing

#7142 [ja] docs(i18n): fix drift of content/ja/docs/concepts/instrumentation-scope/index.md
  content/ja/docs/concepts/instrumentation-scope/index.md
Labels: lang:ja

#7143 [ja] docs(i18n): fix drift of content/ja/blog/2025/kubecon-japan.md
  content/ja/blog/2025/kubecon-japan.md
Labels: lang:ja

#7145 [ja] add translation of zero-code/python
  content/ja/docs/zero-code/python/_index.md
  content/ja/docs/zero-code/python/configuration.md
  content/ja/docs/zero-code/python/example.md
  content/ja/docs/zero-code/python/logs-example.md
  content/ja/docs/zero-code/python/operator.md
  content/ja/docs/zero-code/python/troubleshooting.md
Labels: lang:ja

#7149 [zh] Add announcements and prerequisites and modify localization
  content/zh/docs/contributing/announcements.md
  content/zh/docs/contributing/localization.md
  content/zh/docs/contributing/prerequisites.md
Labels: lang:zh

#7150 Added faro receiver, faro exporter to registry
  data/registry/collector-exporter-faro.yml
  data/registry/collector-receiver-faro.yml
  static/refcache.json
Labels: registry

#7163 Fix TypeError in Python getting-started.md
  content/en/docs/languages/python/getting-started.md
Labels: sig:python

#7175 Update minimum Ruby version
  content/en/docs/languages/ruby/getting-started.md
Labels: sig:ruby

#7154 [zh] Add contributing/development.md
  content/zh/docs/contributing/development.md
Labels: lang:zh, docs-approval-missing

#7165 [zh] Add contributing/blog.md
  content/zh/docs/contributing/blog.md
Labels: lang:zh, docs-approval-missing

#7166 [zh] Add contributing/sig-practices.md
  content/zh/docs/contributing/sig-practices.md
Labels: lang:zh, docs-approval-missing

#7168 [zh] Localize content/zh/docs/languages/_includes/*.md
  content/zh/docs/languages/_includes/exporters/jaeger.md
  content/zh/docs/languages/_includes/exporters/outro.md
  content/zh/docs/languages/_includes/exporters/prometheus-setup.md
  content/zh/docs/languages/_includes/exporters/zipkin-setup.md
  content/zh/docs/languages/_includes/index-intro.md
  content/zh/docs/languages/_includes/instrumentation-intro.md
  content/zh/docs/languages/_includes/span-status-preamble.md
Labels: lang:zh, docs-approval-missing

#7185 [Collector] Add icons to converters, extensions and providers
  content/en/docs/collector/configuration.md
  iconography/32x32/Converters.svg
  iconography/32x32/Extensions.svg
  iconography/32x32/Providers.svg
  iconography/512x512/Converters.svg
  iconography/512x512/Extensions.svg
  iconography/512x512/Providers.svg
Labels: sig:collector

#7186 [pt] Localize api.md
  content/pt/docs/zero-code/java/agent/api.md
Labels: lang:pt, docs-approval-missing

#7187 [zh] Add demo/architecture.md
  content/zh/docs/demo/architecture.md
Labels: lang:zh, docs-approval-missing

#7198 Add missing backtick
  content/en/docs/languages/sdk-configuration/general.md
Labels: docs, docs-approval-missing

#7148 [bn] Localization of content/en/docs/concepts/signals/_index.md
  .cspell/bn-words.txt
  content/bn/docs/concepts/signals/_index.md
Labels: lang:bn

#7197 [Go] Bump semconv to v1.34.0
  content/en/docs/languages/go/instrumentation.md
Labels: sig:go

#7204 [docs][collector] Adjust code indentation for receive example
  content/en/docs/collector/building/receiver.md
Labels: sig:collector

#7193 Link to OTEL_ environment variables in .NET zero-code documentation
  content/en/docs/zero-code/dotnet/_index.md
  static/refcache.json
Labels: sig:dotnet

#6973 docs: Update otel-diagram.svg as requested
  static/img/otel-diagram.svg
Labels: docs-approval-missing

#6799 Update internal-telemetry.md
  content/en/docs/collector/internal-telemetry.md
  static/refcache.json
Labels: sig:collector

#7214 chore: update minimum Go version requirement
  content/en/docs/languages/go/getting-started.md
Labels: sig:go

#7211 [zh] Localize content/zh/docs/languages/go/{exporters, resources}.md
  content/zh/docs/languages/_includes/index-intro.md
  content/zh/docs/languages/go/exporters.md
  content/zh/docs/languages/go/libraries.md
  content/zh/docs/languages/go/resources.md
Labels: lang:zh, docs-approval-missing

#7213 [zh] sync _index.md
  content/zh/docs/_index.md
Labels: lang:zh, docs-approval-missing

#7199 [zh] Add demo/docker-deployment.md
  content/zh/docs/demo/docker-deployment.md
Labels: lang:zh, docs-approval-missing
