Repository open-telemetry/opentelemetry.io, pull requests merged in 2025-07, with the labels that each got.

#7226 [zh] Localize content/zh/docs/languages/go/getting-started.md
  content/zh/docs/languages/go/getting-started.md
Labels: lang:zh

#7182 [bn] localization of content/en/docs/demo/_index.md
  .cspell/bn-words.txt
  content/bn/docs/demo/_index.md
Labels: lang:bn

#7237 [zh] Add concepts/glossary.md
  content/zh/docs/concepts/glossary.md
Labels: lang:zh, docs-approval-missing

#7247 [zh] Localize content/zh/docs/languages/go/instrumentation.md
  content/zh/docs/languages/go/instrumentation.md
Labels: lang:zh, docs-approval-missing

#7254 [zh] Add two 2025 blogs
  content/zh/blog/2025/_index.md
  content/zh/blog/2025/slack-workspace-changes.md
  content/zh/blog/2025/stabilizing-rpc-conventions.md
Labels: lang:zh, docs-approval-missing

#7228 [pt] Add Java language documentation and getting started guide
  content/pt/docs/languages/java/_index.md
  content/pt/docs/languages/java/getting-started.md
Labels: lang:pt, docs-approval-missing

#7200 [zh] Add demo/kubernetes-deployment.md
  content/zh/docs/demo/kubernetes-deployment.md
Labels: lang:zh, docs-approval-missing

#7251 [fr] translation for docs "getting started" + _index of zero-code
  content/fr/docs/concepts/instrumentation/zero-code/index.md
  content/fr/docs/getting-started/_index.md
  content/fr/docs/getting-started/dev.md
  content/fr/docs/getting-started/ops.md
Labels: lang:fr

#7262 [zh] Add concepts/sampling/
  content/zh/docs/concepts/sampling/index.md
  content/zh/docs/concepts/sampling/tail-sampling-process.svg
  content/zh/docs/concepts/sampling/traces-venn-diagram.svg
Labels: lang:zh, docs-approval-missing

#7253 Update minimum supported Python version to 3.9
  content/en/docs/languages/python/_index.md
  content/en/docs/platforms/faas/lambda-auto-instrument.md
Labels: sig:python, lang:ja, lang:pt

#7279 Deprecate the JS `@opentelemetry/instrumentation-redis-4` package
  data/registry/instrumentation-js-redis-4.yml
Labels: registry

#7291 Drop a duplicate registry entry for `@opentelemetry/instrumentation-cassadra-driver`
  data/registry/instrumentation-js-cassandra.yml
Labels: registry

#7289 Fix a number of links to the opentelemetry-js-contrib repo
  content/en/blog/2023/end-user-q-and-a-01.md
  content/en/docs/languages/js/libraries.md
  content/en/docs/languages/js/resources.md
  content/en/docs/zero-code/js/configuration.md
  data/registry/instrumentation-js-aws-lambda.yml
  data/registry/instrumentation-js-aws-sdk.yml
  data/registry/instrumentation-js-bunyan.yml
  data/registry/instrumentation-js-cassandra-driver.yml
  data/registry/instrumentation-js-connect.yml
  data/registry/instrumentation-js-dns.yml
  data/registry/instrumentation-js-document-load.yml
  data/registry/instrumentation-js-express.yml
  data/registry/instrumentation-js-fastify.yml
  data/registry/instrumentation-js-generic-pool.yml
  data/registry/instrumentation-js-graphql.yml
  data/registry/instrumentation-js-hapi.yml
  data/registry/instrumentation-js-ioredis.yml
  data/registry/instrumentation-js-knex.yml
  data/registry/instrumentation-js-koa.yml
  data/registry/instrumentation-js-long-task.yml
  data/registry/instrumentation-js-memcached.yml
  data/registry/instrumentation-js-mongodb.yml
  data/registry/instrumentation-js-mysql.yml
  data/registry/instrumentation-js-mysql2.yml
  data/registry/instrumentation-js-nestjs-core.yml
  data/registry/instrumentation-js-nestjs.yml
  data/registry/instrumentation-js-net.yml
  data/registry/instrumentation-js-oracledb.yml
  data/registry/instrumentation-js-pg.yml
  data/registry/instrumentation-js-pillarjs-router.yml
  data/registry/instrumentation-js-pino.yml
  data/registry/instrumentation-js-postgres.yml
  data/registry/instrumentation-js-react-load.yml
  data/registry/instrumentation-js-redis-4.yml
  data/registry/instrumentation-js-redis.yml
  data/registry/instrumentation-js-restify.yml
  data/registry/instrumentation-js-router.yml
  data/registry/instrumentation-js-user-interaction.yml
  data/registry/instrumentation-js-winston.yml
  data/registry/resource-detector-js-alibabacloud.yml
  data/registry/resource-detector-js-aws.yml
  data/registry/resource-detector-js-azure.yml
  data/registry/resource-detector-js-container.yml
  data/registry/resource-detector-js-gcp.yml
  data/registry/resource-detector-js-github.yml
  data/registry/resource-detector-js-instana.yml
  static/refcache.json
Labels: blog, sig:javascript, registry

#7252 update examples for setting up resource attributes in JS
  content/en/docs/demo/services/react-native-app.md
Labels: blocked, sig:demo

#7037 [bn] Localization of content/en/docs/demo/tests.md
  .cspell/bn-words.txt
  content/bn/demo/tests.md
Labels: lang:bn

#7301 [pt] - add localization content/pt/docs/contributing/acknowledgements.md
  content/pt/docs/contributing/acknowledgements.md
Labels: lang:pt, docs-approval-missing

#7303 [pt] feat: add localization development content/en/docs/contributing/development.md
  content/pt/docs/contributing/development.md
Labels: lang:pt, docs-approval-missing

#7298 [zh] Add concepts/distributions.md
  content/zh/docs/concepts/distributions.md
Labels: lang:zh

#7297 [zh] Add community/ pages
  content/zh/community/_index.md
  content/zh/community/end-user/_index.md
  content/zh/community/members.md
Labels: lang:zh

#7269 [zh] Add signals/baggage.md and update two pages
  content/zh/docs/concepts/signals/_index.md
  content/zh/docs/concepts/signals/baggage.md
  content/zh/docs/concepts/signals/traces.md
Labels: lang:zh, size/L

#7160 [wip] [ja] style: add prh/ja.yml to improve translation activities
  .textlintrc.yml
  content/ja/docs/_includes/exporters/intro.md
  content/ja/docs/concepts/glossary.md
  content/ja/docs/concepts/instrumentation-scope/index.md
  content/ja/docs/concepts/instrumentation/code-based.md
  content/ja/docs/concepts/sampling/index.md
  content/ja/docs/concepts/signals/logs.md
  content/ja/docs/concepts/signals/metrics.md
  content/ja/docs/contributing/pr-checks.md
  content/ja/docs/languages/java/instrumentation.md
  content/ja/docs/languages/java/intro.md
  package.json
  prh/ja.yml
Labels: lang:ja

#7011 [bn] Localization of content/en/docs/what-is-opentelemetry.md
  .cspell/bn-words.txt
  content/bn/docs/what-is-opentelemetry.md
Labels: docs-approval-missing, lang:bn

#7330 remove hash lifecycle status from link in internal telemetry
  content/en/docs/collector/internal-telemetry.md
Labels: sig:collector

#7326 [bn] localization of content-bn-docs-demo-kubernetes-deployment.md
  .cspell/bn-words.txt
  content/bn/docs/demo/kubernetes-deployment.md
Labels: lang:bn

#7344 [zh] Add platforms/ pages
  content/zh/docs/platforms/_index.md
  content/zh/docs/platforms/faas/_index.md
  content/zh/docs/platforms/kubernetes/_index.md
  content/zh/docs/platforms/kubernetes/collector/_index.md
  content/zh/docs/platforms/kubernetes/helm/_index.md
  content/zh/docs/platforms/kubernetes/operator/_index.md
Labels: lang:zh, docs-approval-missing

#7321 docs(collector): fix connector tutorial for latest OpenTelemetry Collector
  content/en/docs/collector/building/connector/index.md
Labels: sig:collector, docs-approval-missing

#7272 [zh] Add docs/collector/
  content/zh/docs/collector/_index.md
  content/zh/docs/collector/distributions.md
Labels: lang:zh, size/L

#7357 [Blog] UX Research Findings on OpenTelemetry Resource Attributes in Prometheus
  content/en/blog/2025/ux-research-prometheus-otel/Chart.PNG
  content/en/blog/2025/ux-research-prometheus-otel/index.md
  static/refcache.json
Labels: blog

#7362 [zh] Add specs/ pages
  content/zh/docs/specs/_index.md
  content/zh/docs/specs/status.md
Labels: lang:zh

#7338 [zh] Add announcements/ pages
  content/zh/announcements/_index.md
  content/zh/announcements/kubecon-asia.md
  content/zh/announcements/kubecon-china.md
  content/zh/announcements/kubecon-india.md
  content/zh/announcements/kubecon-japan.md
  content/zh/announcements/open-observability-summit-na.md
Labels: sig-approval-missing, lang:zh

#7339 [zh] Add migration/opentracing.md
  content/zh/docs/migration/opentracing.md
Labels: lang:zh

#7379 [ja] docs: fix drift of content/ja/docs/concepts/glossary.md
  content/ja/docs/concepts/glossary.md
Labels: lang:ja

#7384 docs(collector): add env var default example
  content/en/docs/collector/configuration.md
Labels: sig:collector

#7396 [ja]Translate content/en/docs/platforms/kubernetes/operator/troublesh…
  content/ja/docs/platforms/kubernetes/operator/troubleshooting/prometheus-alerts-runbooks.md
Labels: lang:ja, docs-approval-missing

#7153 [ja] docs(i18n): translate content/ja/docs/languages/go/*.md
  content/ja/docs/languages/go/exporters.md
  content/ja/docs/languages/go/instrumentation.md
  content/ja/docs/languages/go/libraries.md
  content/ja/docs/languages/go/resources.md
  content/ja/docs/languages/go/sampling.md
Labels: lang:ja, docs-approval-missing

#7395 [fr] Translation of Zero Code index page
  content/fr/docs/zero-code/_index.md
Labels: lang:fr, docs-approval-missing

#7391 [fr] Translation of Zero Code Go docs
  content/fr/docs/zero-code/go.md
Labels: lang:fr, docs-approval-missing

#7394 [ja]Translate content/en/docs/platforms/kubernetes/operator/troublesh…
  content/ja/docs/platforms/kubernetes/operator/troubleshooting/automatic.md
Labels: lang:ja, docs-approval-missing

#7406 [zh] Add content/zh/docs/languages/java/intro.md
  content/zh/docs/languages/java/intro.md
Labels: lang:zh, docs-approval-missing

#7381 [zh] Add zero-code/_index.md and php.md
  content/zh/docs/zero-code/_index.md
  content/zh/docs/zero-code/php.md
Labels: lang:zh, ready-to-be-merged

#7273 [zh] Add training/index.md
  content/zh/training/index.md
Labels: lang:zh

#7428 [uk] Reinstate Prettier
  .prettierignore
  content/uk/_index.md
Labels: CI/infra, i18n

#7430 [zh] Add collector/installation.md
  content/zh/docs/collector/installation.md
Labels: lang:zh, docs-approval-missing, ready-to-be-merged

#7447 Markdown link labels can be translated
  content/en/docs/contributing/localization.md
Labels: i18n
