Repository open-telemetry/opentelemetry.io, pull requests merged in 2025-02, with the labels that each got.

#6085 [pt] Localize content java instrumentation
  content/pt/docs/languages/java/instrumentation.md
Labels: blog, registry, lang:pt

#6148 [pt] Update localized content on content/pt/_index.md
  content/pt/_index.md
Labels: lang:pt, docs-approval-missing

#6154 [pt] Update localized content under content/pt/docs/languages/go
  content/pt/docs/languages/go/examples.md
  content/pt/docs/languages/go/exporters.md
  content/pt/docs/languages/go/getting-started.md
  content/pt/docs/languages/go/instrumentation.md
Labels: lang:pt, docs-approval-missing

#6152 [pt] Update localized content on content/pt/docs/languages/js/getting-started/browser.md
  content/pt/docs/languages/js/getting-started/browser.md
Labels: lang:pt, docs-approval-missing

#6149 [pt] Update localized content on content/pt/docs/concepts/semantic-conventions.md
  content/pt/docs/concepts/semantic-conventions.md
Labels: lang:pt, docs-approval-missing

#6163 [CI] Drop push from check-links for now
  .github/workflows/check-links.yml
Labels: CI/infra

#5754 add link to "Collecting OpenTelemetry-compliant Java logs from files" example
  content/en/blog/2024/collecting-otel-compliant-java-logs-from-files/index.md
  content/en/docs/languages/java/instrumentation.md
  static/refcache.json
Labels: blog, sig:java

#6165 [CI] Page-local dictionary normalization: drop unused words and duplicates (now case-insensitive compare)
  content/en/blog/2022/k8s-otel-expose/index.md
  content/en/blog/2022/why-and-how-ebay-pivoted-to-opentelemetry/index.md
  content/en/blog/2023/end-user-q-and-a-04.md
  content/en/blog/2023/testing-otel-demo/index.md
  content/en/blog/2023/why-histograms/index.md
  content/en/blog/2024/collecting-otel-compliant-java-logs-from-files/index.md
  content/en/blog/2024/community-awards-winners.md
  content/en/blog/2024/otel-collector-container-log-parser/index.md
  content/en/blog/2024/spring-starter-stable/index.md
  content/en/docs/collector/architecture.md
  content/en/docs/collector/configuration.md
  content/en/docs/collector/installation.md
  content/en/docs/collector/internal-telemetry.md
  content/en/docs/collector/quick-start.md
  content/en/docs/demo/development.md
  content/en/docs/demo/docker-deployment.md
  content/en/docs/demo/services/currency.md
  content/en/docs/demo/services/react-native-app.md
  content/en/docs/demo/telemetry-features/manual-span-attributes.md
  content/en/docs/faas/lambda-collector.md
  content/en/docs/kubernetes/collector/components.md
  content/en/docs/kubernetes/operator/automatic.md
  content/en/docs/languages/erlang/exporters.md
  content/en/docs/languages/go/instrumentation.md
  content/en/docs/languages/java/instrumentation.md
  content/en/docs/languages/js/_index.md
  content/en/docs/languages/php/getting-started.md
  content/en/docs/languages/python/distro.md
  content/en/docs/languages/python/getting-started.md
  content/en/docs/languages/python/libraries.md
  content/en/docs/languages/ruby/getting-started.md
  content/en/docs/languages/rust/exporters.md
  content/en/docs/zero-code/java/agent/server-config.md
  content/en/docs/zero-code/net/instrumentations.md
  content/en/docs/zero-code/net/troubleshooting.md
  content/en/docs/zero-code/php.md
  content/en/docs/zero-code/python/_index.md
  content/en/docs/zero-code/python/configuration.md
  content/en/docs/zero-code/python/example.md
  content/en/docs/zero-code/python/logs-example.md
  content/en/docs/zero-code/python/operator.md
  content/en/ecosystem/adopters.md
  content/ja/docs/collector/installation.md
  content/ja/docs/concepts/instrumentation/code-based.md
  content/ja/docs/demo/development.md
  content/pt/docs/languages/go/instrumentation.md
  content/pt/docs/languages/java/instrumentation.md
  scripts/normalize-cspell-front-matter.pl
Labels: CI/infra, sig:collector, blog, sig:dotnet, sig:go, sig:erlang, sig:java, sig:javascript, sig:php, sig:python, sig:rust, sig:ruby, sig:operator, sig:demo, lang:ja, lang:pt

#6167 [chore] Refcache refresh, oldest link is now 2024-08-06
  .github/workflows/check-links.yml
  content/en/docs/kubernetes/operator/troubleshooting/target-allocator.md
  data/ecosystem/vendors.yaml
  scripts/double-check-refcache-400s.mjs
  scripts/get-url-status.mjs
  static/refcache.json
Labels: CI/infra, cleanup/refactoring, sig:operator

#5981 [ja]: translation of demo/tests and demo/forking pages into ja
  content/ja/docs/demo/forking.md
  content/ja/docs/demo/tests.md
Labels: lang:ja, docs-approval-missing

#5983 [ja]Addressed the translation omissions
  content/ja/docs/concepts/components.md
  layouts/shortcodes/ja/docs/languages/exporters/intro.md
Labels: lang:ja, docs-approval-missing

#6174 [chore] Refcache refresh, link & config update
  .cspell.yml
  data/registry/application-integration-cpp-mysql enterprise server.yml
  static/refcache.json
Labels: CI/infra, cleanup/refactoring, registry

#5985 [zh] Add lambda-manual-instrument.md
  content/zh/docs/faas/lambda-manual-instrument.md
Labels: lang:zh, docs-approval-missing

#6178 fix: missing `to` in demo/tests page
  content/en/docs/demo/tests.md
Labels: sig:demo

#6159 [pt] Update localized content on content/pt/docs/concepts/resources/index.md
  content/pt/docs/concepts/components.md
Labels: lang:pt, docs-approval-missing

#6158 [pt] Update localized content on content/pt/docs/concepts/resources/index.md
  content/pt/docs/concepts/resources/index.md
Labels: lang:pt, docs-approval-missing

#6155 [pt] Update localized content on content/pt/docs/what-is-opentelemetry.md
  content/pt/docs/what-is-opentelemetry.md
Labels: lang:pt, docs-approval-missing

#6183 [chore] Run fix:expired
  content/en/announcements/devex-survey.md
Labels: cleanup/refactoring

#6189 [CI] GH check: add file-expired check, and more
  .github/workflows/check-file.yml
  .github/workflows/check-format.yml
  .github/workflows/check-spelling.yml
  package.json
  scripts/npx-helper.sh
Labels: CI/infra

#6182 [spelling] Write "cloud native" without a hyphen
  .textlintrc.yml
  content/en/blog/2019/opentelemetry-governance-committee-explained/index.md
  content/en/blog/2022/demo-announcement/index.md
  content/en/blog/2022/instrument-kafka-clients/index.md
  content/en/blog/2022/why-and-how-ebay-pivoted-to-opentelemetry/index.md
  content/en/blog/2023/end-user-q-and-a-03.md
  content/en/blog/2023/kubecon-eu.md
  content/en/blog/2023/kubecon-na.md
  content/en/blog/2023/otel-in-focus-04.md
  content/en/blog/2024/kubecon-eu.md
  content/en/blog/2024/kubecon-na.md
  content/en/blog/2024/new-otel-features-envoy-istio/index.md
  content/en/docs/demo/requirements/architecture.md
  content/en/docs/faas/_index.md
  static/refcache.json
Labels: copyedit, blog, sig:demo

#6184 [CI] Check links to crates.io, and link fix
  .htmltest.yml
  data/registry/instrumentation-rust-trillium.yml
  scripts/double-check-refcache-400s.mjs
  scripts/get-url-status.mjs
  static/refcache.json
Labels: CI/infra, cleanup/refactoring, registry

#6160 [pt] Update localized content on content/pt/docs/concepts/sampling/index.md
  content/pt/docs/concepts/sampling/index.md
Labels: lang:pt, docs-approval-missing

#6157 [pt] Update localized content under content/pt/docs/concepts/signals
  content/pt/docs/concepts/signals/_index.md
  content/pt/docs/concepts/signals/baggage.md
  content/pt/docs/concepts/signals/logs.md
  content/pt/docs/concepts/signals/metrics.md
  content/pt/docs/concepts/signals/traces.md
Labels: lang:pt, docs-approval-missing

#6156 [pt] Update localized content on content/pt/docs/concepts/glossary.md
  content/pt/docs/concepts/glossary.md
Labels: lang:pt, docs-approval-missing

#6211 [pt] Update localized content on content/pt/docs/languages/go/instrumentation.md
  content/pt/docs/languages/go/instrumentation.md
Labels: lang:pt, docs-approval-missing

#6213 [pt] Update localized content on content/pt/docs/concepts/signals/_index.md
  content/pt/docs/concepts/signals/_index.md
Labels: lang:pt

#6199 Link fix of Spring Boot Starter other-spring-autoconfig.md
  content/en/docs/zero-code/java/spring-boot-starter/other-spring-autoconfig.md
Labels: copyedit, cleanup/refactoring, sig:java

#6209 Add alias for java/exporters
  content/en/docs/languages/java/sdk.md
Labels: sig:java

#5990 feat: new blog post "Observing Lambdas"
  content/en/blog/2025/observing-lambdas/diagram-execution-timing.svg
  content/en/blog/2025/observing-lambdas/index.md
  content/en/blog/2025/observing-lambdas/video-lambda-real-time.webm
  static/refcache.json
Labels: blog

#6219 [docs/collector/internal-telemetry.md] Clarify that configuration schema is unstable
  content/en/docs/collector/internal-telemetry.md
  static/refcache.json
Labels: sig:collector

#6221 Update docs after OTel .NET Auto 1.10.0 release
  content/en/docs/zero-code/net/_index.md
  content/en/docs/zero-code/net/instrumentations.md
  static/refcache.json
Labels: sig:dotnet

#6223 [IA] New platforms section with Android placeholder, and more
  .htmltest.yml
  content/en/docs/platforms/_index.md
  content/en/docs/platforms/android/_index.md
  content/en/docs/platforms/faas/_index.md
  content/en/docs/platforms/faas/lambda-auto-instrument.md
  content/en/docs/platforms/faas/lambda-collector.md
  content/en/docs/platforms/faas/lambda-manual-instrument.md
  content/en/docs/platforms/kubernetes/_index.md
  content/en/docs/platforms/kubernetes/collector/_index.md
  content/en/docs/platforms/kubernetes/collector/components.md
  content/en/docs/platforms/kubernetes/getting-started.md
  content/en/docs/platforms/kubernetes/helm/_index.md
  content/en/docs/platforms/kubernetes/helm/collector.md
  content/en/docs/platforms/kubernetes/helm/demo.md
  content/en/docs/platforms/kubernetes/helm/operator.md
  content/en/docs/platforms/kubernetes/operator/_index.md
  content/en/docs/platforms/kubernetes/operator/automatic.md
  content/en/docs/platforms/kubernetes/operator/target-allocator.md
  content/en/docs/platforms/kubernetes/operator/troubleshooting/_index.md
  content/en/docs/platforms/kubernetes/operator/troubleshooting/automatic.md
  content/en/docs/platforms/kubernetes/operator/troubleshooting/prometheus-alerts-runbooks.md
  content/en/docs/platforms/kubernetes/operator/troubleshooting/target-allocator.md
Labels: docs, sig:operator, sig:faas, IA, sig:android

#6206 [chore] Refresh refcache, fix external links with invalid fragments
  content/en/blog/2023/jmx-metric-insight/index.md
  content/en/blog/2024/collector-roadmap/index.md
  content/en/blog/2024/go-contrib-removal.md
  content/en/blog/2024/java-metric-systems-compared/index.md
  content/en/docs/demo/docker-deployment.md
  content/en/docs/kubernetes/operator/troubleshooting/target-allocator.md
  content/en/docs/languages/java/getting-started.md
  content/en/docs/languages/php/_index.md
  content/en/docs/languages/ruby/getting-started.md
  content/en/docs/zero-code/java/spring-boot-starter/getting-started.md
  content/en/docs/zero-code/net/troubleshooting.md
  data/ecosystem/vendors.yaml
  data/registry/application-integration-python-cisco-nso.yml
  scripts/content-modules/adjust-pages.pl
  scripts/double-check-refcache-400s.mjs
  scripts/get-url-status.mjs
  static/refcache.json
Labels: CI/infra, cleanup/refactoring, blog, sig:dotnet, sig:java, sig:php, sig:ruby, sig:operator, registry, sig:demo

#6231 Update Hugo to 0.143.1, etc & minor refcache refresh
  package.json
  static/refcache.json
Labels: dependencies, CI/infra

#6232 [IA] Link normalization step of
  .htmltest.yml
  content/en/blog/2022/k8s-metadata/index.md
  content/en/blog/2022/k8s-otel-expose/index.md
  content/en/blog/2023/contributing-to-otel/index.md
  content/en/blog/2023/end-user-q-and-a-03.md
  content/en/blog/2023/lambda-release.md
  content/en/blog/2023/opamp-status/index.md
  content/en/blog/2024/prom-and-otel/index.md
  content/en/blog/2025/otel-collector-k8s-discovery.md
  content/en/docs/collector/installation.md
  content/en/docs/collector/scaling.md
  content/en/docs/concepts/components.md
  content/en/docs/contributing/localization.md
  content/en/docs/demo/kubernetes-deployment.md
  content/en/docs/getting-started/ops.md
  content/en/docs/kubernetes/operator/troubleshooting/target-allocator.md
  content/en/docs/languages/_index.md
  content/en/docs/languages/js/serverless.md
  content/en/docs/platforms/faas/_index.md
  content/en/docs/platforms/kubernetes/_index.md
  content/en/docs/platforms/kubernetes/helm/_index.md
  content/en/docs/platforms/kubernetes/helm/collector.md
  content/en/docs/platforms/kubernetes/helm/operator.md
  content/en/docs/platforms/kubernetes/operator/_index.md
  content/en/docs/platforms/kubernetes/operator/troubleshooting/automatic.md
  content/en/docs/platforms/kubernetes/operator/troubleshooting/target-allocator.md
  content/en/docs/what-is-opentelemetry.md
  content/en/docs/zero-code/_index.md
  content/en/docs/zero-code/net/_index.md
  content/en/docs/zero-code/python/operator.md
  content/es/docs/concepts/components.md
  content/es/docs/getting-started/ops.md
  content/es/docs/kubernetes/collector/components.md
  content/es/docs/languages/_index.md
  content/es/docs/what-is-opentelemetry.md
  content/fr/docs/what-is-opentelemetry.md
  content/ja/docs/collector/installation.md
  content/ja/docs/concepts/components.md
  content/ja/docs/getting-started/ops.md
  content/ja/docs/what-is-opentelemetry.md
  content/pt/docs/concepts/components.md
  content/pt/docs/getting-started/ops.md
  content/pt/docs/languages/_index.md
  content/pt/docs/what-is-opentelemetry.md
  content/zh/docs/concepts/components.md
  content/zh/docs/faas/lambda-manual-instrument.md
  content/zh/docs/getting-started/ops.md
  content/zh/docs/what-is-opentelemetry.md
  static/refcache.json
Labels: cleanup/refactoring, sig:collector, blog, sig:dotnet, sig:javascript, sig:python, sig:operator, sig:demo, IA, lang:zh, lang:ja, lang:pt, lang:es, lang:fr

#6212 [pt] Update localized content on content/pt/docs/languages/java/instrumentation.md
  content/pt/docs/languages/java/instrumentation.md
Labels: lang:pt, docs-approval-missing

#6236 fix description of log instrumentation
  content/en/docs/languages/java/instrumentation.md
Labels: sig:java

#6248 [IA] Delete stray page copy already now in platforms
  content/en/docs/kubernetes/operator/troubleshooting/target-allocator.md
  content/en/docs/platforms/kubernetes/operator/troubleshooting/target-allocator.md
  static/refcache.json
Labels: cleanup/refactoring, sig:operator

#6116 [ja] translate demo/feature-flags into ja
  content/ja/docs/demo/feature-flags.md
Labels: lang:ja, docs-approval-missing

#6185 [ja] translate contributing/prerequisites into ja
  content/ja/docs/contributing/prerequisites.md
Labels: lang:ja, docs-approval-missing

#6179 [ja] update contributing/_index ja page
  content/ja/docs/contributing/_index.md
Labels: lang:ja

#6197 [ja] translate contributing/pull-requests into ja
  content/ja/docs/contributing/pull-requests.md
  static/refcache.json
Labels: lang:ja, docs-approval-missing

#6272 [CI] Make version-if-file.sh more robust
  scripts/auto-update/version-in-file.sh
Labels: CI/infra

#6275 [CI] Auto-version update fix: match on PR num
  scripts/auto-update/version-in-file.sh
Labels: CI/infra

#6235 Fix invalid links to Prometheus, API pages, and more
  .htmltest.yml
  content/en/blog/2024/otel-operator-q-and-a/index.md
  content/en/blog/2024/prometheus-compatibility-survey/index.md
  content/en/docs/collector/building/authenticator-extension.md
  content/en/docs/contributing/development.md
  content/en/docs/languages/rust/_index.md
  layouts/shortcodes/docs/languages/exporters/intro.md
  layouts/shortcodes/docs/languages/exporters/prometheus-setup.md
  layouts/shortcodes/ja/docs/languages/exporters/intro.md
  layouts/shortcodes/pt/docs/languages/exporters/intro.md
  layouts/shortcodes/pt/docs/languages/exporters/prometheus-setup.md
  scripts/get-url-status.mjs
  static/refcache.json
Labels: cleanup/refactoring, sig:collector, blog, sig:rust

#6098 [ja] translate demo/docker-deployment into ja
  content/ja/docs/demo/docker-deployment.md
  hugo.yaml
Labels: lang:ja, docs-approval-missing

#6282 [ja] update default_lang_commit in content/ja/docs/getting-started page
  content/ja/docs/getting-started/ops.md
Labels: lang:ja, docs-approval-missing

#6280 [ja] update content/ja/docs/what-is-opentelemetry.md
  content/ja/docs/what-is-opentelemetry.md
Labels: lang:ja, docs-approval-missing

#6287 [i18n] Add page-not-yet-translated banner, ask for help
  layouts/docs/td-content-after-header.html
Labels: i18n

#6286 Add fix cmd desc to contrib docs, and other edits
  content/en/docs/contributing/pr-checks.md
  content/en/docs/contributing/pull-requests.md
  content/es/docs/contributing/pull-requests.md
  content/ja/docs/contributing/pull-requests.md
  static/refcache.json
Labels: lang:ja, lang:es

#6225 Update operator.md
  content/en/docs/platforms/kubernetes/helm/operator.md
Labels: sig:helm

#6295 [CI/chore] Update workflows to run on ubuntu-latest
  .github/workflows/auto-update-community-members.yml
  .github/workflows/auto-update-registry.yml
  .github/workflows/auto-update-versions.yml
Labels: CI/infra

#6296 Improve Status and Training page layout, some copyedits
  .htmltest.yml
  assets/scss/_page_no_left_sidebar.scss
  assets/scss/_styles_project.scss
  content/en/status.md
  content/en/training/_index.md
Labels: ux, design/style

#5989 Document usage of multiple collector config files
  content/en/docs/collector/configuration.md
Labels: sig:collector

#6302 [style] Fix contrib/issues list and alert styling
  content/en/docs/contributing/issues.md
Labels: cleanup/refactoring, design/style

#6294 [ja] update content/ja/docs/concepts/signals/metrics page
  content/ja/docs/concepts/signals/metrics.md
Labels: lang:ja, docs-approval-missing

#6284 [ja] update content/ja/docs/signals/_index.md page
  content/ja/docs/concepts/signals/_index.md
Labels: lang:ja, docs-approval-missing

#6186 [ja] translate contributing/issues into ja
  content/ja/docs/contributing/issues.md
Labels: lang:ja, docs-approval-missing

#6283 [ja] update content/ja/docs/concepts/context-propagation page
  content/ja/docs/concepts/context-propagation.md
Labels: lang:ja, docs-approval-missing

#6259 [ja] apply base new directory structure of /docs/concepts/instrumentation/zero-code.md
  content/ja/docs/concepts/instrumentation/zero-code/index.md
Labels: lang:ja, docs-approval-missing

#6255 [ja] translate contributing/style-guide into ja
  content/ja/docs/contributing/style-guide.md
Labels: lang:ja, docs-approval-missing

#6303 Cleanup 2023 blog post's in-page CSS
  content/en/blog/2023/http-conventions-declared-stable.md
Labels: cleanup/refactoring, design/style, blog

#6293 [ja] update content/ja/docs/concepts/traces page
  content/ja/docs/concepts/signals/traces.md
Labels: lang:ja

#6088 feat: [es] Create docs/contributing/issues.md
  .cspell/es-palabras.txt
  content/es/docs/contributing/issues.md
Labels: lang:es

#6310 [ja] Fix markdownlint errors
  content/ja/docs/contributing/issues.md
Labels: lang:ja

#6311 [CI] PR-actions workflow: ensure error in cmd name can be reported
  .github/workflows/pr-actions.yml
Labels: CI/infra

#6312 [training] Add card for free CNCF/LF course
  content/en/training/LFS148-Course-Badge-300x300.avif
  content/en/training/_index.md
  content/en/training/index.md
  static/refcache.json
Labels: enhancement

#6317 [CI] Enable markdownlint2 checks, and fix issues
  .cspell.yml
  .github/workflows/check-text.yml
  content/es/docs/contributing/issues.md
Labels: CI/infra, lang:es

#6319 [Go] Remove redunant snippets from exporters docs
  content/en/docs/languages/go/exporters.md
Labels: sig:go

#6320 Registry support for i18n
  content/en/ecosystem/registry/_index.md
  hugo.yaml
  layouts/partials/ecosystem/registry/entry.html
  layouts/shortcodes/ecosystem/registry/search-form.html
Labels: CI/infra, i18n

#6321 [training] Improve page design for desktop and mobile
  assets/scss/_styles_project.scss
  content/en/training/index.md
Labels: design/style

#6263 [pt] Localize content/pt/ecosystem/registry
  content/pt/ecosystem/registry/_index.md
  content/pt/ecosystem/registry/adding.md
  content/pt/ecosystem/registry/updating.md
Labels: lang:pt

#6264 [pt] Localize content/pt/ecosystem/adopters.md
  content/pt/ecosystem/adopters.md
Labels: lang:pt

#6262 [pt] Localize content/pt/ecosystem/demo.md
  content/pt/ecosystem/demo.md
Labels: lang:pt, docs-approval-missing

#6327 Blog/2025: drop new-year's greeting and message
  content/en/blog/2025/_index.md
Labels: cleanup/refactoring, blog

#6261 [pt] Localize content/pt/ecosystem/_index.md
  content/pt/ecosystem/_index.md
Labels: lang:pt, docs-approval-missing

#6328 [chore] Add links into CNCF blog of crossposted articles
  content/en/blog/2024/otel-generative-ai/index.md
  content/en/blog/2024/prom-and-otel/index.md
  content/en/blog/2024/year-in-review.md
  static/refcache.json
Labels: cleanup/refactoring, blog

#6267 [pt] Localize content/pt/ecosystem/integrations.md
  content/pt/ecosystem/integrations.md
Labels: lang:pt, docs-approval-missing

#6120 [content/en] Add contributor experience survey announcement and blog post
  content/en/announcements/contribex-survey.md
  content/en/blog/2025/contribex-survey.md
  static/refcache.json
Labels: blog

#6359 Demo - update required .NET version to .NET8
  content/en/docs/demo/development.md
Labels: sig:demo

#6336 [i18n] Move registry search-form alert into registry page
  content/en/ecosystem/registry/_index.md
  layouts/shortcodes/ecosystem/registry/search-form.html
Labels: i18n, lang:pt

#6339 [i18n] Support localization of page-not-translated banner
  content/en/_includes/page-not-translated-msg.md
  content/en/docs/demo/_index.md
  content/en/docs/languages/js/_browser-instrumentation-warning.md
  content/en/docs/languages/js/_index.md
  content/en/docs/languages/js/getting-started/browser.md
  content/en/docs/languages/js/instrumentation.md
  content/ja/announcements/_index.md
  content/pt/_includes/page-not-translated-msg.md
  content/pt/docs/languages/js/getting-started/browser.md
  hugo.yaml
  layouts/docs/td-content-after-header.html
  layouts/partials/func/find-include.html
  layouts/shortcodes/include.md
Labels: CI/infra, i18n, sig:javascript, sig:demo, lang:ja, lang:pt

#6364 [i18n] Make `instrumentation-intro` shortcode a simple include
  content/en/_includes/_index.md
  content/en/_includes/page-not-translated-msg.md
  content/en/docs/languages/_includes/_index.md
  content/en/docs/languages/_includes/instrumentation-intro.md
  content/en/docs/languages/cpp/instrumentation.md
  content/en/docs/languages/erlang/instrumentation.md
  content/en/docs/languages/go/instrumentation.md
  content/en/docs/languages/js/instrumentation.md
  content/en/docs/languages/net/instrumentation.md
  content/en/docs/languages/php/instrumentation.md
  content/en/docs/languages/python/instrumentation.md
  content/en/docs/languages/ruby/instrumentation.md
  content/en/docs/languages/swift/instrumentation.md
  content/es/docs/languages/_includes/_index.md
  content/es/docs/languages/_includes/instrumentation-intro.md
  content/es/docs/languages/python/instrumentation.md
  content/pt/_includes/_index.md
  content/pt/_includes/page-not-translated-msg.md
  content/pt/docs/languages/_includes/_index.md
  content/pt/docs/languages/_includes/instrumentation-intro.md
  content/pt/docs/languages/go/instrumentation.md
Labels: cleanup/refactoring, i18n, sig:cpp, sig:dotnet, sig:go, sig:erlang, sig:javascript, sig:php, sig:python, sig:ruby, sig:swift, lang:pt, lang:es

#6369 Fix typo traceProvider -> tracerProvider
  content/en/blog/2022/go-web-app-instrumentation/index.md
  content/en/docs/concepts/resources/index.md
  content/en/docs/languages/go/getting-started.md
  content/en/docs/languages/go/instrumentation.md
  content/en/docs/languages/net/instrumentation.md
  content/en/docs/languages/python/exporters.md
  content/en/docs/languages/swift/libraries.md
Labels: blog, sig:dotnet, sig:go, sig:python, sig:swift

#6372 [CI] Support relative links to oteps from OTel spec
  scripts/content-modules/adjust-pages.pl
Labels: CI/infra, sig:spec

#6368 [ja] update content/ja/announcements/_index default_lang_commit
  content/ja/announcements/_index.md
Labels: lang:ja, docs-approval-missing

#6361 [pt] Update content/pt/ecosystem/registry/_index.md - Fix duplicate redirect
  content/pt/ecosystem/registry/_index.md
Labels: lang:pt, docs-approval-missing

#6350 [ja] update content/ja/blog/2024/docs-localized
  content/ja/blog/2024/docs-localized.md
Labels: lang:ja, docs-approval-missing

#6203 [pt] Update localized content on content/pt/docs/concepts/instrumentation/libraries.md
  content/pt/docs/concepts/instrumentation/libraries.md
Labels: lang:pt, docs-approval-missing

#6299 [ja] update content/ja/docs/concepts/signals/logs page
  content/ja/docs/concepts/signals/logs.md
Labels: lang:ja, docs-approval-missing

#6349 [ja] update content/ja/docs/collector/quick-start
  content/ja/docs/collector/quick-start.md
Labels: lang:ja, docs-approval-missing

#6138 Add Quarkus documentation
  content/en/docs/zero-code/java/_index.md
  content/en/docs/zero-code/java/quarkus.md
  static/refcache.json
Labels: sig:java

#6313 [ja] update content/ja/docs/concepts/signals/baggage page
  content/ja/docs/concepts/signals/baggage.md
Labels: lang:ja, docs-approval-missing

#6347 [ja] update content/ja/docs/collector/_index
  content/ja/docs/collector/_index.md
Labels: lang:ja, docs-approval-missing

#6346 [ja] update content/ja/docs/demo/_index
  content/ja/docs/demo/_index.md
Labels: lang:ja, docs-approval-missing

#6348 [ja] update content/ja/docs/collector/installation
  content/ja/docs/collector/installation.md
Labels: lang:ja, docs-approval-missing

#6268 [pt] Localize content/pt/ecosystem/vendors.md
  content/pt/ecosystem/vendors.md
Labels: lang:pt, docs-approval-missing

#6265 [pt] Localize content/pt/ecosystem/distributions.md
  content/pt/ecosystem/distributions.md
Labels: lang:pt, docs-approval-missing

#6290 Add blog post about the OTTL context inference feature
  content/en/blog/2025/ottl-contexts-just-got-easier.md
  static/refcache.json
Labels: blog

#6279 Update protocol defined for internal collection
  content/en/docs/collector/internal-telemetry.md
Labels: sig:collector

#6377 [PHP] Replace deprecated constants `DEPLOYMENT_ENVIRONMENT` to `DEPLOYMENT_ENVIRONMENT_NAME`
  content/en/docs/languages/php/instrumentation.md
  content/en/docs/languages/php/resources.md
Labels: sig:php

#6383 [i18n] Convert `keep-up-to-date.md` to an include
  content/en/docs/languages/js/_browser-instrumentation-warning.md
  content/en/ecosystem/_includes/_index.md
  content/en/ecosystem/_includes/keep-up-to-date.md
  content/en/ecosystem/adopters.md
  content/en/ecosystem/distributions.md
  content/en/ecosystem/integrations.md
  content/en/ecosystem/vendors.md
  content/pt/ecosystem/adopters.md
  content/pt/ecosystem/distributions.md
  content/pt/ecosystem/integrations.md
  content/pt/ecosystem/vendors.md
  layouts/shortcodes/include.html
Labels: enhancement, i18n, sig:javascript, lang:pt

#6387 Fix small typo in receiver.md
  content/en/docs/collector/building/receiver.md
Labels: copyedit, sig:collector

#6385 OTTL blog: prettier-directives tidy up
  content/en/blog/2025/ottl-contexts-just-got-easier.md
Labels: cleanup/refactoring, blog

#6391 Change wording of "size" to "number of spans".
  content/en/docs/languages/java/configuration.md
Labels: sig:java

#6195 [docs/collector] Clarify stance with regards to third-party instrumentation
  content/en/docs/collector/internal-telemetry.md
Labels: sig:collector

#6314 Fix http port on internal telemetry page
  content/en/docs/collector/internal-telemetry.md
Labels: sig:collector, sig-approval-missing

#6392 Update transformprocessor example
  content/en/docs/collector/transforming-telemetry.md
Labels: sig:collector

#6362 [demo] Add blog post about Demo 2.0
  content/en/blog/2025/otel-demo-2.md
  static/refcache.json
Labels: blog

#6398 [CI/i18n] Streamline includes and fix pt Aviso
  .markdownlint.json
  content/en/_includes/_index.md
  content/en/_includes/page-not-translated-msg.md
  content/en/docs/languages/_includes/_index.md
  content/en/docs/languages/_includes/instrumentation-intro.md
  content/en/docs/languages/js/_includes/browser-instrumentation-warning.md
  content/en/docs/languages/js/_index.md
  content/en/docs/languages/js/getting-started/browser.md
  content/en/docs/languages/js/instrumentation.md
  content/en/ecosystem/_includes/_index.md
  content/en/ecosystem/_includes/keep-up-to-date.md
  content/pt/_includes/_index.md
  content/pt/_includes/page-not-translated-msg.md
  content/pt/docs/languages/_includes/_index.md
  content/pt/docs/languages/_includes/instrumentation-intro.md
  content/pt/docs/languages/js/_includes/browser-instrumentation-warning.md
  content/pt/docs/languages/js/getting-started/browser.md
  hugo.yaml
Labels: CI/infra, i18n, sig:javascript, lang:pt

#6397 update protocol to http for internal collector metrics config
  content/en/docs/collector/internal-telemetry.md
Labels: sig:collector

#6404 [pt] Localize contributing/prerequisites.md
  content/pt/docs/contributing/prerequisites.md
Labels: lang:pt, docs-approval-missing

#6402 [pt] Fix anchor reference in python/_index.md
  content/pt/docs/languages/python/_index.md
Labels: lang:pt, docs-approval-missing

#6403 [pt] Localize contributing/_index.md
  content/pt/docs/contributing/_index.md
Labels: lang:pt, docs-approval-missing

#5718 Blog cncf.io repost by OTel CI/CD SIG
  content/en/blog/2025/otel-cicd-sig/SLSA-supply-chain-model.png
  content/en/blog/2025/otel-cicd-sig/index.md
  static/refcache.json
Labels: blog

#6408 [i18n] Update localization guidance
  content/en/docs/contributing/localization.md
  static/refcache.json
Labels: i18n

#6411 [CI] Report `http` scheme in URL unless localhost, fix links
  content/en/blog/2023/end-user-discussions-01.md
  content/en/blog/2023/end-user-discussions-02.md
  content/en/blog/2023/end-user-discussions-03.md
  content/en/blog/2023/end-user-discussions-04.md
  content/en/blog/2023/end-user-q-and-a-02.md
  content/en/blog/2023/otel-arrow/index.md
  content/en/blog/2024/cve-2024-36129.md
  content/en/docs/languages/python/mypy.md
  layouts/_default/_markup/render-link.html
  static/refcache.json
Labels: CI/infra, blog, sig:python

#6413 Update Hugo to 0.144.2 and other NPM packages
  package.json
  scripts/content-modules/adjust-pages.pl
Labels: CI/infra

#6292 [pt] Localize content/pt/docs/languages/python/getting-started.md
  content/pt/docs/languages/python/getting-started.md
Labels: lang:pt, docs-approval-missing

#6419 [ecosystem] Fix heading ID for included section
  content/en/ecosystem/_includes/keep-up-to-date.md
Labels: i18n

#6351 [ja] update content/ja/_index
  content/ja/_index.md
Labels: lang:ja, docs-approval-missing

#6333 [ja] update content/ja/docs/concepts/sampling/index page
  content/ja/docs/concepts/sampling/index.md
Labels: lang:ja, docs-approval-missing

#6415 docs: add pt keep-up-to-date.md
  content/pt/ecosystem/_includes/keep-up-to-date.md
  content/pt/ecosystem/adopters.md
  content/pt/ecosystem/distributions.md
  content/pt/ecosystem/integrations.md
  content/pt/ecosystem/vendors.md
Labels: lang:pt, docs-approval-missing

#6421 [registry] Add otelgoyek instrumenation library
  data/registry/instrumentation-go-goyek.yml
  static/refcache.json
Labels: registry

#6427 Specify correct annotation for span attributes
  content/en/docs/zero-code/java/agent/annotations.md
Labels: sig:java

#6416 [javascript] discontinue use of deprecated APIs
  content/en/docs/demo/services/frontend.md
  content/en/docs/languages/js/exporters.md
  content/en/docs/languages/js/instrumentation.md
  content/en/docs/languages/js/serverless.md
Labels: sig:javascript, sig:demo

#6437 [demo] update frontend browser sdk code
  content/en/docs/demo/services/frontend.md
Labels: sig:demo

#6444 [CI] check-i18n: add support for drifted_from_default field
  .github/workflows/check-i18n.yml
  package.json
  scripts/check-i18n.sh
Labels: CI/infra, i18n
