Repository open-telemetry/opentelemetry.io, pull requests merged in 2025-01, with the labels that each got.

#5862 Replace "oteps" repo references with "opentelemetry-specification" repo
  content/en/blog/2023/otel-arrow/index.md
  content/en/blog/2024/otel-arrow-production/index.md
  content/en/blog/2024/profiling.md
  content/en/docs/concepts/instrumentation/libraries.md
  content/en/docs/concepts/signals/_index.md
  content/ja/docs/concepts/instrumentation/libraries.md
  content/ja/docs/concepts/signals/_index.md
  content/pt/docs/concepts/instrumentation/libraries.md
  content/pt/docs/concepts/signals/_index.md
  content/zh/docs/concepts/signals/_index.md
  layouts/partials/docs/get-signal-status.html
Labels: blog, lang:zh, lang:ja, lang:pt

#5852 Fix typo in registry
  data/registry/tools-dotnet-aspire-dashboard.yml
  static/refcache.json
Labels: registry

#5867 Update NPM packages incl. Hugo to 0.140.2
  package.json
Labels: CI/infra

#5863 [ja] translate demo/_index and demo/architecture page into ja
  content/ja/docs/demo/_index.md
  content/ja/docs/demo/architecture.md
Labels: lang:ja

#5874 Blog section for 2025
  .htmltest.yml
  content/en/blog/2025/_index.md
  content/en/blog/_index.md
Labels: blog

#5876 Update 2024 year-in-review - link to cross-post
  content/en/blog/2024/year-in-review.md
  static/refcache.json
Labels: blog

#5875 [Blog] Fuzzing blog post - add link to CNCF blog
  content/en/blog/2024/fuzzing-audit-results.md
  static/refcache.json
Labels: blog

#5878 [ja] translate demo/development page into ja
  content/ja/docs/demo/development.md
Labels: lang:ja

#5883 Warn when blog posts are outdated
  layouts/blog/content.html
Labels: enhancement, blog

#5886 [CI] Add PR action for refcache refresh and refresh some entries
  .github/workflows/pr-actions.yml
  gulp-src/prune.js
  package.json
  static/refcache.json
Labels: CI/infra

#5885 Blog 2025 section: offer wishes and hope of articles to come
  content/en/blog/2025/_index.md
  layouts/blog/list.html
Labels: enhancement, blog

#5887 [CI] When updating submodules, also fetch tags
  package.json
Labels: CI/infra

#5864 [ja] add Japanese translation of "install the Collector"
  content/ja/docs/collector/installation.md
Labels: lang:ja

#5704 [Demo] Add info about React Native app
  .cspell/en-words.txt
  content/en/docs/demo/_index.md
  content/en/docs/demo/architecture.md
  content/en/docs/demo/services/_index.md
  content/en/docs/demo/services/react-native-app.md
  static/refcache.json
Labels: sig:demo

#5893 [CI] Refresh refcache, and fix NPM script name
  package.json
  static/refcache.json
Labels: CI/infra

#5890 Remove SYS_PTRACE
  content/en/docs/kubernetes/operator/automatic.md
Labels: sig:operator

#5897 Fixing broken link in architecture.md
  content/en/docs/demo/architecture.md
Labels: sig:demo

#5850 docs: Remove references to processor metrics that are no longer available
  content/en/docs/collector/internal-telemetry.md
Labels: sig:collector

#5905 Add otelcol_version
  content/en/docs/collector/custom-collector.md
Labels: sig:collector

#5748 feat: [es] create docs/contributing/prerequisites
  content/es/docs/contributing/prerequisites.md
Labels: lang:es

#5661 feat: [es] Create docs/languages/go/_index.md
  content/es/docs/languages/go/_index.md
  content/es/docs/languages/python/instrumentation.md
Labels: lang:es

#5908 Add example of configuring receivers for TLS
  content/en/docs/collector/configuration.md
Labels: sig:collector

#5907 Fix TS example for recording exceptions
  content/en/docs/languages/js/instrumentation.md
Labels: sig:javascript

#5901 Fix data type in yaml
  content/en/docs/collector/transforming-telemetry.md
Labels: sig:collector

#5789 Extending with custom manual instrumentation
  content/en/docs/languages/java/api.md
  content/en/docs/zero-code/java/agent/annotations.md
  content/en/docs/zero-code/java/agent/api.md
  content/en/docs/zero-code/java/spring-boot-starter/annotations.md
  content/en/docs/zero-code/java/spring-boot-starter/api.md
Labels: sig:java

#5923 [CI] refcache refresh and adjust prune Gulp task
  gulp-src/prune.js
  static/refcache.json
Labels: CI/infra

#5931 [Java] correct the resource property name
  content/en/docs/languages/java/configuration.md
Labels: sig:java

#5941 Update ad.md to fix ad service source link
  content/en/docs/demo/services/ad.md
Labels: sig:demo

#5944 [infra] Update NPM packages, except for markdownlint
  package.json
Labels: CI/infra

#5943 [CI] adjust-pages.pl: handle corner case of intra-spec links
  scripts/content-modules/adjust-pages.pl
Labels: CI/infra

#5940 [CI] Refcache refresh + update to ecosystem pages and list entries
  content/en/ecosystem/adopters.md
  content/en/ecosystem/vendors.md
  data/ecosystem/vendors.yaml
  static/refcache.json
Labels: CI/infra, end-user space

#5937 [ecosystem] Document registry curation policy and responsibilities
  content/en/ecosystem/adopters.md
  content/en/ecosystem/distributions.md
  content/en/ecosystem/integrations.md
  content/en/ecosystem/registry/updating.md
  content/en/ecosystem/vendors.md
  layouts/shortcodes/ecosystem/keep-up-to-date.md
Labels: docs, registry

#5952 [CI] Check links into github.com, excluding 4XXs for now
  .cspell.yml
  .htmltest.yml
  static/refcache.json
Labels: CI/infra

#5953 [CI] Fix some external links into GitHub, and clean up IgnoreURL rules
  .htmltest.yml
  content/en/blog/2024/otel-operator-q-and-a/index.md
  static/refcache.json
Labels: CI/infra, blog

#5954 [CI] Resolve and drop all github.com IgnoreURL rules for non-OTel orgs
  .htmltest.yml
  static/refcache.json
Labels: CI/infra

#5945 updating services md file to remove service suffix from source link url
  content/en/docs/demo/services/accounting.md
  content/en/docs/demo/services/checkout.md
  content/en/docs/demo/services/currency.md
  content/en/docs/demo/services/email.md
  content/en/docs/demo/services/payment.md
  content/en/docs/demo/services/product-catalog.md
  content/en/docs/demo/services/quote.md
  content/en/docs/demo/services/shipping.md
  static/refcache.json
Labels: sig:demo

#5955 [CI] Fix some github.com links into OTel org
  .htmltest.yml
  content/zh/docs/contributing/_index.md
  data/ecosystem/vendors.yaml
  data/registry/instrumentation-java-micrometer-tracing.yml
  scripts/content-modules/adjust-pages.pl
  static/refcache.json
Labels: CI/infra, registry, lang:zh

#5969 [CI] Improve spec adjust-pages to handle README.md paths to spec-external resources
  scripts/content-modules/adjust-pages.pl
Labels: CI/infra

#5970 [CI] Fix external links into opentelemetry-collector-contrib
  .htmltest.yml
  content/en/blog/2024/otel-collector-anti-patterns/index.md
  content/en/blog/2024/otel-collector-survey/index.md
  content/es/docs/kubernetes/collector/components.md
  static/refcache.json
Labels: CI/infra, blog, lang:es

#5973 [CI] Fixes github.com links for opentelemetry-dotnet-instrumentation and more
  .htmltest.yml
  content/en/blog/2024/otel-generative-ai/index.md
  content/en/docs/zero-code/net/_index.md
  data/registry/instrumentation-java-struts.yml
  static/refcache.json
Labels: blog, sig:dotnet, registry

#5977 Adding Missing cmd to add helm repo
  content/en/docs/kubernetes/helm/demo.md
Labels: sig:helm

#5974 [CI] Address semconv link to in-toto
  .htmltest.yml
  static/refcache.json
Labels: CI/infra

#5971 Remove Event API status
  content/en/docs/specs/status.md
Labels: sig:spec

#5927 [fr] Move new observability primer page
  content/fr/docs/concepts/observability-primer.md
  content/fr/docs/what-is-opentelemetry.md
Labels: lang:fr

#5993 Fix link in Deno instructions for operator
  content/en/docs/kubernetes/operator/automatic.md
Labels: sig:operator

#5980 Add daily semconv check
  .github/workflows/build-dev.yml
  .github/workflows/build-semconv-daily.yml
  .github/workflows/reusable-workflow-notification.yml
Labels: CI/infra

#6002 [infra] Better support for RSS and blog pages
  content/en/_index.md
  content/en/blog/2024/_index.md
  content/en/blog/2025/_index.md
  content/en/blog/_index.md
  content/es/_index.md
  content/fr/_index.md
  content/ja/blog/2024/_index.md
  content/ja/blog/_index.md
  content/pt/blog/2024/_index.md
  content/pt/blog/_index.md
  content/zh/blog/2024/_index.md
  content/zh/blog/_index.md
  hugo.yaml
  layouts/_default/rss.xml
Labels: CI/infra, blog, lang:zh, lang:ja, lang:pt, lang:es, lang:fr

#6013 Make collector mermaid diagrams darkmode compatible
  content/en/docs/collector/architecture.md
Labels: design/style, sig:collector

#6006 [i18n] Update commit hash for blog index pages
  content/fr/_index.md
  content/ja/blog/2024/_index.md
  content/ja/blog/_index.md
  content/pt/blog/2024/_index.md
  content/pt/blog/_index.md
  content/zh/blog/2024/_index.md
  content/zh/blog/_index.md
Labels: i18n, lang:zh, lang:ja, lang:pt, lang:fr

#6005 Fix load generator source link
  content/en/docs/demo/services/load-generator.md
  static/refcache.json
Labels: sig:demo

#6015 spelling: cspell:ignore
  content/en/blog/2023/humans-of-otel.md
  content/en/blog/2023/otel-in-focus-09.md
  content/en/blog/2023/otel-in-focus-10.md
  content/en/blog/2024/llm-observability.md
  content/en/docs/collector/configuration.md
  content/en/docs/collector/management.md
  content/en/docs/kubernetes/operator/automatic.md
  content/en/docs/languages/java/configuration.md
  content/en/docs/zero-code/java/agent/disable.md
  content/en/docs/zero-code/net/instrumentations.md
  data/registry/collector-receiver-openllmetry.yml
  layouts/shortcodes/ecosystem/vendor-table.md
Labels: sig:collector, blog, sig:dotnet, sig:java, sig:operator, registry

#6027 Ensure that spec front matter redirect path gets patched too
  scripts/content-modules/adjust-pages.pl
Labels: CI/infra, sig:spec

#6014 [chore] Spelling `a`...`container.id`
  .github/workflows/auto-update-community-members.yml
  .github/workflows/auto-update-registry.yml
  content/en/blog/2023/histograms-vs-summaries/index.md
  content/en/blog/2024/prometheus-compatibility-survey/index.md
  content/en/docs/concepts/resources/index.md
  content/en/docs/contributing/blog.md
  content/en/docs/demo/services/payment.md
  content/en/docs/languages/java/sdk.md
  content/en/docs/languages/js/resources.md
  data/registry-schema.json
Labels: blog, sig:java, sig:javascript, sig:demo

#6030 [editorial] Normalize section-local paths in context-propagation
  content/en/docs/concepts/context-propagation.md
Labels: copyedit

#6029 Use direct link rather than relref in blog post
  .cspell/en-words.txt
  content/en/blog/2023/exponential-histograms.md
Labels: blog

#6032 Use render-link hook to resolve references in specs
  content/en/docs/specs/status.md
  layouts/_default/_markup/render-link.html
  scripts/content-modules/adjust-pages.pl
Labels: CI/infra, sig:spec

#5966 Add blog post on the Go SIG's goals for 2025
  content/en/blog/2025/go-goals.md
  static/refcache.json
Labels: blog

#5964 [pt] feat: add languages python index localization
  content/pt/docs/languages/python/_index.md
Labels: lang:pt

#6020 [chore] Spelling: preexisting..system
  .github/workflows/scripts/check-i18n-helper.sh
  content/en/blog/2022/announcing-opentelemetry-demo-release/index.md
  content/en/blog/2022/announcing-opentelemetry-demo-release/system-architecture.png
  content/en/blog/2022/demo-announcement/index.md
  content/en/blog/2023/lambda-release.md
  content/en/blog/2024/otel-collector-container-log-parser/index.md
  content/en/docs/collector/troubleshooting.md
  content/en/docs/zero-code/java/spring-boot-starter/annotations.md
  templates/registry-entry.yml
Labels: sig:collector, blog, sig:java

#6019 [chore] Spelling it isn't... ...pratyush
  .github/workflows/survey-on-merged-pr.yml
  archetypes/blog.md
  content/en/blog/2022/instrument-nginx/index.md
  content/en/blog/2022/v1.0-trio.md
  content/en/blog/2024/go-contrib-removal.md
  content/en/docs/collector/custom-collector.md
  content/en/docs/kubernetes/collector/components.md
  content/en/docs/languages/net/shim.md
  data/ecosystem/adopters.yaml
Labels: sig:collector, blog, sig:dotnet

#6021 [chore] Spelling: walkthroughs + workaround
  content/en/blog/2022/announcing-opentelemetry-demo-release/index.md
  content/en/docs/collector/building/connector/index.md
Labels: sig:collector, blog

#6037 [chore] Spelling: the..typescript
  content/en/blog/2024/otel-operator-q-and-a/index.md
  content/en/blog/2024/prom-and-otel/index.md
  content/en/docs/concepts/components.md
  content/en/docs/faas/_index.md
  content/en/docs/languages/js/exporters.md
  scripts/registry-scanner/index.mjs
Labels: blog, sig:javascript

#6018 [chore] Spelling: dashboard...id
  content/en/blog/2024/otel-operator-q-and-a/index.md
  content/en/docs/demo/collector-data-flow-dashboard/index.md
  content/en/docs/demo/collector-data-flow-dashboard/otelcol-dashboard-process-metrics.png
  content/en/docs/demo/screenshots/grafana-jaeger.png
  content/en/docs/demo/screenshots/index.md
  content/en/docs/languages/java/api.md
  content/en/docs/languages/js/getting-started/browser.md
  scripts/htmltest-config.pl
  static/refcache.json
Labels: blog, sig:java, sig:javascript, sig:demo

#6036 [infra] Add textlint rules for work-around and walk-through
  .textlintrc.yml
  content/en/blog/2023/end-user-discussions-01.md
  content/en/docs/collector/building/connector/index.md
Labels: CI/infra, sig:collector, blog

#6026 [fr] Create context-propagation.md
  content/fr/docs/concepts/context-propagation.md
Labels: lang:fr

#6047 [CI] Don't apply spec patch if submodule is at HEAD
  scripts/content-modules/adjust-pages.pl
Labels: CI/infra

#6042 PHP docs minor fixes
  content/en/docs/languages/php/context.md
  content/en/docs/languages/php/instrumentation.md
  content/en/docs/languages/php/sdk.md
  content/en/docs/zero-code/php.md
Labels: sig:php

#6039 Fix go-goals front matter
  content/en/blog/2025/go-goals.md
Labels: CI/infra, cleanup/refactoring, blog

#6059 [CI] Fix 404 due to redirects, and more
  content/en/docs/collector/_index.md
  layouts/partials/redirects/aliases.txt
  scripts/content-modules/adjust-pages.pl
Labels: CI/infra, sig:collector

#5956 Add blog post on Go Compile-Time Instrumentation SIG
  content/en/blog/2025/go-compile-time-instrumentation.md
  static/refcache.json
Labels: blog

#6067 Editorial changes to Concepts > Signals
  content/en/docs/concepts/signals/_index.md
  content/en/docs/concepts/signals/baggage.md
  content/en/docs/concepts/signals/logs.md
  content/en/docs/concepts/signals/metrics.md
  content/en/docs/concepts/signals/otel-baggage-2.svg
  content/en/docs/concepts/signals/otel-baggage.svg
  content/en/docs/concepts/signals/traces.md
  content/en/docs/contributing/style-guide.md
  content/ja/docs/concepts/signals/baggage.md
  content/pt/docs/concepts/signals/baggage.md
  static/refcache.json
Labels: copyedit, lang:ja, lang:pt

#6055 [fr] create opentelemetry.io/content/fr/docs/concepts/signals/_index.…
  content/fr/docs/concepts/signals/_index.md
Labels: lang:fr

#6074 Glossary: add terms from style guide, and some rework
  content/en/docs/collector/management.md
  content/en/docs/concepts/glossary.md
  content/en/docs/contributing/style-guide.md
  content/en/docs/what-is-opentelemetry.md
  content/ja/docs/concepts/glossary.md
  content/pt/docs/concepts/glossary.md
  static/refcache.json
Labels: docs, copyedit, cleanup/refactoring, sig:collector, lang:ja, lang:pt

#6078 [CI/i18n/pt] Illustrate notes for pt and drop `_param` shortcode
  content/en/blog/2022/apisix/index.md
  content/en/blog/2022/debug-otel-with-otel/index.md
  content/en/blog/2022/demo-announcement/index.md
  content/en/blog/2022/instrument-apache-httpd-server/index.md
  content/en/blog/2022/instrument-nginx/index.md
  content/en/blog/2023/end-user-q-and-a-02.md
  content/en/docs/contributing/development.md
  content/en/docs/demo/docker-deployment.md
  content/en/docs/demo/tests.md
  content/en/docs/languages/js/_index.md
  content/en/docs/languages/js/getting-started/browser.md
  content/en/docs/languages/js/instrumentation.md
  hugo.yaml
  layouts/shortcodes/_param.md
Labels: CI/infra, i18n, blog, sig:javascript, sig:demo, lang:pt

#5967 K8s annotation discovery blogpost
  content/en/blog/2025/otel-collector-k8s-discovery.md
  static/refcache.json
Labels: blog

#6063 update PHP zero-code docs
  content/en/docs/zero-code/php.md
Labels: sig:php

#6090 chore: Update MRI to CRuby
  content/en/docs/languages/ruby/getting-started.md
Labels: sig:ruby

#6092 Update capitalization for JRuby and TruffleRuby
  content/en/docs/languages/ruby/getting-started.md
Labels: sig:ruby

#6089 [CI] More title normalization tweaks
  package.json
  scripts/content-modules/normalize-titles.pl
Labels: CI/infra

#6099 chore: Wrap backticks around TruffleRuby version
  content/en/docs/languages/ruby/getting-started.md
Labels: sig:ruby

#6103 [CI] Semconv: mount README.md as _index pages
  hugo.yaml
  layouts/_default/_markup/render-link.html
  scripts/content-modules/adjust-pages.pl
  scripts/content-modules/cp-pages.sh
  scripts/content-modules/normalize-titles.pl
  scripts/content-modules/print-spec-mounts.pl
  static/refcache.json
Labels: CI/infra, sig:spec

#6079 Add Go Auto-Instrumentation Beta Announcement Blog Post
  content/en/blog/2025/go-auto-instrumentation-beta.md
  static/refcache.json
Labels: blog

#6024 registry: add @fastify/otel to registry
  data/registry/instrumentation-js-fastify-otel.yml
  static/refcache.json
Labels: registry

#6107 [CI] Semconv: apply patch to remove path_base
  scripts/content-modules/adjust-pages.pl
Labels: CI/infra, sig:spec

#6071 [pt] Localize content/pt/docs/languages/js/getting-started/
  .cspell/pt-palavras.txt
  content/pt/docs/languages/js/getting-started/_index.md
  content/pt/docs/languages/js/getting-started/browser.md
  content/pt/docs/languages/js/getting-started/nodejs.md
Labels: lang:pt

#6124 Demo repo links: fix & check them all, update refcache
  .htmltest.yml
  content/en/blog/2023/testing-otel-demo/index.md
  content/en/docs/demo/_index.md
  content/en/docs/demo/docker-deployment.md
  content/en/docs/demo/services/cart/index.md
  content/en/docs/demo/services/image-provider.md
  content/es/docs/demo/_index.md
  content/ja/docs/demo/_index.md
  content/ja/docs/demo/architecture.md
  content/zh/docs/demo/_index.md
  static/refcache.json
Labels: blog, sig:demo, lang:zh, lang:ja, lang:es

#6123 Java metric guidelines link
  content/en/docs/languages/java/api.md
Labels: sig:java

#6118 Improve detection of site-local path written as external URL
  layouts/_default/_markup/render-link.html
Labels: CI/infra

#6072 Add blog post about the mainframe priorities survey
  content/en/blog/2025/otel-mainframe-priorities-survey.md
  static/refcache.json
Labels: blog

#6130 [chore] Refcache refresh + helper scripts
  .htmltest.yml
  package.json
  scripts/double-check-refcache-400s.mjs
  scripts/get-url-status.mjs
  static/refcache.json
Labels: CI/infra

#6137 [infra] Report localhost:1313 links
  .htmltest.yml
Labels: CI/infra

#6141 [CI] Include future posts in preview
  package.json
Labels: CI/infra

#6140 [CI] Push changes on link-check refcache diff
  .github/workflows/check-links.yml
Labels: CI/infra

#6143 [CI] Fix fix:dict and run it
  content/en/blog/2025/go-auto-instrumentation-beta.md
  content/en/blog/2025/otel-collector-k8s-discovery.md
  content/ja/docs/collector/installation.md
  content/ja/docs/concepts/instrumentation/code-based.md
  content/ja/docs/concepts/observability-primer.md
  content/ja/docs/concepts/signals/traces.md
  content/ja/docs/demo/_index.md
  content/ja/docs/demo/development.md
  content/pt/docs/languages/js/getting-started/nodejs.md
  content/pt/docs/languages/sdk-configuration/general.md
  content/zh/docs/concepts/observability-primer.md
  content/zh/docs/contributing/style-guide.md
  content/zh/docs/demo/_index.md
  package.json
Labels: CI/infra, blog, lang:zh, lang:ja, lang:pt

#6147 [CI] check-links: update code to push refcache etc
  .github/workflows/check-links.yml
Labels: CI/infra

#6145 [CI] Enforce no-trailing-spaces
  .editorconfig
  .markdownlint.json
  .prettierignore
  content/en/blog/2024/otel-governance/index.md
  content/en/docs/contributing/style-guide.md
  content/en/docs/kubernetes/operator/target-allocator.md
  content/es/docs/what-is-opentelemetry.md
  content/pt/docs/languages/js/getting-started/browser.md
  package.json
  scripts/check-markdown-wrapper.sh
  static/refcache.json
Labels: CI/infra, blog, sig:operator, lang:pt, lang:es

#6150 [pt] Update localized content on content/pt/blog/2024/docs-localized.md
  content/pt/blog/2024/docs-localized.md
Labels: lang:pt, docs-approval-missing

#5988 Added NGINX example load balancer of a gateway collector deployment
  content/en/docs/collector/deployment/gateway/index.md
Labels: sig:collector

#5979 Add the collector fluentforwardexporter to registry
  data/registry/collector-exporter-fluentforward.yml
  static/refcache.json
Labels: registry

#6132 docs(builder): remove 'otelcol_version' configuration parameter
  content/en/docs/collector/building/connector/index.md
  content/en/docs/collector/custom-collector.md
Labels: sig:collector
