Repository open-telemetry/opentelemetry.io, pull requests merged in 2025-03, with the labels that each got.

#6176 [docs] Improve pipeline section docs
  content/en/docs/collector/configuration.md
Labels: sig:collector

#6459 Update NPM packages, incl. Hugo to 0.145.0
  package.json
Labels: dependencies, CI/infra

#6425 [ja] update content/ja/docs/concepts/resources/index page
  content/ja/docs/concepts/resources/index.md
Labels: lang:ja, docs-approval-missing

#6424 [ja] update content/ja/docs/demo/development.md
  content/ja/docs/demo/development.md
Labels: lang:ja, docs-approval-missing

#6423 [ja] update content/ja/docs/demo/_index.md
  content/ja/docs/demo/_index.md
Labels: lang:ja, docs-approval-missing

#6422 [ja] update content/ja/docs/collector/_index.md page
  content/ja/docs/collector/_index.md
Labels: lang:ja, docs-approval-missing

#6401 [ja] Translate docs/languages/_index page
  content/ja/docs/languages/_index.md
Labels: lang:ja, docs-approval-missing

#6353 [ja] Add content/ja/docs/demo/collector-data-flow-dashboard/index.md
  content/ja/docs/demo/collector-data-flow-dashboard/index.md
Labels: lang:ja, docs-approval-missing

#6337 [ja] translate collector/distributions page
  content/ja/docs/collector/distributions.md
Labels: lang:ja, docs-approval-missing

#6438 [demo] rename demo services
  content/en/docs/demo/architecture.md
  content/en/docs/demo/feature-flags.md
  content/en/docs/demo/kubernetes-deployment.md
  content/en/docs/demo/requirements/architecture.md
  content/en/docs/demo/scenarios/recommendation-cache/index.md
  content/en/docs/demo/services/_index.md
  content/en/docs/demo/services/ad.md
  content/en/docs/demo/services/cart/index.md
  content/en/docs/demo/services/currency.md
  content/en/docs/demo/services/email.md
  content/en/docs/demo/services/load-generator.md
  content/en/docs/demo/services/payment.md
  content/en/docs/demo/services/recommendation.md
  content/en/docs/demo/services/shipping.md
  content/en/docs/demo/telemetry-features/manual-span-attributes.md
Labels: sig:demo

#6461 Blog post: Kubecon EU 2025 schedule
  content/en/announcements/kubecon-eu.md
  content/en/blog/2025/kubecon-eu.md
  static/refcache.json
Labels: blog

#6475 [i18n] Display page-outdated banner for non-en pages that have drifted
  content/ja/docs/collector/_index.md
  content/ja/docs/demo/architecture.md
  content/ja/docs/demo/feature-flags.md
  layouts/docs/td-content-after-header.html
  layouts/partials/i18n/fallback-page.html
  scripts/check-i18n.sh
Labels: CI/infra, i18n, lang:ja

#6390 Blog for AI Agent Observability
  content/en/blog/2025/ai-agent-observability/agent-agent-framework.png
  content/en/blog/2025/ai-agent-observability/ai-agent.png
  content/en/blog/2025/ai-agent-observability/index.md
  static/refcache.json
Labels: blog

#6476 [Collector] Slight rewording of distributions and release info
  content/en/docs/collector/_index.md
  content/en/docs/collector/distributions.md
Labels: copyedit, sig:collector, sig-approval-missing

#6483 [i18n] Update Do's and Don'ts of Localization guidance
  content/en/docs/contributing/localization.md
  static/refcache.json
Labels: i18n

#6487 Rework of What-is-OTel and Instrumentation pages
  content/en/docs/concepts/instrumentation/_index.md
  content/en/docs/what-is-opentelemetry.md
Labels: copyedit

#6494 [infra] Factor out include partial from shortcode
  content/en/docs/languages/_includes/index-intro.md
  layouts/partials/include.md
  layouts/shortcodes/docs/languages/index-intro2.md
  layouts/shortcodes/include.html
Labels: CI/infra, cleanup/refactoring, i18n

#6495 [CI] Warn about spec pages without level 1 headings
  scripts/content-modules/adjust-pages.pl
Labels: CI/infra, sig:semconv

#6426 [ja] fix drift of content/ja/docs/concepts/glossary page
  content/ja/docs/concepts/glossary.md
Labels: lang:ja, docs-approval-missing

#6492 [ja] fix drift of content/ja/docs/contributing/localization
  content/ja/docs/contributing/localization.md
Labels: lang:ja, docs-approval-missing

#6508 [ja] fix drift of content/ja/docs/concepts/instrumentation/_index
  content/ja/docs/concepts/instrumentation/_index.md
Labels: lang:ja, docs-approval-missing

#6510 [ja] fix drift of content/ja/docs/contributing/issues
  content/ja/docs/contributing/issues.md
Labels: lang:ja, docs-approval-missing

#6505 [ja] fix drift of content/ja/docs/demo/feautre-flags
  content/ja/docs/demo/feature-flags.md
Labels: lang:ja, docs-approval-missing

#6506 [ja] fix drift of content/ja/docs/collector/distributions
  content/ja/docs/collector/distributions.md
Labels: lang:ja, docs-approval-missing

#6509 [ja] fix drift of content/ja/docs/contributing/pull-requests
  content/ja/docs/contributing/pull-requests.md
Labels: lang:ja, docs-approval-missing

#6507 [ja] fix drift of content/ja/docs/collector/_index
  content/ja/docs/collector/_index.md
Labels: lang:ja, docs-approval-missing

#5900 [ja] translate collector/deployment into ja
  content/ja/docs/collector/deployment/_index.md
  content/ja/docs/collector/deployment/agent.md
  content/ja/docs/collector/deployment/gateway/index.md
  content/ja/docs/collector/deployment/no-collector.md
Labels: lang:ja, docs-approval-missing

#6489 [ja] translate "AI Agent Observability - Evolving Standards and Best Practices" blog post
  content/ja/blog/2025/_index.md
  content/ja/blog/2025/ai-agent-observability/index.md
  content/ja/blog/_index.md
Labels: lang:ja

#6529 [ja] translated contributing/pr-checks into ja
  content/ja/docs/contributing/pr-checks.md
Labels: lang:ja, docs-approval-missing

#6522 docs: translated demo/requirements into ja
  content/ja/docs/demo/requirements/_index.md
Labels: lang:ja, docs-approval-missing

#6532 [ja] translate SDK configurations
  content/ja/docs/languages/sdk-configuration/_index.md
  content/ja/docs/languages/sdk-configuration/general.md
  content/ja/docs/languages/sdk-configuration/otlp-exporter.md
Labels: lang:ja, docs-approval-missing

#6536 [ja] translated contributing/development into ja
  content/ja/docs/contributing/development.md
Labels: lang:ja, docs-approval-missing

#6539 [ja] translated contributing/acknowledgements into ja
  content/ja/docs/contributing/acknowledgements.md
Labels: lang:ja, docs-approval-missing

#6546 Updated description/ details for Purview.Telemetry.SourceGenerator in Registry
  data/registry/tools-dotnet-purview-telemetry-sourcegenerator.yml
  static/refcache.json
Labels: sig:dotnet, registry

#6543 Add docs for @WithSpan params.
  content/en/docs/zero-code/java/agent/annotations.md
  content/ja/blog/2025/ai-agent-observability/index.md
  content/ja/docs/collector/deployment/agent.md
  content/ja/docs/collector/deployment/gateway/index.md
  content/ja/docs/what-is-opentelemetry.md
  content/pt/docs/concepts/instrumentation/_index.md
  static/refcache.json
Labels: sig:java, lang:ja, lang:pt

#6547 [CI] cSpell config tweak
  .cspell.yml
Labels: CI/infra, cleanup/refactoring

#6550 Add video link to what-is-opentelemetry page
  content/en/docs/what-is-opentelemetry.md
  static/refcache.json
Labels: enhancement, docs

#6515 Fix Rust getting started
  content/en/docs/languages/rust/getting-started.md
  data/registry/exporter-rust-stdout.yml
  data/registry/otel-rust-sdk.yml
  data/registry/otel-rust.yml
Labels: blog, sig:java, sig:rust, registry, lang:ja, lang:pt

#6542 Add OTel Observatory calendar link to KubeCon EU 25 blog post
  content/en/blog/2025/kubecon-eu.md
  static/refcache.json
Labels: blog

#6552 Kubecon post edits of Observatory section
  content/en/blog/2025/kubecon-eu.md
Labels: copyedit, blog

#6441 [javascript] move to SDK 2.x
  content/en/docs/languages/js/_index.md
  content/en/docs/languages/js/instrumentation.md
  content/en/docs/languages/js/resources.md
  content/en/docs/languages/js/serverless.md
Labels: sig:javascript

#6565 fix: content/en/docs/languages/python/exporters.md
  content/en/docs/languages/python/exporters.md
Labels: bug, sig:python

#6554 [pt] Add localization content/pt/docs/languages/python/libaries.md
  content/pt/docs/languages/python/libraries.md
Labels: lang:pt, docs-approval-missing

#6563 [pt] Add localization content/pt/docs/languages/python/exporter.md
  content/pt/docs/languages/python/exporters.md
Labels: lang:pt, docs-approval-missing

#6581 [i18n] Convert docs/exporter shortcodes into includes
  content/en/docs/languages/_includes/exporters/jaeger.md
  content/en/docs/languages/_includes/exporters/outro.md
  content/en/docs/languages/_includes/exporters/prometheus-setup.md
  content/en/docs/languages/_includes/exporters/zipkin-setup.md
  content/en/docs/languages/cpp/exporters.md
  content/en/docs/languages/js/exporters.md
  content/en/docs/languages/net/exporters.md
  content/en/docs/languages/python/exporters.md
  content/pt/docs/languages/python/exporters.md
Labels: CI/infra, cleanup/refactoring, i18n, sig:cpp, sig:dotnet, sig:javascript, sig:python, lang:pt

#6570 [Registry] Add GCP Auth Extension for OTel Java
  data/registry/extension-java-auth-gcp.yml
  static/refcache.json
Labels: registry

#6572 [en]chore: refine Metric Gauges usage in Go SDK
  content/en/docs/languages/go/instrumentation.md
Labels: sig:go

#6588 docs: correct the java retry disabled environment name
  content/en/docs/languages/java/configuration.md
Labels: sig:java

#6583 [i18n] Separate prose out of Convert docs/exporter/intro.md, and other improvements
  .prettierignore
  content/en/docs/_includes/exporters/intro.md
  content/en/docs/languages/cpp/exporters.md
  content/en/docs/languages/erlang/exporters.md
  content/en/docs/languages/go/exporters.md
  content/en/docs/languages/js/exporters.md
  content/en/docs/languages/net/exporters.md
  content/en/docs/languages/php/exporters.md
  content/en/docs/languages/python/exporters.md
  content/en/docs/languages/ruby/exporters.md
  content/en/docs/languages/rust/exporters.md
  content/pt/docs/languages/python/exporters.md
  layouts/partials/include.md
  layouts/shortcodes/docs/languages/exporters/intro.md
  layouts/shortcodes/include.html
Labels: CI/infra, i18n, sig:cpp, sig:dotnet, sig:go, sig:erlang, sig:javascript, sig:php, sig:python, sig:rust, sig:ruby, lang:pt

#6530 [ja] translated contributing/announcements into ja
  content/ja/docs/contributing/announcements.md
Labels: lang:ja, docs-approval-missing

#6593 Test-and-fix results
  .gitignore
  content/en/announcements/contribex-survey.md
  content/ja/docs/collector/_index.md
  content/ja/docs/concepts/instrumentation/_index.md
  content/pt/docs/languages/python/exporters.md
Labels: cleanup/refactoring

#6595 [i18n] Introduce `notranslate` convention and guidance
  content/en/docs/contributing/localization.md
  content/en/docs/contributing/pr-checks.md
Labels: docs, i18n

#6590 [IA] Rename `net` to `dotnet` in `/docs/{languages,zero-code}/net`, add redirects and adjust links
  .htmltest.yml
  content/en/blog/2022/frontend-overhaul/index.md
  content/en/blog/2023/end-user-discussions-03.md
  content/en/blog/2023/otel-dotnet-auto-instrumentation.md
  content/en/blog/2023/otel-in-focus-02.md
  content/en/blog/2023/otel-in-focus-05.md
  content/en/blog/2023/otel-in-focus-06.md
  content/en/blog/2023/otel-in-focus-07.md
  content/en/blog/2023/otel-in-focus-08.md
  content/en/blog/2023/otel-in-focus-09.md
  content/en/blog/2023/otel-in-focus-10.md
  content/en/docs/concepts/instrumentation/zero-code/index.md
  content/en/docs/getting-started/dev.md
  content/en/docs/languages/_index.md
  content/en/docs/languages/dotnet/_index.md
  content/en/docs/languages/dotnet/examples.md
  content/en/docs/languages/dotnet/exporters.md
  content/en/docs/languages/dotnet/getting-started.md
  content/en/docs/languages/dotnet/instrumentation.md
  content/en/docs/languages/dotnet/libraries.md
  content/en/docs/languages/dotnet/metrics-api.md
  content/en/docs/languages/dotnet/netframework.md
  content/en/docs/languages/dotnet/registry.md
  content/en/docs/languages/dotnet/resources.md
  content/en/docs/languages/dotnet/shim.md
  content/en/docs/languages/dotnet/traces-api.md
  content/en/docs/migration/opentracing.md
  content/en/docs/platforms/kubernetes/operator/automatic.md
  content/en/docs/zero-code/_index.md
  content/en/docs/zero-code/dotnet/_index.md
  content/en/docs/zero-code/dotnet/configuration.md
  content/en/docs/zero-code/dotnet/custom.md
  content/en/docs/zero-code/dotnet/getting-started.md
  content/en/docs/zero-code/dotnet/instrumentations.md
  content/en/docs/zero-code/dotnet/nuget-packages.md
  content/en/docs/zero-code/dotnet/troubleshooting.md
  content/es/docs/getting-started/dev.md
  content/ja/docs/concepts/instrumentation/zero-code/index.md
  content/ja/docs/getting-started/dev.md
  content/pt/docs/concepts/instrumentation/zero-code/index.md
  content/pt/docs/getting-started/dev.md
  content/zh/docs/getting-started/dev.md
  layouts/shortcodes/apidocs.md
  layouts/shortcodes/signal-support-table.md
  layouts/shortcodes/telemetry-support-table.md
Labels: cleanup/refactoring, blog, IA, lang:zh, lang:ja, lang:pt, lang:es

#6598 Update status of links with fragments in refcache.json
  static/refcache.json
Labels: CI/infra, cleanup/refactoring

#6512 New Blog Post: Reflecting on My Outreachy Journey: Growth, Challenges, and New Beginnings
  content/en/blog/2025/outreachy-internship.md
  static/refcache.json
Labels: blog

#6613 Update cicd slack channel in blog post
  content/en/blog/2025/otel-cicd-sig/index.md
Labels: blog

#6574 [blog] Announce JS SDK 2.0
  content/en/blog/2025/otel-js-sdk-2-0.md
  static/refcache.json
Labels: blog

#6617 Nit fix to collector doc
  content/en/docs/collector/_index.md
Labels: sig:collector

#6511 [ja] fix drift of content/ja/docs/what-is-opentelemetry
  content/ja/docs/what-is-opentelemetry.md
Labels: lang:ja, docs-approval-missing

#6538 [ja] translated contributing/sig-practices into ja
  content/ja/docs/contributing/sig-practices.md
Labels: lang:ja, docs-approval-missing
